<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-cf-ui-constructor-screen-pad class="screen-pad-body">
    <form [formGroup]="redAddrForm" class="form">
      <div class="item" *ngFor="let field of (data$ | async)?.attrs?.fields">
        <epgu-constructor-label
          [tips]="field?.attrs?.labelHint"
          [attr.for]="field.fieldName"
          [label]="field.label"
        ></epgu-constructor-label>

        <ng-container [ngSwitch]="field.fieldName">
          <epgu-constructor-constructor-dadata-widget
            *ngSwitchCase="'regAddr'"
            [simpleMode]="true"
            [hideLevels]="(data$ | async)?.attrs?.hideLevels || []"
            [hideHouseCheckbox]="false"
            [externalApiUrl]="config.externalApiUrl + '/'"
            [id]="field.fieldName"
            [validationShowOn]="field.validationShowOn || validationShowOn"
            [invalid]="redAddrForm.get(field.fieldName).invalid"
            [control]="redAddrForm.get(field.fieldName)"
            [clearable]="true"
            [suggestions]="classifiedSuggestionItems['regAddr']"
            (selectSuggest)="suggestHandlerService.handleEvent($event, null)"
          >
          </epgu-constructor-constructor-dadata-widget>

          <epgu-constructor-constructor-date-picker
            *ngSwitchCase="
              ['regFrom', 'regTo', 'regDate'].includes(field?.fieldName)
                ? field?.fieldName
                : !field?.fieldName
            "
            [minDate]="field.attrs?.minDate || '-50y'"
            [maxDate]="field.attrs?.maxDate || '+50y'"
            class="item__data"
            align="left"
            [validationShowOn]="validationShowOn"
            [id]="field.fieldName"
            [invalid]="redAddrForm.controls[field.fieldName].invalid"
            [control]="redAddrForm.get(field.fieldName)"
            [disabled]="field.disabled"
            [clearable]="true"
            [brokenDateFixStrategy]="brokenDateFixStrategy"
          >
          </epgu-constructor-constructor-date-picker>

          <epgu-constructor-constructor-plain-input
            [textTransformType]="(data$ | async)?.attrs?.fstuc"
            [id]="field.fieldName"
            [validationShowOn]="validationShowOn"
            [invalid]="redAddrForm.controls[field.fieldName].invalid"
            [control]="$any(redAddrForm.get(field.fieldName))"
            [suggestions]="classifiedSuggestionItems[field.fieldName]"
            (selectSuggest)="suggestHandlerService.handleEvent($event, null)"
            *ngSwitchDefault
          ></epgu-constructor-constructor-plain-input>
        </ng-container>

        <epgu-constructor-helper-text *ngIf="field.hint" class="item__helper-text">{{
          field.hint
        }}</epgu-constructor-helper-text>
      </div>
      <div class="error" *ngIf="error$ | async as errorText">
        <small>{{ errorText }}</small>
      </div>
      <div class="item hint-wrapper" *ngIf="(data$ | async)?.attrs?.hints as hints">
        <!--Хинты связываются на текущую дату, и получается текущая дата + timestamp из хинта и кладём в regTo-->
        <div class="item__hint" *ngFor="let hint of hints" (click)="hintClick(hint)">
          {{ hint.label }}
        </div>
      </div>
    </form>
  </epgu-cf-ui-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
