@import '../../../../../../../styles/core/index';

$item-hint-mx: 13px;
:host {
  display: block;
}

.item {
  &__data {
    display: block;
    width: 50%;

    @include phones-down {
      width: 100%;
    }
  }

  &__hint {
    background: $color-light-gray;
    border-radius: 4px;
    padding: 12px;
    margin: $item-hint-mx $item-hint-mx 0;
    cursor: pointer;

    &:hover {
      background: $color-hawkes-blue;
    }
  }

  &__helper-text {
    display: block;
    margin-top: 8px;
  }
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.hint-wrapper {
  margin-left: -$item-hint-mx;
  margin-right: -$item-hint-mx;
  margin-top: -$item-hint-mx;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 14px 16px;
  background: $color-input;
}

.error {
  font-size: $font-sm;
  color: $color-gosred;
  margin-top: 7px;
}
