@import "functions";
@import "variables";

.btn {
  border-radius: 4px;
  cursor: pointer;
}
.btn--light {
  @extend %shadow;
  background: $white;
  color: $egyptian-blue;
  &:hover {
    background: $royal-blue;
    color: $white;
  }
  &:active {
    background: $egyptian-blue;
    color: $white;
  }
}

.btn--primary {
  background-color: $egyptian-blue;
  box-shadow: none;
  color: $white;
}
