// Variables

// Color system

$white: #fff;
$black: #000;
$egyptian-blue: #0B40B3;
$royal-blue: #1D5DEB;
$denim: #0D4CD3;
$nero: #292929;
$quartz: #F3F5FB;
$dark-grey: #515A63;
$summer-night: #0B1F33;
$bg-disable: #D1D5DF;
$gosblue: #0D4CD3;
$gosred: #EE3F58;
$button-hit: #0B40B3;
$bg-requirements-list: #F3F5FB;
/* TODO: add the rest colors */
$storm-gray: #76767A;
$quartz: #CED9F0;
$light-gray: #F3F5FB;


// fonts
$primary_font: Lato, sans-serif;
$secondary_font: ALS Ekibastuz, sans-serif;
$tertiary_font: Helvetica Neue, sans-serif;
$quaternary_font: Helvetica, sans-serif;
//$quinary_font:
//$senary_font:
//$septenary_font:
//$octonary_font:
//$nonary_font:

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font size
//$font-xs: 12px;
//$font-sm: 14px;
//$font-md: 18px;
//$font-lg: 20px;
