@import '../../../../../../../../../styles/variables';
@import '../../../../../../../../../styles/breakpoint';
@import '../../../../../../../../../styles/functions';

:host {
  display: block;
}

.label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 14px 16px;
  background: $input;
  &__input {
    padding: 0;
  }
}
