.wrapper {
  display: flex;
  justify-content: center;
}

.test {
  width: 30%;
  min-height: 231px;
  margin-bottom: 24px;
  background: green;
}

.scroll {
  max-height: 500px;
  //max-height: calc(100vh - 64px - 368px - 292px - 156px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 64px 0;
}
