@import '../../../../../styles/core';

:host {
  display: block;
  margin: 0 0 4px;
}
.label {
  display: block;
  text-align: left;
  color: $color-summer-night;
  @include typ-plain-small;

  &::first-letter {
    text-transform: uppercase;
  }

  &--text-helper-color {
    color: $color-text-helper;
    @include typ-plain-text;
  }
}
