<epgu-constructor-screen-pad *ngIf="carInfoErrors?.externalCommon; else carInfoBlock">
  <ng-container
    *ngTemplateOutlet="templateError;
        context: { iconClass: (carInfoErrors.externalCommon.type | errorTemplate).icon ,
         title: (carInfoErrors.externalCommon.type | errorTemplate).title,
         text: carInfoErrors.externalCommon.text}"
  ></ng-container>
</epgu-constructor-screen-pad>

<ng-template #carInfoBlock>
  <epgu-constructor-screen-pad class="car__info--block">
    <div *ngIf="carInfoErrors?.vehicle; else vehicleInfo">
      <h5 class="car__info--title">Информация о регистрации ТС</h5>

      <div class="car-info-group">
        <ng-container
          *ngTemplateOutlet="templateError;
        context: { iconClass: (carInfoErrors.vehicle.type | errorTemplate).icon ,
         title: (carInfoErrors.vehicle.type | errorTemplate).title,
         text: carInfoErrors.vehicle.text}"
        ></ng-container>
      </div>

      <div class="car-info-divider"></div>
    </div>

    <ng-template #vehicleInfo>
      <div>
        <h5 class="car__info--title">Регистрация ТС</h5>

        <div class="car-info-group">
          <div class="car-info-item">
            <div class="car__info--subtitle">Статус в ГИБДД</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.status | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Последняя операция</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.lastRegActionName | defaultValue }}</div>
          </div>
        </div>


        <div class="car-info-divider"></div>
      </div>

      <div>
        <h5 class="car__info--title">Технические данные</h5>

        <div class="car-info-group">
          <div class="car-info-item">
            <div class="car__info--subtitle">Марка и модель</div>
            <div class="car__info--item">
              {{ carInfo?.vehicleInfo?.modelMarkName | modelMarkName : carInfo?.vehicleInfo?.markName
              : carInfo?.vehicleInfo?.modelName  | defaultValue }}
            </div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Год выпуска</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.manufacturedYear | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Идентификационный номер (VIN)</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.vin | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Номер шасси (рамы)</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.chassisNumber | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Номер кузова (кабины)</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.carcaseNumber | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Цвет кузова (кабины)</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.carcaseColor | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Рабочий объём (куб.см)</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.engineVolume | defaultValue }}</div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Мощность (кВТ/л.с.)</div>
            <div class="car__info--item">
              {{ carInfo?.vehicleInfo?.enginePowerVt | enginePower: carInfo?.vehicleInfo?.enginePowerHorse | defaultValue }}
            </div>
          </div>

          <div class="car-info-item">
            <div class="car__info--subtitle">Тип транспортного средства</div>
            <div class="car__info--item">{{ carInfo?.vehicleInfo?.vehicleType | defaultValue}}</div>
          </div>

        </div>

        <div class="car-info-divider"></div>
      </div>

      <div *ngIf="carInfo?.vehicleInfo?.ownerPeriods?.length > 0">
        <h5 class="car__info--title">Владельцы</h5>

        <div class="car-info-group">

          <div class="car-info-item" *ngFor="let ownerPeriod of carInfo?.vehicleInfo?.ownerPeriods">
            <div class="car__info--subtitle">{{ ownerPeriod.ownerType }}</div>
            <div class="car__info--item">{{ownerPeriod.dateStart | carDate : ownerPeriod.dateEnd | defaultValue}}</div>
          </div>


        </div>

        <div class="car-info-divider"></div>
      </div>

    </ng-template>

    <div>
      <h5 class="car__info--title">Юридическая чистота</h5>

      <div class="car-info-group">


        <div class="car-info-item">
          <div class="car__info--subtitle">Находится в розыске</div>
          <div class="car__info--item">{{ carInfo?.vehicleInfo?.searchingTransportFlag | yesNo }}</div>
        </div>

        <div class="car-info-item">
          <div class="car__info--subtitle">Сведения об ограничениях</div>
          <div class="car__info--item">{{ carInfo?.vehicleInfo?.restrictionsFlag | yesNo }}</div>
        </div>

        <div class="car-info-item" *ngFor="let restriction of carInfo?.vehicleInfo?.restrictions">
          <div class="car__info--subtitle">Вид ограничения</div>
          <div class="car__info--item">{{ restriction.restrictionType | defaultValue }}</div>
          <epgu-constructor-expansion-link>
            <div class="car-info-details">
              <div class="car-info-item">
                <div class="car__info--subtitle">Статус</div>
                <div class="car__info--item">{{ restriction.status | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Дата наложения ограничения</div>
                <div class="car__info--item">{{ restriction.enforcementProceedingsDate | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Регион инициатора</div>
                <div class="car__info--item">{{ restriction.initiateRegion | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Подразделение ГИБДД</div>
                <div class="car__info--item">{{ restriction.gibddDepart | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Основание</div>
                <div class="car__info--item">{{ restriction.mainReason | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Формулировка</div>
                <div class="car__info--item">{{ restriction.restrictionDesc | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Номер исполнительного производства</div>
                <div class="car__info--item">{{ restriction.enforcementProceedingsNumber  | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Дата возбуждения исполнительного производства</div>
                <div class="car__info--item">{{ restriction.enforcementProceedingsDate  | defaultValue }}</div>
              </div>
              <div class="car-info-item">
                <div class="car__info--subtitle">Наименование исполнительного производства</div>
                <div class="car__info--item">{{ restriction.enforcementProceedingsName  | defaultValue }}</div>
              </div>
            </div>
          </epgu-constructor-expansion-link>
        </div>

      </div>

      <div class="car-info-divider"></div>
    </div>

    <div>
      <h5 class="car__info--title">Проверка в Федеральной нотариальной палате</h5>

      <div class="car-info-group" *ngIf="carInfoErrors?.notary; else notaryItem">
        <ng-container
          *ngTemplateOutlet="templateError;
        context: {iconClass: (carInfoErrors.notary.type | errorTemplate).icon ,
         title: (carInfoErrors.notary.type | errorTemplate).title, text: this.carInfoErrors.notary.text}"
        ></ng-container>
      </div>

      <ng-template #notaryItem>
        <div class="car-info-group">

          <div class="car-info-item">
            <div class="car__info--subtitle">Находится в залоге</div>
            <div class="car__info--item">{{ carInfo?.notaryInfo?.isPledged | yesNo }}</div>
          </div>
        </div>
      </ng-template>

    </div>

  </epgu-constructor-screen-pad>

  <div class="car-info-text-helper"> Данные о транспортном средстве предоставлены из официальной базы ГИБДД</div>

</ng-template>

<ng-template #templateError let-iconClass="iconClass" let-title="title" let-text="text">
  <div class="car-info-item car-info-error">
    <div class="car-info-error-title">
      <div class="car-info-error-icon {{iconClass}}"></div>
      <div>{{title}}</div>
    </div>
    <div class="car-info-error-label">
      <epgu-constructor-output-html [html]="text"></epgu-constructor-output-html>
    </div>
  </div>
</ng-template>
