@import "../../../../../../../styles/core";

.car__info--title {
  margin-bottom: 12px;
}

.car__info--subtitle {
  @include typ-plain-text;
  color: $color-text-helper;
  margin-bottom: 4px;
}

.car__info--block:not(:last-child) {
  margin-bottom: 16px;
}

.car__info--item {
  @include typ-plain-text;

  .bold {
    font-weight: bold;
  }
}

.car-info-divider {
  margin: 24px 0;
  background: $color-divider;
  height: 1px;
  width: 100%;
}

.car-info-item:not(:last-child) {
  margin-bottom: 16px;
}

.car-info-text-helper {
  @include typ-plain-small;
  color: $color-text-helper
}

.car-info-details {
  margin: 16px 0;
}

.car-info-error-title {
  @include typ-h6;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.car-info-error-label {
  @include typ-plain-small;
  color: $color-text-helper;
}

.car-info-error-icon {
  width: 24px;
  height: 4px;
  margin-right: 8px;
}

.car-info-not-found-error {
  background: $color-giallo-brillante;
}
.car-info-internal-error {
  background: $color-gosred;
}

.car-info-error {
  margin-top: 24px;
}

