<lib-multiline-input
  epgu-constructor-text-transform
  epgu-constructor-validation-type
  epgu-constructor-trim
  [textTransformType]="textTransformType"
  [invalid]="invalid"
  [id]="id"
  [formControl]="control"
  [validationShowOn]="validationShowOn"
  [readOnly]="readOnly"
  [placeholder]="placeholder"
  [maxlength]="maxlength"
  [pattern]="pattern"
  [component]="component"
  [contextClass]="contextClass"
  [tabIndex]="tabIndex"
  [disabled]="disabled"
  [commitOnInput]="commitOnInput"
  [fullHeightScroll]="fullHeightScroll"
  [width]="width"
  [isMultiline]="true"
></lib-multiline-input>
