<epgu-constructor-confirm-personal-user-screen-layout>
  <div class="body">
    <epgu-constructor-confirm-personal-user-data
      [data]="data"
    ></epgu-constructor-confirm-personal-user-data>
  </div>

  <div class="footer">
    <ng-container #actions *ngIf="data?.attrs?.actions?.length > 1">
      <epgu-constructor-confirm-personal-user-button
        class="confirm-personal-user-button"
        *ngFor="let action of data?.attrs?.actions"
        (tap)="clickToAction(action)"
        [action]="action.action"
        >{{ action.label }}</epgu-constructor-confirm-personal-user-button
      >
    </ng-container>
  </div>
</epgu-constructor-confirm-personal-user-screen-layout>
