@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/breakpoint';
@import '../../../../../../../styles/functions';

.add-children-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__card {
    background-color: $white;
    box-shadow: 0px 24px 48px $box-shadow-color;
    border-radius: 12px;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
  &__form {
    margin-top: 32px;
  }
  &__action {
    margin-top: 24px;
  }
}

.card {
  &__wrapper {
    padding: 24px;
  }
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    font-weight: $fw-bold;
  }
  &__close {
    margin-left: auto;
  }
  &__content {
    margin-top: 24px;
  }
  &__select {
    & select {
      width: 100%;
    }
  }
  & .button-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transform: translateX(2px);
  }
}

.button {
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  background: $white;
  color: $gosblue;
  @include tablets-up {
    padding: 24px 24px;
    @include shadow-main();
  }
  &__label {
    cursor: pointer;
  }
}

.title {
  text-align: center;
  &::ng-deep span {
    color: $gray;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary_font;
  margin-top: 8px;
  @include tablets-up {
    margin-top: 32px;
  }
}
