<app-navigation></app-navigation>

<div class="head">
  <h3 class="title" [innerHTML]="headerMapped[sectionId]"></h3>
</div>

<section class="add-children-screen">
  <section *ngIf="sectionId === 1">
    <div
      class="add-children-screen__card"
      *ngFor="let child of childrenSelectList"
    >
      <div class="card">
        <div class="card__wrapper">
          <div class="card__header">
            <div class="card__title">Ребенок {{ child?.id }}</div>
            <div class="card__close">
              <button (click)="removeChild(child?.id)" class="button-close">
                <div class="icon-close"></div>
              </button>
            </div>
          </div>
          <div class="card__content">
            <div>
              <app-label for="childrenList">
                Выберите ребенка из вашего профиля
              </app-label>
            </div>
            <div class="card__select">
              <lib-dropdown
                id="childrenList"
                (changed)="handleSelect($event)"
                [items]="childrenSelectList"
              ></lib-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-children-screen__form" *ngFor="let child of childrenList">
      <app-add-new-child-form
        *ngIf="child.isNew === true"
        (ngModel)="child"
        [data]="{
          childrenSelectList: childrenSelectList,
          childrenList: childrenList,
          child: child
        }"
        (removeChildEvent)="removeChild($event)"
        (childUpdateEvent)="updateChild($event)"
      ></app-add-new-child-form>
    </div>

    <div class="add-children-screen__action">
      <button class="add-children-screen__button button" (click)="addNewChild()">
        <label class="button__label">Добавить ребенка</label>
      </button>
    </div>
  </section>

  <section class="add-children-screen__birth-certificate" *ngIf="sectionId === 2">
    <app-birth-certificate [data]="selectedChildrenList" (childUpdateEvent)="updateChild($event)"></app-birth-certificate>
  </section>

  <section *ngIf="sectionId === 3">
    <app-child-relationship [gender]="valueParsed?.gender" (answerSelect)="handleAnswerSelect($event)"></app-child-relationship>
  </section>

  <section *ngIf="sectionId === 4">
    <app-confirm-child-address
      [actions]="actionsList"
      [userAddress]="{
        registrationAddress: valueParsed?.registrationAddress,
        registrationAddressDate: valueParsed?.registrationAddressDate
      }"
      [data]="data"
      [childrenData]="selectedChildrenList"
    ></app-confirm-child-address>
  </section>

  <section class="footer">
    <lib-button
      (click)="nextStep()"
      class="footer__btn-submit"
      *ngIf="sectionId !== 3 && sectionId !== 4"
    >
      <div class="secondary-font">
        {{ data?.submitLabel || 'Продолжить' }}
      </div>
    </lib-button>
  </section>
</section>
