@import "../../../styles/variables";
@import "../../../styles/breakpoint";

:host{
  display: inline-block;
  width: 100%;
  text-align: center;
  //@include tablets-up {
  //  text-align: left;
  //}

  @include tablets-down {
    & {
      margin-bottom: 24px;
    }
  }

  @include tablets-up {
    & {
      margin-bottom: 32px;
    }
  }
}
h1 {
  font-size: 24px;
  line-height: 34px;
  // @include tablets-up {
  //   font-size: 24px;
  // }
}
