<app-confirm-personal-user-screen-layout>
  <div class="body">
    <app-confirm-personal-user-address
      [data]="data"
      (dataEditedEvent)="dataChange($event)"
      [isEditable]="isEditable"></app-confirm-personal-user-address>
  </div>

  <div class="footer">
    <app-confirm-personal-user-button
      *ngFor="let action of data?.attrs?.actions"
      (tap)="clickToAction(action)">
      {{ action.label }}
    </app-confirm-personal-user-button>
  </div>
</app-confirm-personal-user-screen-layout>
