@import "src/styles/core";

.change-list {

  &__input {
    margin-bottom: 20px;

    &--date {
      width: 50%;
    }
  }

  &__button {
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    margin: 10px auto;
  }
}

.chg-l-item {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $color-gray;
}
