<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <div *ngIf="header" class="head">
    <epgu-constructor-page-name>{{ header }}</epgu-constructor-page-name>
  </div>

  <div class="payment" [class.inloading]="inLoading" [ngSwitch]="status">
    <div class="info" *ngSwitchCase="paymentStatus.SUCCESS">
      <div class="info__text">
        После подачи заявления квитанцию на оплату можно скачать из личного кабинета
      </div>
      <div class="info__title">
        Наименование платежа
      </div>
      <div class="info__text">
        {{ paymentPurpose }}
      </div>
      <ng-template [ngIf]="uin.length">
        <div class="info__title">
          Уникальный идентификатор начисления
        </div>
        <div class="info__text">{{ uin }}</div>
        <div class="info__title">
          Дата выставления счета
        </div>
        <div class="info__text">{{ billDate }}</div>
      </ng-template>
      <ng-template [ngIf]="sum.length">
        <div class="info__title">
          Сумма платежа
        </div>
        <div class="info__text">{{ sum }} <span class="rubles"></span></div>
      </ng-template>
      <div class="is__payed" *ngIf="isPaid">
        Оплачено
      </div>
    </div>

    <div class="info" *ngSwitchCase="paymentStatus.ERROR">
      <img
        class="info__img"
        src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/error-icon.svg"
        alt=""
      />
      <div class="info__text">При получении реквизитов оплаты пошлины произошла ошибка.</div>
      <div class="info__text">
        Попробуйте обновить страницу или
        <a href="https://www.gosuslugi.ru/help" target="_blank">обратитесь в службу поддержки</a>.
        Ваш черновик автоматически сохранен.
      </div>
    </div>

    <div class="info" *ngSwitchCase="paymentStatus.SERVER_ERROR">
      <img
        class="info__img"
        src="{{ config.staticDomainAssetsPath }}/assets/img/server-error.svg"
        alt=""
      />
      <div class="info__text">
        Попробуйте зайти на страницу позже. Если ошибка не исчезнет,
        <a href="https://www.gosuslugi.ru/help" target="_blank">сообщите нам о ней</a>
      </div>
    </div>
  </div>

  <div class="footer footer-column" *ngIf="isShown">
    <div class="footer__item">
      <lib-button [showLoader]="inLoading" (click)="downloadInvoice()" class="btn">
        Скачать квитанцию
      </lib-button>
    </div>
    <div class="footer__item">
      <lib-button (click)="nextStep()" class="btn__submit">
        Далее
      </lib-button>
    </div>
  </div>
</epgu-constructor-screen-container>
