<div>
  <h5 class="info-list-title">Розыск ПТС</h5>

  <div class="info-list-group-item">
    <epgu-constructor-info-list-item
      label="В розыске"
      [value]="searchPTS?.searchingSpecFlag | yesNo"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-expansion-link
      *ngIf="searchPTS?.searchingSpecFlag"
      openDescription="Подробнее"
    >
      <div class="mt-16 mb-16">
        <epgu-constructor-info-list-item
          class="info-list-group-item"
          label="Дата операции"
          [value]="searchPTS.operationDate | defaultValue"
        ></epgu-constructor-info-list-item>

        <epgu-constructor-info-list-item
          class="info-list-group-item"
          label="Подразделение ГИБДД"
          [value]="searchPTS.subDivision | defaultValue"
        ></epgu-constructor-info-list-item>
      </div>
    </epgu-constructor-expansion-link>
  </div>

  <div class="divider info-list-divider"></div>
</div>
