@import 'src/styles/core';

.clone-btn {

  &__disabled {
    background: $color-bg-disabled;
    box-shadow: 0 24px 48px rgba(230, 235, 245, 0.4);
    color: $color-button-hover;
    border: none !important;
  }
}

