@import 'src/styles/core/fonts';
@import 'src/styles/core/palettes';

.data__group:not(:last-child) {
  margin-bottom: 16px;
}

.data-group {
  font-size: 16px;
  line-height: 24px;

  &__title {
    font-weight: $fw-bold;
    margin-bottom: 16px;
  }
}

.data-item {
  margin-bottom: 16px;

  &__label {
    color: $color-text-helper;
    margin-bottom: 4px;
  }
}