<div class="data" [ngClass]="style.list">
  <ng-container *ngFor="let groupItem of preparedData">
    <div class="data__group data-group" [ngClass]="[style.group]">
      <div class="flex-row">
        <div
          [innerHTML]="groupItem?.groupName | safe: 'html'"
          [ngClass]="style.groupTitle"
          class="data-group__title"
        ></div>
      </div>
      <div class="data-group__items">
        <div
          class="data__item data-item"
          [ngClass]="style.field"
          *ngFor="let field of groupItem.fields"
        >
          <div
            [innerHTML]="field?.label | safe: 'html'"
            class="data-item__label"
            [ngClass]="style.label"
          ></div>
          <div
            [innerHTML]="field?.value | imgPrefixer | rank: field?.rank | safe: 'html'"
            class="data-item__value"
            [ngClass]="style.value"
          ></div>
        </div>
      </div>
    </div>
    <div *ngIf="groupItem.needDivider" [ngClass]="['group-divider', style.divider]"></div>
  </ng-container>
  <ng-template ngFor let-error [ngForOf]="errors">
    <div *ngIf="error" class="error" [class.mb-24]="error.fields">
      <p class="title"><span [class]="error.icon"></span>{{ error.title }}</p>
      <epgu-constructor-output-html
        class="description"
        [html]="error.desc"
        [clarifications]="data.attrs.clarifications"
      ></epgu-constructor-output-html>
      <p *ngFor="let field of error.fields" class="description">- {{ field }}</p>
    </div>
  </ng-template>
</div>
