@import 'src/styles/core';

.data-group {
  font-size: 16px;
  line-height: 24px;

  &__title {
    font-weight: $fw-bold;
  }

  &,
  &__title {
    margin-bottom: 16px;
  }
}

.data-item {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  &__label {
    color: $color-text-helper;
  }
}

.group-divider {
  border-bottom: 1px solid $color-divider;
}

.error {
  margin-bottom: 16px;

  .title {
    @include typ-h6;
    font-weight: $fw-bold;
    margin-bottom: 4px;
  }

  .description {
    @include typ-plain-small;
    color: $color-text-helper;
    margin: 0;
  }
}
