<div class="data">
  <div class="data__group data-group" *ngFor="let groupItem of preparedData">
    <div class="flex-row">
      <div
        [innerHTML]="groupItem?.groupName | safe: 'html'"
        class="data-group__title"
      ></div>
    </div>
    <div class="data-group__items">
      <div class="data__item data-item" *ngFor="let field of groupItem.fields">
        <div class="data-item__label">{{ field.label }}</div>
        <div class="data-item__value">{{ field.value }}</div>
      </div>
    </div>
  </div>
</div>
