@import "../../../../styles/breakpoint";
@import "../../../../styles/variables";

:host {
  display: block;
  font-family: $secondary_font, sans-serif;
}

.requirements-list__body::ng-deep {
  & > * {
    margin: 0;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
       display: flex;

      &:not(:first-child) {
        margin-top: 16px;
      }

      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin-top: 5px;
        margin-right: 12px;
        background: $denim;
        flex-shrink: 0;
        border-radius: 50%;
      }
    }
}
