@import "../../../../../styles/breakpoint";
@import "../../../../../styles/variables";

.notification_about_absent_account_screen__image {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 418px;

  text-align: center;

  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
}

.notification_about_absent_account_screen__content {
  flex: 1 1 auto;

  font-family: $secondary_font;

  text-align: center;
}

@include tablets-down {
  .notification_about_absent_account_screen__image {
    margin: 0 -16px;
  }

  .notification_about_absent_account_screen__content {
    font-size: 18px;
    line-height: 20px;

    text-align: center;

    margin-top: 18px;
  }
}

@include tablets-up {
  .notification_about_absent_account_screen__content {
    font-size: 18px;
    line-height: 24px;

    margin-top: 24px;
  }
}
