@import "../../../../styles/variables";
@import "../../../../styles/breakpoint";

:host {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  font-weight: $fw-bold;
  margin-bottom: 24px;
  @include tablets-up {
    margin-bottom: 32px;
  }
}

h1 {
  font-size: inherit;
  line-height: inherit;
}
