<ng-container
  *ngTemplateOutlet="
    templateContent;
    context: { type: screenService.componentType$ | async }
  "
>
</ng-container>

<ng-template #templateContent  let-type="type">
  <ng-container [ngSwitch]="type">
    <epgu-constructor-confirm-phone
      *ngIf="[uniqueComponentName.phoneNumberConfirmCodeInput, uniqueComponentName.confirmCodeInput].includes(type)">
    </epgu-constructor-confirm-phone>
    <epgu-constructor-confirm-email
      *ngSwitchCase="uniqueComponentName.ConfirmNewEmail">
    </epgu-constructor-confirm-email>
  </ng-container>
</ng-template>
