@import "src/styles/core";


$button-mt: 5px;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host::ng-deep {
  $actions-mx: 10px;
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto $actions-mx 0;
    @include tablets-up {
      flex-direction: row;
      margin-top: 16px;
    }

    &:empty {
      display: none;
    }

    .confirm-personal-user-button {
      @include tablets-up {
        margin: 5px $actions-mx;
      }
    }
  }
}
