@import "../../../../../../styles/variables";
@import "../../../../../../styles/breakpoint";

@include tablets-up {
  .body {
    background: $white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .footer {
    margin-top: 1rem !important;
  }
}
