<section class="section-content">
  <div class="component">
    <div class="header">
      <h1>{{data.header}}</h1>
    </div>

    <div class="content" [innerHTML]="data.label">
    </div>

    <div class="footer">
      <!-- Submit button -->
      <ng-container>
        <lib-button type="button" class="submit-button" size="lg" fontSize="13" (click)="nextStep()">
          <label class="submit-label">
            {{data.submitButtonLabel}}
          </label>
          <object class="button-icon" type="image/svg+xml" data="assets/icons/svg/arrow-forward.svg" width="20" height="20">
            <img src="assets/icons/png/arrow-forward.png" width="20" height="20" alt="arrow-forward" />
          </object>
        </lib-button>
      </ng-container>
      <!-- Submit button end -->
    </div>
  </div>
</section>
