@import "../../../../styles/variables";
@import "../../../../styles/breakpoint";

:host {
  display: block;
}

.question {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }

  &__body{
    margin-top: auto;
    @include tablets-up {
      margin-top: 0;
    }
  }
}

.question-body__item {
  margin-bottom: 8px;
}

