<section class="add-children-screen">
  <div class="add-children-screen__card card">
    <div class="card__wrapper">
      <div class="card__header">
        <div class="card__title">
          Ребенок 1
        </div>
        <div class="card__close">
          <button
            class="button-close"
          >
            <div class="icon-close"></div>
          </button>
        </div>
      </div>
      <div class="card__content">
        <div>
          <label class="card__label">
            Выберите ребенка из вашего профиля
          </label>
        </div>
        <div class="card__select">
          <!-- TODO: use lib-simple-select components from epgu-lib instead -->
          <select>
            <option>Сергей</option>
            <option>Татьяна</option>
            <option>Тамара</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="add-children-screen__form">
    123
    <app-add-new-child-form></app-add-new-child-form>
  </div>

  <div class="add-children-screen__action">
    <button class="add-children-screen__button button">
      <label class="button__label">Добавить ребенка</label>
    </button>
  </div>
</section>

