<lib-standard-masked-input
  epgu-constructor-trim
  epgu-constructor-text-transform
  [isTrim]="isTrim"
  [textTransformType]="textTransformType"
  [clearable]="clearable"
  [mask]="$any(mask)"
  [name]="name"
  [id]="id"
  [showMaskAsPlaceholder]="showMaskAsPlaceholder"
  [placeholder]="placeholder"
  [showConstantMaskSymbols]="showConstantMaskSymbols"
  [formControl]="control"
  [invalid]="invalid"
  [validationShowOn]="validationShowOn"
  [readOnly]="readonly"
  (change)="onChange($event)"
></lib-standard-masked-input>
