<lib-standard-masked-input
  epgu-constructor-trim
  epgu-constructor-text-transform
  [textTransformType]="textTransformType"
  [clearable]="clearable"
  [mask]="mask | maskHandle"
  [name]="name"
  [id]="id"
  [showMaskAsPlaceholder]="showMaskAsPlaceholder"
  [placeholder]="placeholder"
  [showConstantMaskSymbols]="showConstantMaskSymbols"
  [formControl]="control"
  [formControlName]="controlName"
  [invalid]="invalid"
  [validationShowOn]="validationShowOn"
  [readOnly]="readonly"
></lib-standard-masked-input>
