<p
  *ngIf="(durationAmount && balanceAmount) || (paymentType === 'one' && durationAmount)"
  class="mb-18"
>
  <span class="helper-text"> {{ description.durationLabel }}</span
  ><br />
  <span>{{ durationAmount }} {{ duration[paymentType] }}</span>
</p>
<p
  *ngIf="(durationAmount && balanceAmount) || (paymentType === 'one' && balanceAmount)"
  class="mb-18"
>
  <span class="helper-text">{{ description.balanceLabel }}</span>
  <br />
  <span class="balance-amount">{{ balanceAmount | toMoney | addZeroPenny }} <span class="rubles"></span></span>
</p>
