<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-page-name>{{ data?.header }}</epgu-constructor-page-name>

  <form (ngSubmit)="nextStep()" [formGroup]="form" *ngIf="form">
    <epgu-constructor-screen-pad>
      <div class="application">
        <lib-feed-icon status="done" class="application__icon-done"></lib-feed-icon>

        <div class="application__info">
          {{ applicationInfo.name }}
        </div>

        <div (click)="changeVisibility(true)" class="application__open-link">
          <div class="icon-ellipsis"></div>
        </div>

        <epgu-constructor-signature-application-link
          [links]="applicationInfo.link"
          [isVisibility]="isVisibilityLinks"
          (changeVisibilityEvent)="changeVisibility($event)"
        ></epgu-constructor-signature-application-link>
      </div>
    </epgu-constructor-screen-pad>

    <lib-checkbox
      [formControl]="form.controls['condition']"
      labelText="Настоящим подтверждаю, что я просматривал и подписывал документы"
      class=""
    >
    </lib-checkbox>

    <div class="footer">
      <lib-button [disabled]="form.invalid" [showLoader]="isLoading" class="footer__btn-submit">
        {{ data?.submitLabel || 'Продолжить' }}
      </lib-button>
    </div>
  </form>
</epgu-constructor-screen-container>
