<epgu-constructor-navigation *ngIf="!isMobile" class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-page-name>{{ data?.header }}</epgu-constructor-page-name>

  <div class="application__center" *ngIf="!isMobile; else mobileTemplate">
    <lib-loader></lib-loader>
  </div>
</epgu-constructor-screen-container>

<ng-template #mobileTemplate>
  <div class="application">
    <div class="application__center">
      <img [src]="attrs.image.src" />
    </div>

    <epgu-constructor-output-html
      [html]="signatureApplication.label"
    ></epgu-constructor-output-html>
  </div>

  <div class="footer">
    <lib-button [showLoader]="isLoading" (click)="nextStep()" class="footer__btn-submit">
      {{ attrs.actions[0].label || 'Продолжить' }}
    </lib-button>
  </div>
</ng-template>
