<app-screen-container>
  <div class="inner">
    <ng-container [ngSwitch]="(data?.components)[0].type">
        <app-add-children-screen
        *ngSwitchCase="uniqueComponentName.childrenListUnder14"
        [data]="(data?.components)[0]"
        [header]="data?.header"
      ></app-add-children-screen>
        <app-add-passport-screen
        *ngSwitchCase="uniqueComponentName.addPassport"
        [data]="(data?.components)[0]"
        [header]="data?.header"
        [submitLabel]="data?.submitLabel"
      ></app-add-passport-screen>
    </ng-container>
  </div>
</app-screen-container>
