@import '../../../styles/core/functions';
@import '../../../styles/core/variables';
@import '../../../styles/core';

:host {
  @include flex-container();
}

.info {
  &__head {
    margin-bottom: 24px;
  }

  &__submit {
    margin-top: 24px;
    text-align: center;
    @include tablets-down {
      padding-top: 24px;
      margin-top: auto;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablets-down {
      margin-top: auto;
      flex-wrap: wrap-reverse;
    }
  }

  &__action {
    margin-top: 24px;

    &:not(:first-child) {
      @include tablets-up {
        margin-left: 24px;
      }
    }
    &:not(:last-child) {
      @include tablets-down {
        margin-top: 16px;
      }
    }
    
  }
}

.btn {
  &__submit {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    @include tablets-down {
      margin-right: 0;
      margin-top: 16px;

      &:first-child {
        margin-top: 32px;
      }
    }
  }
}

.divider {
  margin: 0 0 24px;
}

.gray-theme {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  &::ng-deep .text > ul {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 24px 48px rgba(230, 235, 245, 0.4);
    margin-left: 0;
    padding: 24px 24px 8px;

    li {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}
