<epgu-constructor-navigation *ngIf="!screenStore.display?.terminal" class="nav"></epgu-constructor-navigation>
<epgu-constructor-screen-container [ngClass]="screenStore.display?.terminal ? 'screen-container-mt' : ''">
  <epgu-constructor-screen-pad>

    <epgu-constructor-page-name class="info__head">{{screenStore.display?.header}}</epgu-constructor-page-name>

    <hr class="divider" />

    <div class="info__body">
      <ng-container [ngSwitch]="screenStore.display?.components[0].type">
        <epgu-constructor-info-screen-body
          *ngSwitchCase="infoScreenComponent.info"
          [data]="screenStore.display?.components[0]">
        </epgu-constructor-info-screen-body>
      </ng-container>
    </div>

    <div class="info__footer info-footer">
      <lib-button *ngIf="screenService.isShown$ | async"
        [showLoader]="screenService.isLoading$ | async"
        (click)="nextStep()"
        class="info-footer__submit"
        [disabled]="screenService.isLoading$ | async"
      >
        {{screenStore.display?.submitLabel || 'Продолжить'}}
      </lib-button>
    </div>

  </epgu-constructor-screen-pad>

  <div *ngIf="!screenStore.display?.isSocialButtonsHidden">
    <lib-social-share></lib-social-share>
  </div>
</epgu-constructor-screen-container>

