@import '../../../styles/core/functions';
@import '../../../styles/core/variables';
@import '../../../styles/core';

:host {
  @include flex-container();
}

.info {
  &__head {
    margin-bottom: 24px;
  }

  &__submit {
    margin-top: 24px;
    text-align: center;
    @include tablets-down {
      padding-top: 24px;
      margin-top: auto;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablets-down {
      margin-top: auto;
      flex-wrap: wrap-reverse;
    }
  }

  &__action {
    margin-top: 24px;

    &:not(:first-child) {
      @include tablets-up {
        margin-left: 24px;
      }
    }
    &:not(:last-child) {
      @include tablets-down {
        margin-top: 16px;
      }
    }

  }
}

.btn {
  &__submit {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    @include tablets-down {
      margin-right: 0;
      margin-top: 16px;

      &:first-child {
        margin-top: 32px;
      }
    }
  }
}

.divider {
  margin: 0 0 24px;
}

.gray-theme {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  .divider {
    display: none;
  }
}

.info-screen--status {
  .divider {
    display: none;
  }
}

.info-screen--solution-page {
  .info__submit {
    margin-top: 40px;
    @include tablets-down {
      padding-top: 32px;
    }
  }
}

:host::ng-deep {
  .info-screen--start,
  .info-screen--solution-page,
  .info-screen--solution-page-2,
  .info-screen--deadlock,
  .info-screen--status {
    .info__text {
      @include screen-content-margins;
    }
  }

  .info-screen--deadlock {
    .red-line, .yellow-line {
      margin-top: 24px;
    }
  }

  .info-screen--solution-page {
    .info__text {
      ul + h5 {
        margin-top: 32px;
      }
      li > ul + a {
        margin-top: 12px;
        display: inline-block;
      }
    }
  }
}
