@import "../../../styles/core/functions";
@import "../../../styles/core/variables";


:host {
  display: block;
}

.nav {
  @include navigation-mt();
}

.info {
  &__head {
    margin-bottom: 24px;
  }

  &__body {
    margin-bottom: 24px;
  }

  &__submit {
    text-align: center;
  }
}

.info-footer {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  @include phones-down {
    margin-top: 24px;
  }
}

.divider {
  margin: 0 0 24px;
}

.screen-container-mt {
  margin-top: $navigation-mb;
}
