<epgu-constructor-screen-container
  [show-nav]="(screenService.terminal$ | async) === false"
  [class.screen-container-mt]="screenService.terminal$ | async"
>
  <epgu-constructor-screen-pad
    class="screen-body"
    [ngClass]="screenService.displayCssClass$ | async"
  >
    <div *ngIf="screenService.header$ | async">
      <epgu-constructor-page-name class="info__head">{{
        screenService.header$ | async
      }}</epgu-constructor-page-name>

      <div class="divider"></div>
    </div>

    <epgu-constructor-info-screen-body [data]="screenService.component">
    </epgu-constructor-info-screen-body>
    <div class="info__actions" *ngIf="actionButtons.length">
      <lib-button
        *ngFor="let action of actionButtons"
        class="info__action btn__submit"
        epgu-constructor-action
        [action]="action"
        [color]="action.color"
      >
        {{ action.label }}
      </lib-button>
    </div>

    <div class="info__submit" *ngIf="screenService.submitLabel$ | async">
      <lib-button
        class="btn__submit"
        data-testid="submit-btn"
        [showLoader]="screenService.isLoading$ | async"
        (click)="nextStep()"
        [disabled]="screenService.isLoading$ | async"
      >
        {{ screenService.submitLabel$ | async }}
      </lib-button>
    </div>
  </epgu-constructor-screen-pad>

  <div class="screen-footer">
    <lib-social-share
      class="social-share"
      [isNewDesign]="true"
      [isNewDesignDisabled]="true"
    ></lib-social-share>
  </div>
</epgu-constructor-screen-container>
