@import "src/styles/core";

:host {
  display: block;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.button-change {
  font-size: $font-sm;
  flex: 0 0 auto;
  margin-left: auto;
  @include tablets-down {
    display: none;
  }
}

.content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 14px 16px;
  background: $color-input;
  &__input {
    padding: 0;
  }
}
