<form [formGroup]="phoneForm">
  <div class="flex-row">
    <label class="label">{{ label }}</label>
    <a
      href="javascript:void(0);"
      (click)="handleClick()"
      class="button-change"
      *ngIf="isEditButtonShown"
    >
      Изменить
    </a>
  </div>
  <lib-base-masked-input
    [formControlName]="'phone'"
    name="phone"
    [invalid]="!phoneForm.controls.phone.valid"
    [validationShowOn]="validationShowOn"
    class="content content__input"
    [mask]="phoneMask"
    showMaskAsPlaceholder="true"
  ></lib-base-masked-input>
</form>
