<form class="form">
  <div
    *ngFor="let componentData of formService.form.controls; let idx = index"
    class="form__item {{
      componentData.value?.attrs?.grid ? componentData.value?.attrs?.grid : ''
    }}"
    [class.form__item-radio]="[componentType.RadioInput, componentType.CheckBox].includes(componentData.value?.type)"
  >
    <ng-container
      [ngSwitch]="componentData.value?.type"
      *ngIf="
        formService.shownElements[componentData.value?.id]?.isShown
          | showComponent: componentData.value?.attrs?.hidden
      "
    >
      <epgu-constructor-component-item
        *ngSwitchCase="componentType.DropDownDepts"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-drop-down-depts
          *ngIf="dictionaries$ | async as dictionaries"
          epgu-constructor-validation-type
          [component]="componentData.value"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [dictionary]="dictionaries[getDictKeyByComp(componentData.value)]"
          [validationShowOn]="validationShowOn"
          [control]="$any(componentData.get('value'))"
          [required]="componentData.value?.required"
          [attrs]="componentData.value.attrs"
          [suggest]="(suggestions$ | async)[componentData.value?.id]"
          (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"
        >
        </epgu-constructor-drop-down-depts>
      </epgu-constructor-component-item>

      <ng-container>
        <epgu-constructor-component-item
          *ngSwitchCase="componentType.Lookup"
          [control]="componentData.get('value')"
          [component]="componentData.value"
          [invalid]="componentData.invalid"
        >
          <lib-lookup
            *ngIf="dictionaries$ | async as dictionaries"
            epgu-constructor-validation-type
            [component]="componentData.value"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [validationShowOn]="validationShowOn"
            [formControl]="$any(componentData.get('value'))"
            [queryMinSymbolsCount]="0"
            [searchCaseSensitive]="false"
            [fixedItems]="dictionaries[getDictKeyByComp(componentData.value)]?.list"
            [virtualScroll]="true"
            [clearable]="true"
            [required]="componentData.value?.required"
            [suggest]="(suggestions$ | async)[componentData.value?.id]"
            (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"
          >
          </lib-lookup>
        </epgu-constructor-component-item>
      </ng-container>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.RadioInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [hidden]="componentData.value?.attrs?.hidden"
        [largeFontSize]="true"
      >
        <div
          class="form__radio"
          [ngClass]="
            componentData.value?.attrs?.isHorizontal ? 'form__radio--inline' : 'form__radio--block'
          "
        >
          <lib-radio
            *ngFor="let item of componentData.value?.attrs?.supportedValues"
            [name]="componentData.value.id"
            [labelText]="item.label"
            [formControl]="$any(componentData.get('value'))"
            [value]="item.value"
            class="form__radio-item"
          >
          </lib-radio>
        </div>
      </epgu-constructor-component-item>

      <epgu-constructor-component-list-resolver
        *ngSwitchDefault
        [componentIndex]="idx"
        [componentsGroupIndex]="componentsGroupIndex"
        [componentType]="componentData.value?.type"
      ></epgu-constructor-component-list-resolver>
    </ng-container>
  </div>
</form>
