@import '../../../styles/core/palettes';
@import '../../../styles/core/typography';
@import '../../../styles/core/variables';
@import '../../../styles/core/functions';

.form {
  @include flex-container();
  flex-flow: wrap;
  margin-left: -$screen-pad-small-gap / 2;
  margin-right: -$screen-pad-small-gap / 2;
  &__item {
    @include flex-container();
    justify-content: flex-start;
    flex: 1 1 100%;
    margin-left: $screen-pad-small-gap / 2;
    margin-right: $screen-pad-small-gap / 2;
    max-width: calc(100% - #{$screen-pad-small-gap});
    & > epgu-constructor-component-item > * {
      margin-bottom: $screen-pad-p;
      justify-content: flex-end;
    }
    & > epgu-constructor-component-list-resolver {
      & > :not(epgu-constructor-form-output-html) {
        margin-bottom: $screen-pad-p;
      }
      & > epgu-constructor-form-output-html {
        margin-bottom: $screen-pad-small-gap;
      }
    }
    &:last-child {
      & > epgu-constructor-component-item > * {
        margin-bottom: 0;
      }
      & > epgu-constructor-component-list-resolver > * {
        margin-bottom: 0;
      }
    }
    &--checkbox > * {
      margin-bottom: $screen-pad-small-gap;
    }
  }
  &__radio {
    margin-top: $screen-pad-top;
    &--block {
      display: inline-block;
      lib-radio {
        display: block;
        margin-bottom: 16px;
      }

      lib-checkbox {
        display: block;
        margin-bottom: 16px;

        &::ng-deep .labelText {
          line-height: 24px;
        }

        &:first-child {
          margin-top: 4px;
        }
      }
    }
    &--inline {
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: $screen-pad-gap;
      }
    }
  }

  &__radio &__radio-item:last-child {
    margin-bottom: 0;
  }
}
