<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-page-name>{{ screenService.header$ | async }}</epgu-constructor-page-name>

  <epgu-constructor-screen-pad>
    <div class="head" [innerHTML]="screenService.componentLabel$ | async | safe: 'html'"></div>

    <img class="icon" src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/warn.svg" />
  </epgu-constructor-screen-pad>

  <div class="action">
    <epgu-constructor-long-button class="action__item" (click)="goBackTo()">
      {{ screenService.actions[0]?.label }}
    </epgu-constructor-long-button>
  </div>

  <div class="footer">
    <lib-button [disabled]="isTimerShow" (click)="sendPostAgain()" class="btn__submit">
      {{ screenService?.submitLabel$ | async }}
    </lib-button>
  </div>
</epgu-constructor-screen-container>
