@import "../../../../../styles/core/variables";

.payment {
 &__sum {
    margin-bottom: 8px;

    span {
      font-size: 14px;
      text-decoration: line-through;
      font-weight: normal;
      margin-left: 8px;
    }
  }
  .secondary {
    color: $text-helper;
  }
  p {
    margin-bottom: 0;
  }
  .info__img {
    max-width: 100%;
  }
}
