@import "../../../../styles/breakpoint";

:host {
  display: block;
  width: 100%;
}

.container {
  max-width: 592px;
  width: 100%;
  padding: 0 16px;
  margin-right: auto;
  margin-left: auto;
}


.container {

}


@include tablets-up {
  .container {
    min-height: auto;
  }
}
