<div class="timer__container">
  <div class="label" *ngIf="label" [innerHTML]="label"></div>

  <div
    class="progress__value-wrapper"
    *ngIf="showTimer"
    [class.warning]="timer.isWarning"
    [class.finish]="timer.isFinish"
  >
    <div class="progress__value">{{ timer.time | timer }}</div>
  </div>

  <div class="info__actions" *ngIf="this.actionButtons.length">
    <lib-button
      *ngFor="let action of this.actionButtons"
      class="info__action submit-button"
      epgu-constructor-action
      [color]="action.color ? action.color : ''"
      [action]="action"
      [componentId]="componentBase.id"
    >
      {{ action.label }}
    </lib-button>
  </div>
</div>
