<div class="fileupload__wrapper">
  <div *ngIf="data.title" class="title">
    {{ data.title }}
    <epgu-constructor-user-info-loader [isDisplay]="false"></epgu-constructor-user-info-loader>
  </div>
  <div class="file__bottom">
    <epgu-constructor-output-html
      class="info__text"
      [html]="data.label"
      [clarifications]="clarification"
    >
    </epgu-constructor-output-html>
    <div *ngIf="refData?.length" class="fileupload__label" [innerHTML]="refData"></div>
  </div>

  <epgu-constructor-uploader-manager
    (update)="update($event)"
    (delete)="addDelete($event)"
    (download)="addDownload($event)"
    (cancel)="cancelOperation($event.type, $event.item)"
    [list]="files | async"
  ></epgu-constructor-uploader-manager>
  <epgu-constructor-uploader (upload)="updateSelectedFilesInfoAndSend($event)">
    <div class="uploader-info">
      <span *ngIf="!isMobile">Перетащите файлы или выберите на компьютере</span>
      <span *ngIf="isMobile">Выберите файл или сделайте фото</span>
    </div>
    <div class="uploader-buttons">
      <epgu-constructor-uploader-button capture="environment" accept="image/*">
        <button
          *ngIf="this.isMobile"
          [disabled]="isButtonsDisabled"
          class="fileupload__link-button"
        >
          <img
            src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/camera.svg"
            class="fileupload__button-icon"
            alt="Фото"
          />
          Сделать фото
        </button>
      </epgu-constructor-uploader-button>
      <epgu-constructor-uploader-button [multiple]="true" [accept]="acceptTypes">
        <button [disabled]="isButtonsDisabled" class="fileupload__link-button">
          <img
            src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/clip.svg"
            class="fileupload__button-icon"
            alt="Файл"
          />
          Выбрать ещё
        </button>
      </epgu-constructor-uploader-button>
    </div>
  </epgu-constructor-uploader>
  <div *ngIf="errors.length">
    <div *ngFor="let error of errors" class="error">
      <div class="file__icon has-error"></div>
      <span>{{ error }}</span>
    </div>
  </div>
</div>
