<div class="fileupload__wrapper">
  <div *ngIf="data.title"
       class="title">
    {{data.title}}
  </div>
  <div class="file__bottom">
    <epgu-constructor-output-html
      class="info__text"
      [html]="data.label"
      [clarifications]="clarification">
    </epgu-constructor-output-html>

    <div class="fileupload__label" *ngIf="refData?.length"
         [innerHTML]="refData"></div>
     <div class="info">
       <div class="info__item" *ngIf="data.maxFileCount">
         Количество загружаемых файлов не более {{ data.maxFileCount }}
       </div>
       <div class="info__item">
         Общий размер файлов в сумме не должен превышать 5 Мб
       </div>
     </div>
   </div>
  <input #fileUploadInput
         type="file"
         [attr.accept]="getAcceptTypes()"
         (change)="updateSelectedFilesInfoAndSend($event.target.files)"
         multiple/>
  <input #cameraInput
         type="file"
         capture="environment"
         accept="image/*"
         (change)="updateSelectedFilesInfoAndSend($event.target.files, true)">
  <div class="errors" *ngIf="errors.length">
    <div class="error" *ngFor="let error of errors" [innerText]="error"></div>
  </div>
  <div class="files" *ngIf="(files$$ | async) as files">
    <div class="file" *ngFor="let file of files">
      <div class="file__icon"
           [class.uploaded]="file.uploaded"
           [class.has-error]="file.hasError"></div>
      <div class="file__title-wrapper">
        <div class="file__title uploaded" *ngIf="file.uploaded; else fileNotUploaded"
             [innerText]="file.fileName"
             (click)="downloadFile(file)">
        </div>
        <ng-template #fileNotUploaded>
          <div class="file__title"
               [class.has-error]="file.hasError"
               [innerText]="file.hasError ? 'Ошибка загрузки' : 'Файл загружается'">
          </div>
        </ng-template>
        <div class="file__title-info" *ngIf="file.uploaded">
          Файл загружен ({{file.getFileSize()}})
        </div>
      </div>
      <button class="file__action" (click)="deleteFile(file)">
        Удалить
      </button>
    </div>
  </div>
  <div class="fileupload__buttons">
    <lib-button
      *ngIf="this.isMobile"
      [disabled]="isButtonsDisabled"
      [color]="'white'"
      (click)="openCamera()"
      class="fileupload__button"
    >
      <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/camera.svg" class="fileupload__button-icon"
           alt="Фото"/>
      Фото
    </lib-button>
    <lib-button
      [disabled]="isButtonsDisabled"
      [color]="'white'"
      (click)="selectFilesEvent()"
      class="fileupload__button"
    >
      <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/clip.svg" class="fileupload__button-icon"
           alt="Файл"/>
      Файл
    </lib-button>
  </div>
</div>
