<ng-template ngFor let-component [ngForOf]="components">
  <epgu-constructor-screen-pad
    class="screen-body"
    *ngIf="customComponentTypes.TextArea === component.type"
  >
    <h4>Опишите, почему вы обжалуете штраф</h4>
    <div class="divider appeal-fines-divider"></div>
    <epgu-constructor-constructor-multiline-input
      [invalid]="formControl.invalid && formControl.touched"
      [textTransformType]="component?.fstuc"
      [validationShowOn]="validationShowOn"
      [name]="component?.id"
      [control]="formControl"
      [component]="component"
    >
    </epgu-constructor-constructor-multiline-input>

  </epgu-constructor-screen-pad>
  <epgu-constructor-file-upload
    [objectId]="screenService.orderIdAsString$ | async"
    [applicantAnswers]="screenService.applicantAnswers$ | async"
    [attributes]="component.attrs"
  >
  </epgu-constructor-file-upload>
</ng-template>


