@import "../../../../../styles/breakpoint";
@import "../../../../../styles/variables";
@import "../../../../../styles/functions";

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: inherit;
  @include tablets-up {
    min-height: auto;
  }
}

.body {
  display: flex;
  @include tablets-down {
    flex-grow: 1;
  }
  &::ng-deep > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  @include tablets-up {
    margin-top: 32px;
  }

  &__btn-submit {
    width: auto;
    &::ng-deep button {
      width: inherit;
      min-width: inherit;
    }
  }
}

