<epgu-constructor-field-list [data]="$any(data)">
</epgu-constructor-field-list>
<div class="data-footer" *ngIf="screenService.action.type === actionType.profileEdit">
  <div class="divider"></div>
  <button class="btn-edit" epgu-constructor-action [action]="screenService.action$ | async">
    <img
      class="btn-edit__icon"
      src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/ion_pencil-outline.svg"
    />
    <span class="btn-edit__text">{{ (screenService.action$ | async).label }}</span>
  </button>
</div>
