<a class="header__logo" (click)="goToMainPage()">
  <img src="assets/images/logo.svg" class="header__logo-img" />
</a>

<nav class="header__nav">
  <a class="header__questions" [routerLink]="[scenarioUrl]">
    <span class="header__questions-text">Задать вопрос</span>
    <img src="assets/icons/question.svg" class="header__questions-icon" />
  </a>

  <a class="header__menu" [routerLink]="[configUrl]">
    <span class="header__menu-text">Меню</span>
    <img src="assets/icons/menu.svg" class="header__menu-icon" />
  </a>
</nav>
