@import "~@epgu/epgu-constructor-ui-kit/src/styles/core";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 145px;
  background-color: $color-white;
  padding: 16px;
}
.header {
  &__container {
    max-width: 1366px;
    margin: 0 auto;

    @include phones-down {
      width: 100%;
    }
  }

  &__logo {
    display: block;
    cursor: pointer;

    &-img {
      width: 150px;

      @include phones-down {
        width: 100px;
      }
    }
  }

  &__nav {
    display: flex;
  }

  &__menu,
  &__questions {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0D4CD3;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 51px;
    cursor: pointer;

    &:active {
      color: #0D4CD3;
    }

    @include phones-down {
      margin-left: 20px;
    }

    &-img {
      @include phones-down {
        width: 24px;
      }
    }
  }

  &__menu-text,
  &__questions-text {
    @include phones-down {
      display: none;
    }
  }

  &__menu-icon,
  &__questions-icon {
    margin-left: 10px;
  }
}
