<form #dataForm="ngForm" class="form">
  <div class="item" *ngFor="let field of data?.attrs?.fields">
    <div class="title">{{ field.label }}</div>

    <ng-container [ngSwitch]="field.fieldName">
      <lib-dadata-widget
        *ngSwitchCase="'regAddr'"
        [simpleMode]="true"
        [hideLevels]="field?.hideLevels || []"
        [name]="field.fieldName"
        [hideHouseCheckbox]="true"
        [externalApiUrl]="config.externalApiUrl + '/'"
        [initValue]="forms[field.fieldName]"
        (ngModel)="forms[field.fieldName]"
        [invalid]="!(dataForm?.controls)[field.fieldName]?.valid"
        [validationShowOn]="validationShowOn"
      >
      </lib-dadata-widget>

      <lib-date-picker
        *ngSwitchCase="
          ['regFrom', 'regTo', 'regDate'].includes(field?.fieldName)
            ? field?.fieldName
            : !field?.fieldName
        "
        [name]="field.fieldName"
        [minDate]="field.minDate ? field.minDate : '-50y'"
        [maxDate]="field.maxDate ? field.maxDate : '+50y'"
        class="item__data"
        align="left"
        [(ngModel)]="forms[field.fieldName]"
        [invalid]="!(dataForm?.controls)[field.fieldName]?.valid"
        [validationShowOn]="validationShowOn"
        clearable="true"
      >
      </lib-date-picker>

      <lib-plain-input
        epgu-constructor-trim
        epgu-constructor-text-transform
        [textTransformType]="textTransformType"
        *ngSwitchDefault
      ></lib-plain-input>
    </ng-container>
  </div>
  <div class="error">
    <small>{{ error }}</small>
  </div>
</form>

<div class="item hint-wrapper">
  <!--Хинты связываются на текущую дату, и получается текущая дата + timestamp из хинта и кладём в regTo-->
  <div
    class="item__hint"
    *ngFor="let hint of data?.attrs?.hints"
    (click)="hintClick(hint.timestamp)"
  >
    {{ hint.label }}
  </div>
</div>
