<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-cf-ui-constructor-screen-pad class="screen-pad-body">
    <epgu-constructor-field-list [data]="screenService.component$ | async"></epgu-constructor-field-list>
  </epgu-cf-ui-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
