<ng-container *ngIf="isErrorTemplate; else answerBtn">
  <ng-container *ngTemplateOutlet="actionBtn"></ng-container>
</ng-container>

<ng-template #actionBtn>
  <lib-button
    epgu-constructor-action
    [action]="action"
    [color]="action.color"
    class="screen-footer__btn"
    >{{ action.label }}</lib-button
  >
</ng-template>

<ng-template #answerBtn>
  <epgu-constructor-answer-button
    epgu-constructor-action
    [data]="action"
    [action]="action"
    class="answer-btn"
  ></epgu-constructor-answer-button>
</ng-template>
