@import '../../../../../../../styles/core/index';
.payment-type-selector {
  .answer-btn {
    width: 100%;

    @include tablets-up {
      margin: 0 0 24px 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
