<form #dataForm="ngForm">
  <ng-container
    *ngFor="let field of data?.attrs?.fields; let i = index"
    [ngSwitch]="field?.fieldName"
  >
    <lib-dadata-widget
      *ngSwitchCase="'addr'"
      [simpleMode]="true"
      [disabled]="!isEditable"
      [name]="field.fieldName"
      [externalApiUrl]="externalApiUrl"
      [initValue]="valueParsed[field.fieldName]"
      [(ngModel)]="valueParsed[field.fieldName]"
    >
    </lib-dadata-widget>

    <app-address-item
      *ngSwitchCase="'date'"
      class="item"
      [label]="field.label"
      [name]="field.label"
    >
      <lib-date-picker
        [disabled]="!isEditable"
        [name]="field.fieldName"
        [(ngModel)]="valueParsed[field.fieldName]"
      >
      </lib-date-picker>
    </app-address-item>

    <app-address-item *ngSwitchDefault class="item" [label]="field.label" [name]="field.label">
      <lib-plain-input
        [disabled]="!isEditable"
        [(ngModel)]="valueParsed[field.fieldName]"
        [name]="field.fieldName"
        class="content content__input"
      >
      </lib-plain-input>
    </app-address-item>
  </ng-container>
</form>
