<form #dataForm="ngForm" *ngIf="isEditable; else nonEditable">
  <div class="item" *ngFor="let field of data?.attrs?.fields">
    <div class="head__title">{{ field.label }}</div>
    <lib-plain-input
      [(ngModel)]="valueParsed[field.fieldName]"
      [name]="field.fieldName"
      class="content content__input"
    ></lib-plain-input>
  </div>
</form>

<ng-template #nonEditable>
  <div *ngIf="!isEditable">
    <div class="item" *ngFor="let field of data?.attrs?.fields">
      <div class="head__title">{{ field.label }}</div>
      <div class="content">{{ (data?.value | toJson)[field.fieldName] }}</div>
    </div>
  </div>
</ng-template>
