<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>
<epgu-constructor-screen-container class="screen-container">
  <div class="inner">
    <div *ngIf="screenService.header$ | async as header" class="head">
      <epgu-constructor-page-name>{{ header }}</epgu-constructor-page-name>
    </div>

    <epgu-constructor-screen-pad class="body">
      <epgu-constructor-components-list
        (changes)="changeComponentsList($event)"
        [components]="screenService.display?.components"
      ></epgu-constructor-components-list>
    </epgu-constructor-screen-pad>

    <ng-container *ngFor="let components of screenService.display?.components">
      <epgu-constructor-action-button
        *ngFor="let action of components?.attrs?.actions"
        epgu-constructor-action
        [action]="action"
      >
        {{ action.label }}
      </epgu-constructor-action-button>
    </ng-container>

    <div class="footer">
      <lib-button
        *ngIf="screenService.isShown$ | async"
        [showLoader]="screenService.isLoading$ | async"
        (click)="nextScreen()"
        class="footer__btn-submit"
        [disabled]="screenService.isLoading$ | async"
      >
        {{ screenService.submitLabel$ | async }}
      </lib-button>
    </div>
  </div>
</epgu-constructor-screen-container>
