@import '../../../styles/core';

:host {
  @include flex-container();
}

.body {
  display: flex;
  text-align: left;
  @include tablets-down {
    flex-grow: 1;
  }
  > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.custom {
  &__actions {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablets-down {
      margin-top: auto;
    }
  }

  &__action {
    margin-bottom: 24px;

    @include tablets-up {
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
