@import "../../../styles/core";

.body {
  display: flex;
  text-align: left;
  @include tablets-down {
    flex-grow: 1;
  }
  > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
