<epgu-constructor-screen-container
  [show-nav]="screenService.showNav$ | async"
  [class.screen-container-mt]="!(screenService.showNav$ | async)"
>
  <div class="screen-body">
    <epgu-constructor-page-name>{{ screenService.header$ | async }}
      <epgu-constructor-user-info-loader></epgu-constructor-user-info-loader>
    </epgu-constructor-page-name>

    <epgu-constructor-screen-pad class="body">
      <epgu-constructor-components-list
        [components]="$any((screenService.display$ | async)?.components)"
        [errors]="screenService.componentErrors$ | async"
        (changes)="changeComponentsList($event)"
      >
      </epgu-constructor-components-list>
    </epgu-constructor-screen-pad>
  </div>

  <div class="screen-footer">
    <!-- TODO: добавить поддержку вывода ScreenActionDto  -->
    <lib-button
      *ngIf="(screenService.submitLabel$ | async) && !screenActionButtons.length"
      [showLoader]="screenService.isLoading$ | async"
      epgu-constructor-action
      [action]="nextStepAction"
      class="submit-button"
      [disabled]="(screenService.isLoading$ | async) || !isValid"
    >
      {{ screenService.submitLabel$ | async }}
    </lib-button>

    <ng-container *ngIf="screenActionButtons.length">
      <ng-container *ngTemplateOutlet="screenActionBtns"></ng-container>
    </ng-container>
  </div>
</epgu-constructor-screen-container>

<ng-template #screenActionBtns>
  <div class="custom__actions">
    <lib-button
      *ngFor="let action of screenActionButtons"
      class="custom__action submit-button"
      epgu-constructor-action
      [action]="action"
      [color]="action.color"
    >
      <div>{{ action.label }}</div>
    </lib-button>
  </div>
</ng-template>
