<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">

  <epgu-constructor-page-name>{{ screenService.header$ | async }}</epgu-constructor-page-name>

  <epgu-constructor-screen-pad class="form">

    <lib-standard-masked-input
      class="form__item"
      id="snils"
      [ngModel]="enteredCode"
      (ngModelChange)="enterCode($event)"
      [mask]="mask"
      [showMaskAsPlaceholder]="true"
      [showConstantMaskSymbols]="true">
    </lib-standard-masked-input>

    <div class="form__error">{{screenService.componentError$ | async}}</div>

    <div class="form__hint form-hint" *ngIf="isTimerShow">
      Повторная отправка кода будет возможна через
      <b class="form-hint__timer"
         [epgu-constructor-counter]="count"
         [interval]="countInterval"
         (value)="timerChange($event)">{{timer | formatTime}}</b>
    </div>

  </epgu-constructor-screen-pad>


  <div class="footer">
    <lib-button
      [disabled]="isTimerShow"
      (click)="sendCodeAgain()"
      class="footer__btn-submit"
    >
      {{ (screenService?.submitLabel$ | async) }}
    </lib-button>
  </div>

</epgu-constructor-screen-container>
