@import "../../../../../../styles/core";

.confirm-phone {
  &__helper-text {
    display: block;
    margin: 16px auto 4px;
    text-align: center;
    @include typ-plain-text;
    color: $color-text-helper;
  }

  &__number {
    display: block;
    margin: 0 auto 4px;
    text-align: center;
    @include typ-h5;
    color: $color-summer-night;
  }

  &__link-btn {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    @include typ-plain-small;
    color: $color-gosblue;
    text-transform: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__warning {
    margin-top: 24px;
    line-height: 24px;
  }
}

.form {
  &__group {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  &__item {
    display: block;
    margin: 0 4px;
    width: 48px;
    &--has-value::ng-deep input,
    &--has-error::ng-deep input {
      @include typ-h2;
      background: transparent;
      border: none;
      padding: 0;

      &.focused {
        padding: 0;
      }
    }

    &--has-value::ng-deep input {
      color: $color-gosblue;
    }

    &--has-error::ng-deep input {
      color: $color-tela-rossa;
    }

    &::ng-deep input {
      height: 52px;
      border-radius: 8px;
      text-align: center;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
  &__error {
    margin-top: 8px;
    color: $color-tela-rossa;
    text-align: center;
    @include typ-plain-small;
  }
}

.form__hint {
  width: 100%;
  margin: 24px auto 0;
}

.form__hint-text {
  @include typ-plain-small;
  color: $color-text-helper;
  text-align: center;
}

.form__timer {
  color: $color-black;
}
