@import "../../../../styles/variables";
@import "../../../../styles/breakpoint";

:host {
  display: block;
}

.answer__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  @include tablets-up {
    padding: 24px;
  }

  &:hover .answer-btn__icon {
    background-image: url("/assets/icons/svg/arrow-forward.svg");
  }
}

.answer-btn__title {

}

.answer-btn__icon {
  flex-shrink: 0;
  margin-left: 10px;
  @include tablets-up {
    display: none;
  }
}
