<form #dataForm="ngForm">
  <div class="flex-row" *ngIf="data?.attrs?.actions?.length === 1">
    <a href="javascript:void(0);" (click)="handleClick()" class="button-change"> Изменить </a>
  </div>
  <ng-container
    *ngFor="let field of data?.attrs?.fields; let i = index"
    [ngSwitch]="field?.fieldName"
  >
    <epgu-constructor-address-item
      *ngSwitchCase="'regAddr'"
      class="item"
      [label]="field.label"
    >
      <lib-dadata-widget
        [simpleMode]="true"
        [disabled]="!isEditable"
        [name]="field.fieldName"
        [externalApiUrl]="config.externalApiUrl + '/'"
        [initValue]="valueParsed[field.fieldName]"
        [(ngModel)]="valueParsed[field.fieldName]"
      >
      </lib-dadata-widget>
    </epgu-constructor-address-item>

    <epgu-constructor-address-item
      *ngSwitchCase="
        ['regFrom', 'regTo', 'regDate'].includes(field?.fieldName)
          ? field?.fieldName
          : !field?.fieldName
      "
      class="item"
      [label]="field.label"
    >
      <lib-date-picker
        [disabled]="!isEditable"
        [name]="field.fieldName"
        minDate="-50y"
        [(ngModel)]="valueParsed[field.fieldName]"
      >
      </lib-date-picker>
    </epgu-constructor-address-item>

    <epgu-constructor-address-item
      *ngSwitchDefault
      class="item"
      [label]="field.label"
    >
      <lib-plain-input
        [disabled]="!isEditable"
        [(ngModel)]="valueParsed[field.fieldName]"
        [name]="field.fieldName"
        class="content content__input"
      >
      </lib-plain-input>
    </epgu-constructor-address-item>
  </ng-container>
  <div class="error">
    <small>{{ error }}</small>
  </div>
</form>
