<epgu-constructor-confirm-personal-user-screen-layout>

  <div class="body">
    <epgu-constructor-temporary-registration-addr [data]="data"></epgu-constructor-temporary-registration-addr>
  </div>

  <div class="footer">
    <epgu-constructor-confirm-personal-user-button
      class="confirm-personal-user-button"
      *ngFor="let action of data?.attrs?.actions"
      [action]="action.method"
      (tap)="clickToAction(action)">{{action.label}}</epgu-constructor-confirm-personal-user-button>
  </div>

</epgu-constructor-confirm-personal-user-screen-layout>
