<div class="photo-error-modal">
  <div class="photo-error-modal__header">
    <a class="modal__close" (click)="closeModal()"></a>
    <h4 class="modal__title">Загрузка фото</h4>
  </div>
  <div class="photo-error-modal__body-scroll">
    <div class="photo-error-modal__body">
      <div class="photo-error-modal__image">
        <img src="{{ config.staticDomainAssetsPath }}/assets/img/image-error.svg" alt=""/>
      </div>
      <div *ngFor="let error of imageErrors" class="photo-error-modal__description">
        <span class="photo-error-modal__description-title">{{
          imageErrorText[error[0]]?.title
        }}</span>
        <span class="photo-error-modal__description-text"
          >{{ imageErrorText[error[0]]?.text }}
          {{ error[1] || imageErrorText[error[0]]?.textRules }}</span
        >
      </div>
      <div class="photo-error-modal__button">
        <lib-button color="white" (click)="choseAnotherPhoto()">
          <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/clip.svg" alt=""/>
          Загрузить фото
        </lib-button>
      </div>
    </div>
  </div>
</div>
