<div class="conf-modal">
  <div *ngIf="showCrossButton" class="conf-modal__cross-button" (click)="closeModal()"></div>
  <div *ngIf="title" class="conf-modal__header">
    <h4 class="conf-modal__title" [innerHTML]="title | safe: 'html'"></h4>
  </div>
  <div class="conf-modal__body" [class.conf-modal__body--without-header]="!title">
    <perfect-scrollbar [config]="scrollConfig">
      <div class="conf-modal__content">
        <ng-content></ng-content>
        <div class="conf-modal__controls">
          <lib-button
            *ngFor="let button of buttons"
            [showLoader]="button.loader"
            class="conf-modal__button"
            [color]="button.color || ''"
            (click)="button.handler()"
            >{{ button.label }}</lib-button
          >
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
