<ng-container
  *ngTemplateOutlet="
    templateContent;
    context: { display: (display$ | async), isLoading: (isLoading$ | async), showNav: (showNav$ | async)  }"
>
</ng-container>
<ng-template #templateContent let-display="display" let-isLoading="isLoading"
             let-showNav="showNav">
  <epgu-constructor-screen-container
    [show-nav]="showNav"
    [class.screen-container-mt]="!showNav"
  >
    <div class="screen-body">
      <div
        *ngIf="display?.header"
        class="head">
        <epgu-constructor-page-name>{{ display?.header }}</epgu-constructor-page-name>
      </div>

      <epgu-constructor-car-owner-info
        [carOwnerInfo]="carOwnerInfo$ | async"
      ></epgu-constructor-car-owner-info>
    </div>
    <div class="screen-footer">
      <lib-button
        *ngFor="let action of (actions$ | async)"
        epgu-constructor-action
        [action]="action"
        [color]="action.color"
        class="screen-footer__btn"
      >{{ action.label }}</lib-button>

    </div>
  </epgu-constructor-screen-container>
</ng-template>


