<div class="card__select">
  <epgu-constructor-constructor-dropdown
    [id]="idx"
    [items]="children"
    [control]="control"
    (changed)="selectChildren($event)"
  ></epgu-constructor-constructor-dropdown>
</div>
<epgu-constructor-helper-text *ngIf="hint">
  {{ hint }}
</epgu-constructor-helper-text>
<section class="card__content" *ngIf="isNewChild">
  <epgu-constructor-components-list
    [componentsGroupIndex]="idx"
    [components]="components"
    [errors]="errors"
    (changes)="updateChild($event)"
    (emitFormStatus)="updateItemValueAndValidity()"
    (emitFormCreated)="updateItemValidators($event)"
  >
  </epgu-constructor-components-list>
</section>
