@import '../../../../styles/core';
@import '../../../../styles/components/rubles';

:host {
  display: block;
}

@include rubles('.info__text', '../../../../../src/assets/icons/svg/ruble.svg');

.info {
  &__img-wrapper {
    text-align: center;
  }
  &__img {
    max-width: 200px;
  }
}
