<form [formGroup]="form">
  <epgu-constructor-label [tips]="data?.attrs?.labelHint" [label]="data.label"></epgu-constructor-label>
  <epgu-constructor-constructor-dropdown
    [control]="form.get('countryDropdown')"
    [placeholder]="placeholder"
    [items]="listItemDictionary"
    (changed)="selectCountry($event)"
    [localSearch]="true">
  </epgu-constructor-constructor-dropdown>
  <epgu-constructor-helper-text *ngIf="helperText">{{ helperText }}</epgu-constructor-helper-text>
  <div *ngIf="selectedCountry && selectedCountry.countryType !== '1'"
       class="country-apostil__warning">
    <lib-disclaimer-elk
      (click)="clickToInnerHTML($event)"
      color="#FFD54C"
      title="Предупреждение"
      [text]="warningMessages[selectedCountry.countryType]"></lib-disclaimer-elk>
  </div>
</form>
