@import "src/styles/core";

.nav {
  @include navigation-mt();
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: inherit;
  @include tablets-up {
    min-height: auto;
  }
}

.car__info--title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.car__info--block {
  margin-bottom: 24px;
}

.car__info--item {
  margin-top: 24px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  .bold {
    font-weight: bold;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn-submit {
    width: auto;
    &::ng-deep button {
      width: inherit;
      min-width: 100px;
    }
  }
}
