<section class="mvd-giac-screen">
  <div class="mvd-giac-screen__form">
    <form [formGroup]="regionForm" class="form__inputs">
      <lib-dropdown
        *ngIf="!isLoading else elseBlock"
        localSearch="true"
        id="regionList"
        name="regionList"
        formControlName="region"
        [placeholder]="data.label"
        [items]="dictionary"
      ></lib-dropdown>

      <ng-template #elseBlock>
        <div class="loader">
          <lib-loader></lib-loader>
        </div>
      </ng-template>
    </form>
  </div>
</section>

