@import '../../../../../../../styles/core/index';

:host {
  display: block;
}

.item {
  margin-top: 16px;
  &--date {
    display: block;
    width: 50%;

    @include phones-down {
      width: 100%;
    }
  }
  .item {
    margin-top: 4px;
  }
}

.address-item-hint {
  margin-top: 8px;
}

.error {
  @include typ-plain-small();
  color: $color-gosred;
  margin: 4px 0 12px 0;
}

.footer {
  margin: 16px 0 0;
  display: block;
}

.label-helper {
  @include typ-plain-text;
  color: $color-text-helper;
  &:first-letter {
    text-transform: capitalize;
  }
}

.divider {
  margin: 0 0 24px;
}

.btn-edit {
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  font-size: $font-dflt;
  background: none;
  padding: 0;
  &__icon {
    margin-right: 8px;
  }

  &__text {
    color: $color-gosblue;
  }
}
