<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-cf-ui-constructor-screen-pad class="screen-pad-body">
    <ng-container
      *ngFor="let field of (data$ | async)?.attrs?.fields"
      [ngSwitch]="field?.fieldName"
    >
      <div *ngSwitchCase="isAddr(field.fieldName)" class="item">
        <div class="label-helper" [innerHTML]="field.label | imgPrefixer | safe: 'html'"></div>
        <div class="item">
          {{ getAddress(valueParsed[field.fieldName]) }}
        </div>
      </div>

      <div *ngSwitchCase="isDate(field.fieldName)" class="item">
        <div *ngIf="form.get(field.fieldName)">
          <div class="label-helper">{{ field.label }}</div>
          <lib-date-picker
            class="item--date"
            [name]="field.fieldName"
            align="left"
            [minDate]="(data$ | async)?.attrs?.minDate || '-50y'"
            [maxDate]="(data$ | async)?.attrs?.maxDate || 'today'"
            [formControlName]="field.fieldName"
            [clearable]="true"
          >
          </lib-date-picker>
          <div class="address-item-hint" *ngIf="field?.hint">
            <epgu-constructor-helper-text>{{ field?.hint }}</epgu-constructor-helper-text>
          </div>
        </div>
      </div>

      <div *ngSwitchDefault class="item">
        <div class="item">
          {{ valueParsed[field.fieldName] }}
        </div>
      </div>
    </ng-container>
    <div class="error" *ngIf="screenService.componentError$ | async">
      <small>{{ screenService.componentError$ | async }}</small>
    </div>

    <div class="footer" *ngIf="isEditAction">
      <div class="divider"></div>
      <button class="btn-edit" epgu-constructor-action [action]="screenService.action$ | async">
        <img
          class="btn-edit__icon"
          src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/ion_pencil-outline.svg"
        />
        <span class="btn-edit__text" *ngIf="(screenService.action$ | async) as action">{{ action.label }}</span>
      </button>
    </div>
  </epgu-cf-ui-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
