<div class="data">
  <div class="data__group data-group" *ngFor="let groupItem of preparedData">
    <!-- Бизнеслогика-->
    <div class="flex-row">
      <div class="data-group__title">{{ groupItem?.groupName }}</div>
    </div>
    <div class="data-group__items">
      <div class="data__item data-item" *ngFor="let field of groupItem.list">
        <div class="data-item__label">{{ field.label }}</div>
        <div class="data-item__value">{{ field.value }}</div>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="footer" >
  <a class="btn-edit" [href]="constructorConfigService.config.externalLkUrl">
    <span class="btn-edit__icon"></span>
    <span class="btn-edit__text">Редактировать</span>
  </a>
</div>
