<div class="data">
  <div class="data__group data-group">
    <!-- Бизнеслогика-->
    <div class="flex-row" *ngIf="data?.attrs?.actions?.length === 1">
      <div class="data-group__title">{{ fullName }}</div>
      <a [href]="constructorConfigService.config.externalLkUrl" class="button-change">Изменить</a>
    </div>
    <div class="data-group__items">
      <div class="data__item data-item">
        <div class="data-item__label">{{ birthDay.label }}</div>
        <div class="data-item__value">{{ (data.value | toJson)[birthDay.fieldName] }}</div>
      </div>
    </div>
  </div>

  <div class="data__group data-group">
    <div class="data-group__title">Паспорт гражданина РФ</div>
    <div class="data-group__items">
      <div *ngFor="let field of passportFields" class="data__item data-item">
        <div class="data-item__label">{{ field.label }}</div>
        <div class="data-item__value">{{ (data.value | toJson)[field.fieldName] }}</div>
      </div>
    </div>
  </div>
</div>
