@import '../../../../../../styles/core/index';

:host {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.file-viewer {
  //min-height: 362px;
  //max-height: 611px;
  height: 611px;
  width: 100%;
  background-color: $color-input;
  display: flex;
  border-top: 2px solid $color-mercury;
  border-left: 2px solid $color-mercury;
  border-right: 2px solid $color-mercury;
  position: relative;
  &__image {
    background-color: $color-white;
  }
  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    flex-direction: column;
    cursor: default;
    img {
      margin-bottom: 5px;
    }

    &_link {
      cursor: pointer;
    }
  }
}
.viewer__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 1%;
  margin-bottom: 16px;
  .viewer__info-date,
  .viewer__info-size,
  .viewer__info-name {
    color: $color-telegray-scuro;
    white-space: nowrap;
    @include typ-plain-text;
    font-weight: $fw-bold;
  }
  .viewer__info-date {
    margin-right: 16px;
  }
  .viewer__info-size {
    margin-left: 16px;
  }
  .viewer__info-name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: left;
    color: $color-summer-night;
  }
}
.viewer__description {
  color: $color-summer-night;
  @include typ-plain-text;
  margin-bottom: 12px;
}
.prev,
.next {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  padding: 0;
  top: 50%;
  width: 60px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  img {
    width: 32px;
    height: 32px;
  }
}

.prev {
  left: 0;
  transform: translateY(-50%);
}
.next {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.viewer__toolbar {
  height: 48px;
  background-color: $color-summer-night;
  color: $color-white;
  border-radius: 0 0 8px 8px;
  @include typ-plain-small;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  .viewer__toolbar-action,
  .viewer__toolbar-counter {
    padding: 0 16px;
  }

  .viewer__toolbar-counter {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .viewer__toolbar-action {
    color: $color-white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }
    &[hidden] {
      display: none;
    }
    img {
      margin-right: 7px;
    }
    &.attach {
      background-color: $color-blu-digitale;
    }
    &.detach {
      background-color: $color-active-item;
    }
  }
}
