<ng-container *ngIf="selectedItem | async">
  <div class="viewer__info">
    <div class="viewer__info-date">{{ date | date: 'MM.dd.yyyy' }}</div>
    <div class="viewer__info-name">{{ item.item.fileName }}</div>
    <div class="viewer__info-size">{{ item.item.fileSize | fileSize }}</div>
  </div>
  <div class="viewer__description">
    Убедитесь, что документ не просрочен, страницы хорошо видны, данные не прикрыты пальцами и не
    обрезаны. Это важно, чтобы заявление приняли.
  </div>
  <div class="file-viewer">
    <epgu-constructor-zoom
      #zoomComponent
      *ngIf="imageURL"
      [imageURL]="imageURL"
      (moveEnd)="zoomMoveEnd()"
    >
    </epgu-constructor-zoom>
  </div>

  <button (click)="nextAction()">Вперед</button>
  <button (click)="prevAction()">Назад</button>
  <button (click)="deleteAction()">Удалить</button>
  <ng-container *ngIf="zoom | async as status">
    <button *ngIf="status.max !== 1 && status.zoom < status.max" (click)="zoomIn()">
      Приблизить
    </button>
    <button *ngIf="status.max !== 1 && status.zoom >= status.max" (click)="zoomOut()">
      Отдалить
    </button>
  </ng-container>
  <button (click)="downloadAction()">Скачать</button>
  <button *ngIf="type === filesType.suggest && !item.attached" (click)="suggestAction(true)">
    +Прикрепить
  </button>
  <button *ngIf="item.attached" (click)="suggestAction(false)">-Открепить</button>
  {{ position }}/{{ size }}
</ng-container>
