<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <div class="mb-24">
  <epgu-constructor-medical-referrals-list
    [medicalReferralsList]="medicalReferrals$ | async"
    (referralsWasChosen)="sendReferral($event)"
  ></epgu-constructor-medical-referrals-list>
  </div>

  <epgu-constructor-answer-button
    epgu-constructor-action
    [data]="action"
    [action]="action"
    class="answer-btn"
  ></epgu-constructor-answer-button>
</epgu-constructor-default-unique-screen-wrapper>
