<section class="add-children-screen">
  <section>
    <div class="add-children-screen__card" *ngFor="let child of childrenListInitial">
      <div class="card">
        <div class="card__wrapper">
          <div class="card__header">
            <div class="card__title">Ребенок {{ child?.id }}</div>
            <div class="card__close">
              <button (click)="removeChild(child?.id)" class="button-close">
                <div class="icon-close"></div>
              </button>
            </div>
          </div>
          <div class="card__content">
            <div>
              <epgu-constructor-label for="childrenList">
                Выберите ребенка из вашего профиля
              </epgu-constructor-label>
            </div>
            <div class="card__select">
              <lib-dropdown
                id="childrenList"
                (changed)="handleSelect($event)"
                [items]="childrenSelectList"
              ></lib-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-children-screen__form" *ngFor="let child of childrenList">
      <epgu-constructor-add-new-child-form
        *ngIf="child.isNew === true"
        (ngModel)="(child)"
        [data]="{
          itemsToSelect: childrenListInitial,
          items: childrenList,
          item: child
        }"
        (removeChildEvent)="removeChild($event)"
        (childUpdateEvent)="updateChild($event)"
      ></epgu-constructor-add-new-child-form>
    </div>

    <div class="add-children-screen__action">
      <button class="add-children-screen__button button" (click)="addNewChild()">
        <label class="button__label">Добавить ребенка</label>
      </button>
    </div>
  </section>

  <!-- <section class="add-children-screen__birth-certificate" *ngIf="sectionId === 2">
    <epgu-constructor-birth-certificate
      [data]="selectedChildrenList"
      (childUpdateEvent)="updateChild($event)"
    ></epgu-constructor-birth-certificate>
  </section>

  <section *ngIf="sectionId === 3">
    <epgu-constructor-child-relationship
      [gender]="valueParsed?.gender"
      (answerSelect)="handleAnswerSelect($event)"
    ></epgu-constructor-child-relationship>
  </section>

  <section *ngIf="sectionId === 4">
    <epgu-constructor-confirm-child-address
      [actions]="actionsList"
      [userAddress]="{
        registrationAddress: valueParsed?.registrationAddress,
        registrationAddressDate: valueParsed?.registrationAddressDate
      }"
      [data]="data"
      [childrenData]="selectedChildrenList"
    ></epgu-constructor-confirm-child-address>
  </section> -->
</section>
