@import "../../../../../styles/core/index";

.form {
  &__group {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: block;
    margin: 4px;
    width: 48px;
    &::ng-deep input {
      height: 52px;
      // letter-spacing: 8px;
      text-align: center;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
  &__error {
    color: $color-gosred;
    text-align: center;
  }
}

.form-hint {
  width: 269px;
  @include typ-plain-small();
  color: $color-text-helper;
  text-align: center;
  margin: 16px auto 0;
  &__timer {
    color: $color-black;
  }
}
