<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">

  <epgu-constructor-page-name>{{ screenService.header$ | async }}</epgu-constructor-page-name>

  <epgu-constructor-screen-pad>

    <div class="head" [innerHTML]="screenService.componentLabel$ | async | safeHtml"></div>

    <img class="icon" src="/assets/icons/svg/warn_80.svg">

    <div class="error">{{screenService.componentError$ | async}}</div>

    <div class="hint" *ngIf="isTimerShow">
      Повторная отправка кода будет возможна через
      <b class="hint__timer"
         [counter]="count"
         [interval]="countInterval"
         (value)="timerChange($event)">{{timer | formatTime}}</b>
    </div>

  </epgu-constructor-screen-pad>

  <div class="action">
    <epgu-constructor-long-button class="action__item" (click)="goBackTo()">
      {{screenService.actions[0]?.label}}
    </epgu-constructor-long-button>
  </div>


  <div class="footer">
    <lib-button
      [disabled]="isTimerShow"
      (click)="sendPostAgain()"
      class="footer__btn-submit"
    >
      {{ (screenService?.submitLabel$ | async) }}
    </lib-button>
  </div>

</epgu-constructor-screen-container>
