<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-screen-pad>
    <epgu-constructor-page-name>{{ screenService?.header }}</epgu-constructor-page-name>

    <div class="data-group">
      <div class="data-item">
        <div class="data-item__label">{{ screenService.component?.attrs?.place?.label }}</div>
        <div class="data-item__value">{{ value?.place }}</div>
      </div>

      <div class="data-item">
        <div class="data-item__label">{{ screenService.component?.attrs?.address?.label }}</div>
        <div class="data-item__value">{{ value?.address }}</div>
      </div>

      <div class="data-item">
        <div class="data-item__label">{{ screenService.component?.attrs?.ceremonyType?.label }}</div>
        <div class="data-item__value">{{ value?.ceremonyType }}</div>
      </div>

      <div class="data-item">
        <div class="data-item__label">{{ screenService.component?.attrs?.time?.label }}</div>
        <div class="data-item__value">{{ value?.time }}</div>
      </div>

      <div class="data-item">
        <div class="data-item__info">{{ this.screenService.componentLabel }}</div>
      </div>

      <epgu-constructor-timer [timer]="timer"></epgu-constructor-timer>
    </div>
  </epgu-constructor-screen-pad>

  <div class="footer">
    <lib-button
      [showLoader]="screenService.isLoading$ | async"
      [disabled]="isTimeCorrect()"
      (click)="nextStep()"
      class="footer__btn-submit"
    >
      {{ screenService?.submitLabel || 'Продолжить' }}
    </lib-button>
  </div>
</epgu-constructor-screen-container>
