<ng-container *ngFor="let field of data.attrs.fields">
  <ng-container *ngIf="field.type === 'input'">
    <epgu-constructor-label [for]="field.fieldName">{{ field.label }}</epgu-constructor-label>
    <lib-standard-input
      class="change-list__input"
      [formControl]="fields.get(field.fieldName)"
      [name]="field.fieldName"
      [id]="field.fieldName">
    </lib-standard-input>
  </ng-container>
  <ng-container *ngIf="field.type === 'checkbox'">
    <lib-checkbox
      class="change-list__input"
      [formControl]="fields.get(field.fieldName)"
      [labelText]="field.label"
      [checkboxId]="field.fieldName">
    </lib-checkbox>
  </ng-container>

</ng-container>

<button class="btn btn--light change-list__button" (click)="pushFormGroupToResponse()">Добавить данные</button>

<div *ngFor="let item of response; let i = index" class="chg-l-item">
  <div class="chg-l-item__order">{{ i + 1 }}. </div>
  <div class="chg-l-item__title">
    <span *ngFor="let field of data.attrs.fields">{{ item[field.fieldName] }}&nbsp;</span>
  </div>
  <div class="chg-l-item__del icon-close" (click)="removeItem(item)"></div>
</div>
