@import "../../../../../../styles/core";

.head {
  margin-bottom: 32px;
}

.icon {
  display: block;
  margin: 0 auto 6px;
  max-width: 100%;
}

.error {
  color: $color-gosred;
  text-align: center;
}

.hint {
  width: 269px;
  @include typ-plain-small();
  color: $color-text-helper;
  text-align: center;
  margin: 16px auto 0;
  &__timer {
    color: $color-black;
  }
}

.action {
  margin-top: 24px;
  &__item {
    justify-content: center;
  }
}
