<header class="app-header"></header>
<main class="app-content">
  <app-welcome-screen [data]="welcomeComponentData"></app-welcome-screen>
  <app-requirements-list [data]="requirementsListComponentData"></app-requirements-list>
  <app-question-block [data]="questionComponentData" (answerSelect)="onAnswerSelect($event)"></app-question-block>
  <app-confirm-personal-user-email-screen [data]="confirmUserEmail" (actionSelect)="confirmEmailActionSelect($event)"></app-confirm-personal-user-email-screen>
  <app-confirm-personal-user-phone-screen [data]="confirmPhoneEmail" (actionSelect)="confirmPhoneActionSelect($event)"></app-confirm-personal-user-phone-screen>
</main>
<footer class="app-footer"></footer>

