@import "../resolution-mixins";

:host {
  display: block;
  background-color: #F3F5FB;
}

header {
  background: red;
}

footer {
  background: green;
}

main {
  display: flex;
  flex-direction: column;
}


@include desktop {
  header.app-header {
    height: 120px;
  }


  footer.app-footer {
    height: 201px;
  }
}
