@import "../style/variables";
@import "../style/breakpoint";

:host {
  display: block;
  @include tablets-up {
    background-color: $quartz;
  }
}

header {
  background: red;
}

footer {
  background: green;
}

main {
  display: flex;
  flex-direction: column;

  min-height: calc(100% - 128px);
}

@include tablets-down {
  header.app-header {
    height: 128px;
  }
}

@include tablets-up {
  #content-wrapper {
    background-color: #F3F5FB;;
  }

  header.app-header {
    height: 120px;
  }


  footer.app-footer {
    height: 201px;
  }
}
