@import 'src/styles/core/variables';

.cmp-group {
  &__layer {
    margin-bottom: $screen-pad-p;
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
}

.btn--add {
  margin-top: $screen-pad-p;
  &__text {
    width: 100%;
    text-align: center;
  }
}
