@import '../../../../../styles/core/functions';
@import '../../../../../styles/core/typography';
@import '../../../../../styles/core/variables';

.nav {
  @include navigation-mt();
}

.cmp-group {
  &__layer {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
}

.btn--add {
  margin-top: $screen-pad-p;
  &__text {
    width: 100%;
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  @include tablets-up {
    margin-top: 32px;
  }
}
