 @import "../../../../../../styles/core/functions";
 @import "../../../../../../styles/core/typography";
 @import "../../../../../../styles/core/palettes";

.doc-input {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__title {
    @include typ-h6;

    font-weight: $fw-bold;
    margin-bottom: 4px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
  }

  &__group-item {
    flex: 1;
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__series {
    margin-right: 8px;
  }

  &__number {
    margin: 0 8px;

    @include phones-down {
      margin-right: 0;
    }
  }


  &__date {
    flex-grow: 2;
    margin-left: 8px;

    &_expire {
      margin-top: 16px;
    }

    @include phones-down {
      flex-basis: 100%;
      margin: 16px 0 0 0;
    }
  }

  &__emmiter {
    margin-top: 24px;
  }

  &__hint {
    margin-top: 4px;
  }

  &__label {
    display: block;
    margin: 7px 0;
    text-align: left;
    color: $color-gray;
  }

  &__all-width {
    flex-grow: 2;
  }
}
