<section class="doc-input">
  <div *ngIf="data.value.label && isValidationShown(seriesNumDateGroup)" class="doc-input__title">
    <span>{{ data.value.label }}</span>
  </div>
  <div class="form__error">
    <epgu-constructor-input-error *ngFor="let fieldName of fieldsNames | slice: 0:-1">
      <span *ngIf="isValidationShown([seriesNumDateGroup, fieldName])">
        {{ fields[fieldName]?.label }}: {{ form.get([seriesNumDateGroup, fieldName]).errors.msg }}
      </span>
    </epgu-constructor-input-error>
    <epgu-constructor-input-error *ngIf="hasExpirationDate">
      <span *ngIf="isValidationShown(expirationDateName)">
        {{ fields[expirationDateName]?.label }}: {{ form.get(expirationDateName).errors.msg }}
      </span>
    </epgu-constructor-input-error>
  </div>

  <div *ngIf="!hasExpirationDate; else expireDate" class="doc-input__group">
    <div
      class="doc-input__group-item doc-input__series"
      *ngIf="!fields['series']?.attrs.hidden"
      [class.doc-input__all-width]="fields['number']?.attrs.hidden"
    >
      <epgu-constructor-label
        [tips]="fields['series']?.attrs?.labelHint"
        [label]="fields['series']?.label"
        for="series"
      ></epgu-constructor-label>
      <epgu-constructor-masked-input
        *ngIf="fields['series']?.attrs.mask; else plainInputSeries"
        [textTransformType]="fields['series']?.attrs?.fstuc"
        id="series"
        [control]="$any(form.get([seriesNumDateGroup, 'series']))"
        [mask]="fields['series']?.attrs?.mask | maskHandle"
        [showMaskAsPlaceholder]="!fields['series']?.placeholder"
        [placeholder]="fields['series']?.placeholder"
        [showConstantMaskSymbols]="true"
        [invalid]="isValidationShown([seriesNumDateGroup, 'series'])"
        [validationShowOn]="validationShowOn"
        [component]="fields['series']"
      ></epgu-constructor-masked-input>
      <ng-template #plainInputSeries>
        <epgu-constructor-constructor-plain-input
          [textTransformType]="fields['series']?.attrs?.fstuc"
          id="series"
          [control]="$any(form.get([seriesNumDateGroup, 'series']))"
          [placeholder]="fields['series']?.placeholder"
          [invalid]="isValidationShown([seriesNumDateGroup, 'series'])"
          [validationShowOn]="validationShowOn"
          [component]="fields['series']"
        ></epgu-constructor-constructor-plain-input>
      </ng-template>
      <epgu-constructor-helper-text *ngIf="fields['series']?.hint as hint" class="doc-input__hint">
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
    <div
      class="doc-input__group-item doc-input__number"
      *ngIf="!fields['number']?.attrs.hidden"
      [class.doc-input__all-width]="fields['series']?.attrs.hidden"
    >
      <epgu-constructor-label
        [tips]="fields['number']?.attrs?.labelHint"
        [label]="fields['number']?.label"
        for="number"
      ></epgu-constructor-label>
      <epgu-constructor-masked-input
        *ngIf="fields['number']?.attrs.mask; else plainInputNumber"
        [textTransformType]="fields['number']?.attrs?.fstuc"
        id="number"
        [control]="$any(form.get([seriesNumDateGroup, 'number']))"
        [mask]="fields['number']?.attrs?.mask | maskHandle"
        [showMaskAsPlaceholder]="!fields['number']?.placeholder"
        [placeholder]="fields['number']?.placeholder"
        [showConstantMaskSymbols]="true"
        [invalid]="isValidationShown([seriesNumDateGroup, 'number'])"
        [validationShowOn]="validationShowOn"
        [component]="fields['number']"
      ></epgu-constructor-masked-input>
      <ng-template #plainInputNumber>
        <epgu-constructor-constructor-plain-input
          [textTransformType]="fields['number']?.attrs?.fstuc"
          id="number"
          [control]="$any(form.get([seriesNumDateGroup, 'number']))"
          [placeholder]="fields['number']?.placeholder"
          [invalid]="isValidationShown([seriesNumDateGroup, 'number'])"
          [validationShowOn]="validationShowOn"
          [component]="fields['number']"
        ></epgu-constructor-constructor-plain-input>
      </ng-template>
      <epgu-constructor-helper-text *ngIf="fields['number']?.hint as hint" class="doc-input__hint">
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
    <div class="doc-input__group-item doc-input__date">
      <epgu-constructor-label
        [tips]="fields['date']?.attrs?.labelHint"
        [label]="fields['date']?.label"
        for="date"
      ></epgu-constructor-label>
      <epgu-constructor-constructor-date-picker
        id="date"
        align="left"
        [control]="form.get([seriesNumDateGroup, 'date'])"
        [minDate]="fields['date']?.attrs?.minDate || '-120y'"
        [maxDate]="fields['date']?.attrs?.maxDate || 'today'"
        (blurEvent)="markControlAsDirty([seriesNumDateGroup, 'date'])"
        [invalid]="isValidationShown([seriesNumDateGroup, 'date'])"
        [validationShowOn]="validationShowOn"
        [clearable]="true"
        [brokenDateFixStrategy]="brokenDateFixStrategy"
      ></epgu-constructor-constructor-date-picker>
      <epgu-constructor-helper-text *ngIf="fields['date']?.hint as hint" class="doc-input__hint">
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
  </div>
  <ng-template #expireDate>
    <div class="doc-input__group">
      <div class="doc-input__group-item doc-input__series" *ngIf="!fields['series']?.attrs.hidden">
        <epgu-constructor-label
          [tips]="fields['series']?.attrs?.labelHint"
          [label]="fields['series']?.label"
          for="series"
        ></epgu-constructor-label>
        <epgu-constructor-masked-input
          *ngIf="fields['series']?.attrs.mask; else plainInputSeries"
          [textTransformType]="fields['series']?.attrs?.fstuc"
          id="series"
          [control]="$any(form.get([seriesNumDateGroup, 'series']))"
          [mask]="fields['series']?.attrs?.mask | maskHandle"
          [showMaskAsPlaceholder]="!fields['series']?.placeholder"
          [placeholder]="fields['series']?.placeholder"
          [showConstantMaskSymbols]="true"
          [invalid]="isValidationShown([seriesNumDateGroup, 'series'])"
          [validationShowOn]="validationShowOn"
          [component]="fields['series']"
        ></epgu-constructor-masked-input>
        <ng-template #plainInputSeries>
          <epgu-constructor-constructor-plain-input
            [textTransformType]="fields['series']?.attrs?.fstuc"
            id="series"
            [control]="$any(form.get([seriesNumDateGroup, 'series']))"
            [placeholder]="fields['series']?.placeholder"
            [invalid]="isValidationShown([seriesNumDateGroup, 'series'])"
            [validationShowOn]="validationShowOn"
            [component]="fields['series']"
          ></epgu-constructor-constructor-plain-input>
        </ng-template>
        <epgu-constructor-helper-text
          *ngIf="fields['series']?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
      <div class="doc-input__group-item doc-input__number" *ngIf="!fields['number']?.attrs.hidden">
        <epgu-constructor-label
          [tips]="fields['number']?.attrs?.labelHint"
          [label]="fields['number']?.label"
          for="number"
        ></epgu-constructor-label>
        <epgu-constructor-masked-input
          *ngIf="fields['number']?.attrs.mask; else plainInputNumber"
          [textTransformType]="fields['number']?.attrs?.fstuc"
          id="number"
          [control]="$any(form.get([seriesNumDateGroup, 'number']))"
          [mask]="fields['number']?.attrs?.mask | maskHandle"
          [showMaskAsPlaceholder]="!fields['number']?.placeholder"
          [placeholder]="fields['number']?.placeholder"
          [showConstantMaskSymbols]="true"
          [invalid]="isValidationShown([seriesNumDateGroup, 'number'])"
          [validationShowOn]="validationShowOn"
          [component]="fields['number']"
        ></epgu-constructor-masked-input>
        <ng-template #plainInputNumber>
          <epgu-constructor-constructor-plain-input
            [textTransformType]="fields['number']?.attrs?.fstuc"
            id="number"
            [control]="$any(form.get([seriesNumDateGroup, 'number']))"
            [placeholder]="fields['number']?.placeholder"
            [invalid]="isValidationShown([seriesNumDateGroup, 'number'])"
            [validationShowOn]="validationShowOn"
            [component]="fields['number']"
          ></epgu-constructor-constructor-plain-input>
        </ng-template>
        <epgu-constructor-helper-text
          *ngIf="fields['number']?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
    </div>
    <div class="doc-input__group">
      <div class="doc-input__group-item doc-input__date doc-input__date_expire">
        <epgu-constructor-label
          [tips]="fields['date']?.attrs?.labelHint"
          [label]="fields['date']?.label"
          for="date"
        ></epgu-constructor-label>
        <epgu-constructor-constructor-date-picker
          id="date"
          align="left"
          [control]="form.get([seriesNumDateGroup, 'date'])"
          [minDate]="fields['date']?.attrs?.minDate || '-120y'"
          [maxDate]="fields['date']?.attrs?.maxDate || 'today'"
          (blurEvent)="markControlAsDirty([seriesNumDateGroup, 'date'])"
          [invalid]="isValidationShown([seriesNumDateGroup, 'date'])"
          [validationShowOn]="validationShowOn"
          [brokenDateFixStrategy]="brokenDateFixStrategy"
          [clearable]="true"
        ></epgu-constructor-constructor-date-picker>
        <epgu-constructor-helper-text *ngIf="fields['date']?.hint as hint" class="doc-input__hint">
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
      <div class="doc-input__group-item doc-input__date doc-input__date_expire">
        <epgu-constructor-label
          [tips]="fields[expirationDateName]?.attrs?.labelHint"
          [label]="fields[expirationDateName]?.label"
          for="date"
        ></epgu-constructor-label>
        <epgu-constructor-constructor-date-picker
          id="expirationDate"
          align="left"
          [control]="form.get(expirationDateName)"
          [minDate]="fields[expirationDateName]?.attrs?.minDate || '-120y'"
          [maxDate]="fields[expirationDateName]?.attrs?.maxDate || 'today'"
          (blurEvent)="markControlAsDirty(expirationDateName)"
          [invalid]="isValidationShown(expirationDateName)"
          [validationShowOn]="validationShowOn"
          [clearable]="true"
          [brokenDateFixStrategy]="brokenDateFixStrategy"
        ></epgu-constructor-constructor-date-picker>
        <epgu-constructor-helper-text
          *ngIf="fields[expirationDateName]?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
    </div>
  </ng-template>

  <epgu-constructor-helper-text *ngIf="fields['hint']?.label as label" class="doc-input__hint">
    {{ label }}
  </epgu-constructor-helper-text>

  <div class="doc-input__emmiter">
    <epgu-constructor-label
      [tips]="fields['emitter']?.attrs?.labelHint"
      [label]="fields['emitter']?.label"
      for="emitter"
    ></epgu-constructor-label>
    <epgu-constructor-input-error
      *ngIf="form.get('emitter').invalid && form.get('emitter').touched"
    >
      {{ form.get('emitter').errors.msg }}
    </epgu-constructor-input-error>
    <epgu-constructor-constructor-plain-input
      [textTransformType]="fields['emitter']?.attrs?.fstuc"
      id="emitter"
      [control]="$any(form.get('emitter'))"
      [invalid]="isValidationShown('emitter')"
      [validationShowOn]="validationShowOn"
      [component]="fields['emitter']"
    ></epgu-constructor-constructor-plain-input>
  </div>
  <epgu-constructor-helper-text *ngIf="fields['emitter']?.hint as hint" class="doc-input__hint">
    {{ hint }}
  </epgu-constructor-helper-text>
</section>
