<epgu-constructor-screen-container [show-nav]="!isMobile">

  <div class="screen-body">
    <epgu-constructor-page-name>{{ screenService.header }}</epgu-constructor-page-name>
    <div class="application" *ngIf="isMobile; else desktopTemplate">
      <div class="application__center">
        <img [src]="screenService.component.attrs.image.src"/>
      </div>

      <epgu-constructor-output-html
        [html]="screenService.component.label"
      ></epgu-constructor-output-html>
    </div>
  </div>

  <div class="screen-footer">
    <div class="footer">
      <lib-button
        [showLoader]="screenService.isLoading$ | async"
        (click)="redirectToLK()"
        class="btn__submit"
      >
        {{ screenService.actions[0].label || 'Продолжить' }}
      </lib-button>
    </div>
  </div>
</epgu-constructor-screen-container>

<ng-template #desktopTemplate>
  <div class="application__center">
    <lib-loader></lib-loader>
  </div>
</ng-template>
