<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenActionButtons]="screenService.buttons$ | async"
  [actionButtons]="screenService.actions$ | async"
  [isShowActionBtn]="true"
  [showNav]="screenService.showNav$ | async"
  [submitLabel]="screenService.submitLabel$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
  [nextStepAction]="nextStepAction"
>
  <epgu-constructor-checkbox-cube
    [label]="screenService.componentLabel$ | async"
    [clarifications]="(component$ | async).attrs.clarifications"
    [formGroup]="checkboxCubeForm"
    [checkboxes]="checkboxes"
  ></epgu-constructor-checkbox-cube>
</epgu-constructor-default-unique-screen-wrapper>
