@import "src/styles/core";

.info__text {
  color: $color-summer-night;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.payment__sum {
  color: $color-summer-night;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 8px;
}

.secondary{
  color: $color-text-helper;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 12px;
}

.info__img {
  max-width: 100%;
}

.info__hint{
  color: $color-text-helper;
  font-size: 14px;
  line-height: 20px;
}
