<form class="form">
  <div
    *ngFor="let componentData of formService.form.controls; let idx = index"
    class="form__item {{
      componentData.value?.attrs?.grid ? componentData.value?.attrs?.grid : ''
    }}"
  >
    <ng-container
      [ngSwitch]="componentData.value?.type"
      *ngIf="
        formService.shownElements[componentData.value?.id]?.isShown
          | showComponent: componentData.value?.attrs?.hidden
      "
    >
      <ng-container *ngSwitchCase="componentType.LabelSection">
        <ng-container
          *ngTemplateOutlet="
            formOutputHtml;
            context: { $implicit: { class: 'label', value: componentData.value } }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.HtmlString">
        <ng-container
          *ngTemplateOutlet="
            formOutputHtml;
            context: { $implicit: { class: 'info__text', value: componentData.value } }
          "
        >
        </ng-container>
      </ng-container>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.NewEmailInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [isHalfWidthItem]="isHalfWidthItem(componentData)"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.StringInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [hidden]="componentData.value?.attrs?.hidden"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.DropDown"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <lib-dropdown
          *ngIf="dropDowns$ | async as dropDowns"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [items]="$any(dropDowns[componentData.value?.id])"
          [disabled]="$any(dropDowns[componentData.value?.id])?.length === 1"
          [validationShowOn]="validationShowOn"
          [formControl]="$any(componentData.get('value'))"
          [clearable]="true"
          [localSearch]="componentData.get('attrs').value.localSearch"
          class="cs__select cs-select"
          [suggest]="(suggestions$ | async)[componentData.value?.id]"
          (selectSuggest)="suggestHandle($event)"
        >
        </lib-dropdown>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.MvdGiac"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <lib-lookup
          *ngIf="dropDowns$ | async as dropDowns"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [fixedItems]="$any(dropDowns[componentData.value?.id])"
          [disabled]="$any(dropDowns[componentData.value?.id].length === 1)"
          [validationShowOn]="validationShowOn"
          [formControl]="$any(componentData.get('value'))"
          [clearable]="true"
          [queryMinSymbolsCount]="0"
          [searchCaseSensitive]="false"
          [virtualScroll]="true"
        >
        </lib-lookup>
      </epgu-constructor-component-item>

      <ng-container>
        <epgu-constructor-component-item
          *ngSwitchCase="componentType.Dictionary"
          [control]="componentData.get('value')"
          [component]="componentData.value"
          [invalid]="componentData.invalid"
        >
          <lib-dropdown
            *ngIf="dictionaries$ | async as dictionaries"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [items]="dictionaries[getDictKeyByComp(componentData.value)]?.list"
            [validationShowOn]="validationShowOn"
            [disabled]="dictionaries[getDictKeyByComp(componentData.value)]?.list?.length === 1"
            [formControl]="$any(componentData.get('value'))"
            [clearable]="true"
            class="cs__select cs-select"
          >
          </lib-dropdown>
        </epgu-constructor-component-item>

        <epgu-constructor-component-item
          *ngSwitchCase="componentType.Lookup"
          [control]="componentData.get('value')"
          [component]="componentData.value"
          [invalid]="componentData.invalid"
        >
          <lib-lookup
            *ngIf="dictionaries$ | async as dictionaries"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [validationShowOn]="validationShowOn"
            [formControl]="$any(componentData.get('value'))"
            [queryMinSymbolsCount]="0"
            [searchCaseSensitive]="false"
            [fixedItems]="dictionaries[getDictKeyByComp(componentData.value)]?.list"
            [virtualScroll]="true"
            [clearable]="true"
            [required]="componentData.value?.required"
            [suggest]="(suggestions$ | async)[componentData.value?.id]"
            (selectSuggest)="suggestHandle($event)"
          >
          </lib-lookup>
        </epgu-constructor-component-item>
      </ng-container>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.RadioInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [hidden]="componentData.value?.attrs?.hidden"
      >
        <div
          class="form__radio"
          [ngClass]="
            componentData.value?.attrs?.isHorizontal ? 'form__radio--inline' : 'form__radio--block'
          "
        >
          <lib-radio
            *ngFor="let item of componentData.value?.attrs?.supportedValues"
            [name]="componentData.value.id"
            [labelText]="item.label"
            [formControl]="$any(componentData.get('value'))"
            [value]="item.value"
            class="form__radio-item"
          >
          </lib-radio>
        </div>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.CheckBox"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [disableLabel]="true"
      >
        <div
          [ngClass]="
            componentData.value?.attrs?.isHorizontal ? 'form__radio_inline' : 'form__radio_block'
          "
        >
          <epgu-constructor-constructor-checkbox
            checkboxId="{{ componentData.value?.id }}_{{ componentsGroupIndex || 0 }}"
            [control]="componentData.get('value')"
            [labelText]="componentData.value?.label"
            [required]="componentData.value?.required"
          >
          </epgu-constructor-constructor-checkbox>
        </div>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.DateInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-date-picker
          (clearedEvent)="
            dateRangeService.clearDate(componentData.value?.id, componentData.value?.attrs)
          "
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [name]="componentData.value?.id"
          [control]="$any(componentData.get('value'))"
          [readOnly]="componentData.value?.attrs?.readonly"
          [minDate]="componentData.value?.attrs?.minDate || '-120y'"
          [maxDate]="componentData.value?.attrs?.maxDate || '+50y'"
          [clearable]="true"
          [align]="'left'"
          [brokenDateFixStrategy]="
            componentData.value?.attrs?.brokenDateFixStrategy || brokenDateFixStrategy
          "
        ></epgu-constructor-constructor-date-picker>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.AddressInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-dadata-widget
          [simpleMode]="true"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [hideHouseCheckbox]="false"
          [externalApiUrl]="configService.externalApiUrl + '/'"
          [control]="componentData.get('value')"
          [hideLevels]="componentData.value?.attrs?.hideLevels"
        >
        </epgu-constructor-constructor-dadata-widget>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.CityInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-lookup
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [control]="$any(componentData.get('value'))"
          [itemsProvider]="
            componentData.value?.attrs | memo: formService.addressHelperServiceProvider:formService
          "
          [clearable]="true"
        >
        </epgu-constructor-constructor-lookup>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.TextArea"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-multiline-input
          [textTransformType]="componentData.value?.attrs?.fstuc"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [name]="componentData.value?.id"
          [maxlength]="componentData.value?.attrs?.charsAmount"
          [control]="$any(componentData.get('value'))"
          [validationShowOn]="validationShowOn"
          [readOnly]="componentData.value?.attrs?.readonly"
          [placeholder]="componentData.value?.attrs?.placeholder"
          [component]="componentData.value"
        >
        </epgu-constructor-constructor-multiline-input>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.PhoneNumberChangeInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [isHalfWidthItem]="isHalfWidthItem(componentData)"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.OgrnInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.OgrnipInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.LegalInnInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.SnilsInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [hidden]="componentData.value?.attrs?.hidden"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.PersonInnInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <ng-container
          *ngTemplateOutlet="maskedAndPlainInput; context: { $implicit: componentData }"
        ></ng-container>
      </epgu-constructor-component-item>

      <epgu-constructor-timer [data]="componentData.value" *ngSwitchCase="componentType.Timer">
      </epgu-constructor-timer>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.PassportLookup"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-passport
          [formControl]="$any(componentData.get('value'))"
          [attrs]="componentData.value?.attrs"
          [suggestions]="(suggestions$ | async)[componentData.value?.id]"
          (selectSuggest)="suggestHandle($event)"
        >
        </epgu-constructor-passport>
      </epgu-constructor-component-item>

      <epgu-constructor-doc-input
        *ngSwitchCase="componentType.DocInput"
        [data]="componentData"
        [suggestions]="(suggestions$ | async)[componentData.value?.id]"
        (selectSuggest)="suggestHandle($event)"
      >
      </epgu-constructor-doc-input>

      <epgu-constructor-field-list
        *ngSwitchCase="componentType.FieldList"
        [data]="$any(componentData.get('value'))"
      >
      </epgu-constructor-field-list>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.MultipleChoiceDictionary"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [disableLabel]="true"
      >
        <epgu-constructor-multiple-choice-dictionary
          [formControl]="$any(componentData.get('value'))"
          [dictionaryList]="componentData.get('attrs').value.dictionaryList"
          [dictionaryType]="componentData.get('attrs').value.dictionaryType"
          [subLabel]="componentData.get('attrs').value.subLabel"
          [label]="componentData.get('label').value"
        ></epgu-constructor-multiple-choice-dictionary>
      </epgu-constructor-component-item>
    </ng-container>
  </div>
</form>

<ng-template #formOutputHtml let-data>
  <epgu-constructor-output-html
    class="custom__screen-html"
    [class]="data.class"
    [html]="data.value?.label"
    [clarifications]="data.value?.attrs?.clarifications"
  >
  </epgu-constructor-output-html>
</ng-template>

<ng-template #maskedAndPlainInput let-data>
  <ng-container
    *ngTemplateOutlet="
      data.value?.attrs?.mask ? maskedInput : plainInput;
      context: { $implicit: data }
    "
  >
  </ng-container>
</ng-template>

<ng-template #plainInput let-data>
  <epgu-constructor-constructor-plain-input
    [price]="data.value?.attrs?.price"
    [rank]="data.value?.attrs?.rank"
    [textTransformType]="data.value?.attrs?.fstuc"
    [invalid]="data.get('value').invalid && data.get('value').touched"
    [name]="data.value?.id"
    [control]="data.get('value')"
    [validationShowOn]="validationShowOn"
    [readOnly]="data.value?.attrs?.readonly"
    [placeholder]="data.value?.attrs?.placeholder"
    [component]="data.value"
    [suggestions]="(suggestions$ | async)[data.value?.id]"
    (selectSuggest)="suggestHandle($event)"
  ></epgu-constructor-constructor-plain-input>
</ng-template>

<ng-template #maskedInput let-data>
  <epgu-constructor-masked-input
    *ngIf="data.value?.attrs?.mask"
    [validationShowOn]="validationShowOn"
    [readonly]="data.value?.attrs?.readonly"
    [mask]="data.value?.attrs?.mask"
    [maskOptions]="data.value?.attrs?.maskOptions"
    [textTransformType]="data.value?.attrs?.fstuc"
    [clearable]="true"
    [name]="data.value?.id"
    [showMaskAsPlaceholder]="!data.value?.attrs?.placeholder"
    [showConstantMaskSymbols]="data.value?.attrs?.showMaskSymbols"
    [placeholder]="data.value?.attrs?.placeholder"
    [control]="data.get('value')"
    [invalid]="data.get('value').invalid && data.get('value').touched"
    [isTrim]="false"
    [component]="data.value"
    [showPlaceholderOnFocus]="data.value?.attrs?.showPlaceholderOnFocus"
    [suggestions]="(suggestions$ | async)[data.value?.id]"
    (selectSuggest)="suggestHandle($event)"
  ></epgu-constructor-masked-input>
</ng-template>
