<form class="form">
  <div
    *ngFor="let componentData of formService.form.controls; let idx = index"
    class="form__item {{
      componentData.value?.attrs?.grid ? componentData.value?.attrs?.grid : ''
    }}"
  >
    <ng-container
      [ngSwitch]="componentData.value?.type"
      *ngIf="
        formService.shownElements[componentData.value?.id]?.isShown
          | showComponent: componentData.value?.attrs?.hidden
      "
    >

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.DropDown"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <lib-dropdown
          *ngIf="dropDowns$ | async as dropDowns"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [items]="$any(dropDowns[componentData.value?.id])"
          [disabled]="$any(dropDowns[componentData.value?.id])?.length === 1"
          [validationShowOn]="validationShowOn"
          [formControl]="$any(componentData.get('value'))"
          [clearable]="true"
          [localSearch]="componentData.value.attrs.localSearch"
          class="cs__select cs-select"
          [suggest]="(suggestions$ | async)[componentData.value?.id]"
          (selectSuggest)="suggestHandle($event)"
        >
        </lib-dropdown>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.DropDownDepts"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-drop-down-depts
          *ngIf="dictionaries$ | async as dictionaries"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [dictionary]="dictionaries[getDictKeyByComp(componentData.value)]"
          [validationShowOn]="validationShowOn"
          [control]="$any(componentData.get('value'))"
          [required]="componentData.value?.required"
          [attrs]="componentData.value.attrs"
          [suggest]="(suggestions$ | async)[componentData.value?.id]"
          (selectSuggest)="suggestHandle($event)"
        >
        </epgu-constructor-drop-down-depts>
      </epgu-constructor-component-item>

      <ng-container>
        <epgu-constructor-component-item
          *ngSwitchCase="componentType.Dictionary"
          [control]="componentData.get('value')"
          [component]="componentData.value"
          [invalid]="componentData.invalid"
        >
          <lib-dropdown
            *ngIf="dictionaries$ | async as dictionaries"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [items]="dictionaries[getDictKeyByComp(componentData.value)]?.list"
            [validationShowOn]="validationShowOn"
            [disabled]="dictionaries[getDictKeyByComp(componentData.value)]?.list?.length === 1"
            [formControl]="$any(componentData.get('value'))"
            [clearable]="true"
            class="cs__select cs-select"
          >
          </lib-dropdown>
        </epgu-constructor-component-item>

        <epgu-constructor-component-item
          *ngSwitchCase="componentType.Lookup"
          [control]="componentData.get('value')"
          [component]="componentData.value"
          [invalid]="componentData.invalid"
        >
          <lib-lookup
            *ngIf="dictionaries$ | async as dictionaries"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [validationShowOn]="validationShowOn"
            [formControl]="$any(componentData.get('value'))"
            [queryMinSymbolsCount]="0"
            [searchCaseSensitive]="false"
            [fixedItems]="dictionaries[getDictKeyByComp(componentData.value)]?.list"
            [virtualScroll]="true"
            [clearable]="true"
            [required]="componentData.value?.required"
            [suggest]="(suggestions$ | async)[componentData.value?.id]"
            (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"
          >
          </lib-lookup>
        </epgu-constructor-component-item>
      </ng-container>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.RadioInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
        [hidden]="componentData.value?.attrs?.hidden"
      >
        <div
          class="form__radio"
          [ngClass]="
            componentData.value?.attrs?.isHorizontal ? 'form__radio--inline' : 'form__radio--block'
          "
        >
          <lib-radio
            *ngFor="let item of componentData.value?.attrs?.supportedValues"
            [name]="componentData.value.id"
            [labelText]="item.label"
            [formControl]="$any(componentData.get('value'))"
            [value]="item.value"
            class="form__radio-item"
          >
          </lib-radio>
        </div>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.AddressInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-dadata-widget
          [simpleMode]="true"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [hideHouseCheckbox]="false"
          [externalApiUrl]="configService.externalApiUrl + '/'"
          [control]="componentData.get('value')"
          [hideLevels]="componentData.value?.attrs?.hideLevels"
        >
        </epgu-constructor-constructor-dadata-widget>
      </epgu-constructor-component-item>

      <epgu-constructor-component-item
        *ngSwitchCase="componentType.CityInput"
        [control]="componentData.get('value')"
        [component]="componentData.value"
        [invalid]="componentData.invalid"
      >
        <epgu-constructor-constructor-lookup
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [control]="$any(componentData.get('value'))"
          [itemsProvider]="
            componentData.value?.attrs | memo: formService.addressHelperServiceProvider:formService
          "
          [clearable]="true"
        >
        </epgu-constructor-constructor-lookup>
      </epgu-constructor-component-item>



<!--      resolve here-->

      <ng-container
        *ngIf="![
          componentType.DropDown,
          componentType.DropDownDepts,
          componentType.Dictionary,
          componentType.Lookup,
          componentType.RadioInput,
          componentType.AddressInput,
          componentType.CityInput,
        ].includes(componentData.value?.type)"
      >
        <epgu-constructor-component-resolver
          [componentIndex]="idx"
          [componentsGroupIndex]="componentsGroupIndex"
          [componentType]="componentData.value?.type"
        ></epgu-constructor-component-resolver>
      </ng-container>


<!--      <epgu-constructor-checkbox-input-->
<!--        *ngSwitchCase="componentType.CheckBox"-->
<!--        [control]="componentData"-->
<!--        [groupIndex]="componentsGroupIndex"-->
<!--      >-->
<!--      </epgu-constructor-checkbox-input>-->

<!--      <epgu-constructor-passport-lookup-->
<!--        *ngSwitchCase="componentType.PassportLookup"-->
<!--        [control]="componentData"-->
<!--        [suggestions]="(suggestions$ | async)[componentData.value?.id]"-->
<!--        (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"-->
<!--      >-->
<!--      </epgu-constructor-passport-lookup>-->


<!--            <epgu-constructor-form-output-html-->
<!--              *ngIf="[componentType.HtmlString, componentType.LabelSection].includes(componentData.value?.type)"-->
<!--              [control]="componentData"-->

<!--            ></epgu-constructor-form-output-html>-->


<!--       TODO  NewEmailInput, PhoneNumberChangeInput в json не найдены, уточнить-->
            <epgu-constructor-masked-and-plain-input
              *ngIf="[
                componentType.NewEmailInput,
                componentType.PhoneNumberChangeInput,
                componentType.StringInput,
                componentType.OgrnInput,
                componentType.OgrnipInput,
                componentType.LegalInnInput,
                componentType.SnilsInput,
                componentType.PersonInnInput,
                componentType.CheckingAccount,
              ]
              .includes(componentData.value?.type)
            "
              [control]="componentData"
              [suggestions]="(suggestions$ | async)[componentData.value?.id]"
            >
            </epgu-constructor-masked-and-plain-input>

<!--            <epgu-constructor-mvd-giac-lookup-->
<!--              *ngSwitchCase="componentType.MvdGiac"-->
<!--              [control]="componentData"-->
<!--            ></epgu-constructor-mvd-giac-lookup>-->

<!--            <epgu-constructor-date-input-->
<!--              *ngSwitchCase="componentType.DateInput"-->
<!--              [control]="componentData"-->
<!--            ></epgu-constructor-date-input>-->

<!--            <epgu-constructor-text-area-->
<!--              *ngSwitchCase="componentType.TextArea"-->
<!--              [control]="componentData"-->
<!--            ></epgu-constructor-text-area>-->

<!--            <epgu-constructor-timer *ngSwitchCase="componentType.Timer" [data]="componentData.value">-->
<!--            </epgu-constructor-timer>-->

<!--      <epgu-constructor-doc-input-->
<!--        *ngSwitchCase="componentType.DocInput"-->
<!--        [data]="componentData"-->
<!--        [suggestions]="(suggestions$ | async)[componentData.value?.id]"-->
<!--        (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"-->
<!--      >-->
<!--      </epgu-constructor-doc-input>-->

<!--      <epgu-constructor-field-list-->
<!--        *ngSwitchCase="componentType.FieldList"-->
<!--        [data]="$any(componentData.get('value'))"-->
<!--      >-->
<!--      </epgu-constructor-field-list>-->

<!--      <epgu-constructor-multi-choice-dictionary-->
<!--        *ngSwitchCase="componentType.MultipleChoiceDictionary"-->
<!--        [control]="componentData"-->
<!--      ></epgu-constructor-multi-choice-dictionary>-->

<!--      <epgu-constructor-checkbox-list-->
<!--        *ngSwitchCase="componentType.CheckBoxList"-->
<!--        [attrs]="componentData.value.attrs"-->
<!--        [required]="componentData.value.required"-->
<!--        [formControl]="$any(componentData.get('value'))"-->
<!--      >-->
<!--      </epgu-constructor-checkbox-list>-->
    </ng-container>
  </div>
</form>
