@import "src/styles/core";


.nav {
  @include navigation-mt();
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: inherit;
  @include tablets-up {
    min-height: auto;
  }
}

.body {
  display: flex;
  text-align: left;
  @include tablets-down {
    flex-grow: 1;
  }
  > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.label {
  margin-bottom: 20px;
}

.form {
  &__item {
    margin-bottom: 24px;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    color: $color-summer-night;
    margin-bottom: 4px;
  }
  &__error {
    margin-top: 4px;
    color: $color-gosred;
  }
  &__radio {
    &__block {
      display: inline-block;
      lib-radio {
        display: block;
        margin-bottom: 16px;
      }
    }
    &__inline {
      margin-top: 24px;
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  @include tablets-up {
    margin-top: 32px;
  }
  &__btn-submit {
    width: auto;
    &::ng-deep button {
      width: inherit;
      min-width: 100px;
    }
  }
}
