<app-navigation></app-navigation>
<app-screen-container>
  <div class="inner">
    <div *ngIf="data?.header" class="head">
      <app-page-name>{{ data?.header }}</app-page-name>
    </div>

    <app-screen-pad class="body">
      <form #customForm="ngForm" action="" class="form">
        <ng-container *ngFor="let componentData of data?.components">
          <ng-container [ngSwitch]="componentData.type">
            <div class="form__item" *ngSwitchCase="componentType.LabelSection">
              <app-label-section [name]="componentData.label"></app-label-section>
            </div>

            <div class="form__item" *ngSwitchCase="componentType.Dictionary">
              <div class="form__title">{{componentData.label}}</div>
              <lib-dropdown
                class="cs__select cs-select"
                (changed)="selectDictionary($event, componentData)"
                [items]="dictionary[componentData?.attrs?.dictionaryType]?.list">
              </lib-dropdown>
            </div>

            <div class="form__item" *ngSwitchCase="componentType.Lookup">
              <div class="form__title">{{componentData.label}}</div>
              <lib-lookup
                [queryMinSymbolsCount]="0"
                [searchCaseSensitive]="false"
                (changed)="selectDictionary($event, componentData)"
                [fixedItems]="dictionary[componentData?.attrs?.dictionaryType]?.list"></lib-lookup>
            </div>

            <div class="form__item" *ngSwitchCase="componentType.StringInput">
              <div class="form__title">{{ componentData.label }}</div>
              <lib-plain-input
                [invalid]="!state[componentData.id].valid"
                [name]="componentData.id"
                (change)="inputChange($event, componentData)"
                [validationShowOn]="validationShowOn"
              ></lib-plain-input>
              <div class="form__error">
                <small *ngIf="!state[componentData.id].valid"
                  >{{ state[componentData.id]?.errorMessage }}
                </small>
              </div>
            </div>

            <div class="form__item" *ngSwitchCase="componentType.DateInput">
              <div class="form__title">{{ componentData.label }}</div>
              <lib-date-picker
                [name]="componentData.id"
                [(ngModel)]="state[componentData.id].value"
              ></lib-date-picker>
            </div>

            <div class="form__item" *ngSwitchCase="componentType.RadioInput">
              <div class="form__title">{{ componentData.label }}</div>
              <app-radio-input *ngFor="let radio in componentData.attrs.supportedValues">
                <lib-radio [value]="radio.value" [labelText]="radio.label"></lib-radio>
              </app-radio-input>
            </div>
          </ng-container>
        </ng-container>
      </form>
    </app-screen-pad>

    <div class="footer">
      <lib-button
        [showLoader]="constructorService.isLoading"
        (click)="nextScreen()"
        class="footer__btn-submit">
        {{ data.submitLabel }}
      </lib-button>
    </div>
  </div>
</app-screen-container>
