@import "src/styles/core";

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: inherit;
  @include tablets-up {
    min-height: auto;
  }
}

.body {
  display: flex;
  @include tablets-down {
    flex-grow: 1;
  }
  &::ng-deep > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  @include tablets-up {
    margin-top: 32px;
  }
}

epguc-screen-container {
  text-align: center;
}

app-screen-pad {
  text-align: left;
}

app-label-section {
  margin-bottom: 20px;
}

.form {
  &__item {
    margin-bottom: 24px;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    color: $cyprus;
    margin-bottom: 4px;
  }
  &__error {
    margin-top: 4px;
    color: $gosred;
  }
}

lib-dropdown::ng-deep {
  .simple-select {
    border-radius: 4px;
    padding: 14px 16px;
  }
  .simple-select-list {
    width: 100% !important;
  }
}
