@import '../../../../../../../styles/variables';

.add-new-child-form {
  background-color: $light-gray;
}

.component {
  padding: 24px 16px;
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    color: $gray;
  }
  &__close {
    margin-left: auto;
  }
  &__field {
    margin-top: 1rem;
  }
  &__radio-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__content {
    margin-top: 24px;
  }
  &__label {
    font-size: 14px;
    line-height: 20px;
  }
  &__select {
    & select {
      width: 100%;
    }
  }
  & .button-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transform: translateX(2px);
  }
}

.radio-group {
  &__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
