<epgu-constructor-long-button
  [data]="data"
  [isLoading]="screenService.isLoading$ | async"
  class="answer-btn"
>
  <div class="answer-btn__container">
    <span class="answer-btn__title">{{ data?.label }}</span>
    <!-- TODO hint запрещён к использованию, выпилить нужно, если больше в услугах не используется -->
    <span class="answer-btn__hint" *ngIf="data?.hint">
      <lib-question-help-tip [questionTip]="data?.hint"></lib-question-help-tip>
    </span>
    <span class="answer-btn__icon">
      <span class="icon-loading" *ngIf="isShown(data?.value)">
        <lib-throbber-hexagon [size]="'medium'"></lib-throbber-hexagon>
      </span>
      <span class="icon-arrow" *ngIf="!isShown(data?.value)"></span>
    </span>
  </div>
  <div *ngIf="data?.description" class="answer-btn__description">{{ data.description }}</div>
</epgu-constructor-long-button>
