@import 'src/styles/core/palettes';
@import 'src/styles/core/functions';
@import 'src/styles/core/typography';

:host {
  display: block;
  cursor: pointer;
}

.answer-btn {
  &::ng-deep > button {
    flex-wrap: wrap;
  }
  &__icon {
    flex-shrink: 0;
    margin-left: 10px;
  }

  &__hint {
    lib-question-help-tip {
      display: flex;
    }
    margin-left: auto;
  }
  &__description {
    flex-basis: 100%;
    color: $color-text-helper;
    @include typ-plain-small;
    margin-top: 8px;

  }
}

.icon-loading {
  position: absolute;
  right: 17px;
  @include phones-down {
    right: 13px;
  }
}
