@import "src/styles/core/palettes";
@import "src/styles/core/functions";

:host {
  display: block;
  cursor: pointer;
}

.answer-btn {

  &__icon {
    flex-shrink: 0;
    margin-left: 10px;
  }

  &__hint {
    // ToDo убрать, как доработают компонент epgu-lib
    lib-question-help-tip {
      display: flex;
    }
    margin-left: auto;
  }
}
