@import 'src/styles/core/palettes';
@import 'src/styles/core/functions';

:host {
  display: block;
  cursor: pointer;
}

.answer-btn {
  &__icon {
    flex-shrink: 0;
    margin-left: 10px;
  }

  &__hint {
    lib-question-help-tip {
      display: flex;
    }
    margin-left: auto;
  }
}

.icon-loading {
  position: absolute;
  right: $screen-pad-p;
  @include phones-down {
    right: $screen-pad-small-gap;
  }
}
