<epgu-constructor-long-button
  [data]="data"
  [isLoading]="screenService.isLoading$ | async"
  [disabled]="data.disabled"
  class="answer-btn"
>
  <div class="answer-btn__container">
    <span class="answer-btn__title">{{ data?.label }}</span>
    <!-- TODO hint запрещён к использованию, выпилить нужно, если больше в услугах не используется -->
    <span class="answer-btn__hint" *ngIf="data?.hint">
      <lib-question-help-tip [questionTip]="data?.hint"></lib-question-help-tip>
    </span>
    <span class="answer-btn__icon">
      <span *ngIf="isShown(data?.value)">
        <lib-round-loader></lib-round-loader>
      </span>
      <span
        class="icon-arrow"
        *ngIf="!isShown(data?.value)"
        [ngClass]="{ disabled: data.disabled }"
      ></span>
    </span>
  </div>
  <div *ngIf="data?.description" class="answer-btn__description">{{ data.description }}</div>
</epgu-constructor-long-button>
