@import "variables";
@import "functions";

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
  &-4 {
    margin-bottom: 4px !important;
  }

  &-8 {
    margin-bottom: 8px !important;
  }

  &-12 {
    margin-bottom: 12px !important;
  }

  &-14 {
    margin-bottom: 14px !important;
  }

  &-16 {
    margin-bottom: 16px !important;
  }

  &-24 {
    margin-bottom: 24px !important;
  }

  &-32 {
    margin-bottom: 32px !important;
  }
}

.mt {
  &-4 {
    margin-top: 4px !important;
  }

  &-8 {
    margin-top: 8px !important;
  }

  &-12 {
    margin-top: 12px !important;
  }

  &-14 {
    margin-top: 14px !important;
  }

  &-16 {
    margin-top: 16px !important;
  }

  &-24 {
    margin-top: 24px !important;
  }

  &-32 {
    margin-top: 32px !important;
  }
}

@mixin line {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 4px;
  position: relative;
  bottom: 3px;
}

.yellow-line {
  &::before {
    background-image: escape-svg($yellow-line-icon);
    @include line;
  }
}

.green-line {
  &::before {
    background-image: escape-svg($green-line-icon);
    @include line;
  }
}

.red-line {
  &::before {
    background-image: escape-svg($red-line-icon);
    @include line;
  }
}
.gray-line {
  &::before {
    background-image: escape-svg($gray-line-icon);
    @include line;
  }
}
