@import 'variables';
@import 'functions';

@mixin offsets() {
  @for $i from 0 through 20 {
    .mt-#{$i * 4} {
      margin-top: #{$i * 4}px !important;
    }

    .mb-#{$i * 4} {
      margin-bottom: #{$i * 4}px !important;
    }
  }
}

@include offsets();

@mixin line {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 4px;
  position: relative;
  bottom: 3px;
}

.yellow-line {
  &::before {
    background-image: escape-svg($yellow-line-icon);
    @include line;
  }
}

.orange-line {
  &::before {
    background-image: escape-svg($orange-line-icon);
    @include line;
  }
}

.green-line {
  &::before {
    background-image: escape-svg($green-line-icon);
    @include line;
  }
}

.red-line {
  &::before {
    background-image: escape-svg($red-line-icon);
    @include line;
  }
}
.gray-line {
  &::before {
    background-image: escape-svg($gray-line-icon);
    @include line;
  }
}
