@import "variables";

// Font families
$font-lato: 'Lato';

// Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-dflt: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-extra: 36px;

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-BlackItalic.woff') format('woff');
  font-weight: $fw-black;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Light.woff') format('woff');
  font-weight: $fw-light;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-HeavyItalic.woff') format('woff');
  font-weight: $fw-black;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-ThinItalic.woff') format('woff');
  font-weight: $fw-thin;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Black.woff') format('woff');
  font-weight: $fw-black;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Heavy.woff') format('woff');
  font-weight: $fw-black;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: $fw-regular;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-LightItalic.woff') format('woff');
  font-weight: $fw-light;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Thin.woff') format('woff');
  font-weight: $fw-thin;
  font-style: $fw-regular;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Italic.woff') format('woff');
  font-weight: $fw-regular;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: $font-lato;
  src: url('../../ui-kit-assets/fonts/Lato/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: $fw-regular;
  font-display: auto;
}
