@import 'variables';
@import 'breakpoint';

@mixin shadow-main {
  box-shadow: 0 24px 48px $color-shadow;
}

@mixin shadow-second {
  box-shadow: 0 6px 16px $color-shadow-second;
}

@mixin btn--light {
  background: $color-white;
  color: $color-pulsante-premuto;
  &:hover {
    background: $color-active-item;
    color: $color-white;
  }
  &:active {
    background: $color-pulsante-premuto;
    color: $color-white;
  }
}

@mixin btn--transparent {
  background: none;
  color: $color-pulsante-premuto;
  &:hover {
    background: $color-active-item;
    color: $color-white;
  }
  &:active {
    background: $color-pulsante-premuto;
    color: $color-white;
  }
}

@mixin btn--primary {
  background: $color-gosblue;
  color: $color-white;
  &:hover {
    background: $color-active-item;
  }
  &:active {
    background: $color-pulsante-premuto;
    color: $color-white;
  }
}

@mixin screen-button-width {
  min-width: 100%;
  @include tablets-up {
    width: auto;
    min-width: auto;
  }
}

@mixin screen-inner-button-width {
  width: 100%;
  min-width: 100px;
  @include tablets-up {
    width: inherit;
  }
}

@mixin screen-buttons-margin {
  :host::ng-deep  {
    .screen-body.screen-body,
    .screen-body.screen-body:not(.quiz__header) {
      @include tablets-up {
        margin-bottom: 16px;
      }

      @include tablets-down {
        margin-bottom: 0;
      }
    }

    .screen-footer > .screen-buttons,
    .screen-footer:not(.quiz__container) > .screen-buttons {
      margin-top: 0;
    }
  }
}

@mixin first-letter-uppercase {
  &:first-letter {
    text-transform: uppercase;
  }
}

@mixin centred-axis-x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin modal-body {
  @include centred-axis-x();
  z-index: $modal-z-index;
  background: $color-white;
}

@mixin navigation-mt {
  padding-top: 24px;
  @include tablets-down {
    padding-top: 0;
  }
}

%submit-button-margin {
  margin-top: 8px;
  @include tablets-up {
    margin-top: 32px;
  }
}

@mixin modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba($color-summer-night, 0.62);
  transition: background 0.25s;
  z-index: $modal-z-index;
  backdrop-filter: blur(8px);
}

@mixin flex-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

@mixin divider { // для header в модалках
  border-bottom: 1px solid $color-divider;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

// Миксин для установки высоты контента для модалок чтоб на таблетках и мобилке кнопки были внизу
@mixin modal-content-height {
  @include tablets-down {
    min-height: calc(100vh - 64px);
  }

  @include phones-down {
    min-height: calc(100vh - 48px);
  }
}

/* Миксины для info-screen и question-screen */
@mixin screen-content-margins {
  p {
    margin-top: 24px;
  }
  h3 {
    font-weight: bold;
    font-size: $font-xl;
    line-height: $font-xxl;
    text-align: center;
    margin: 24px 0 16px 0;
  }
  h3 + p, h3 + div {
    margin-top: 16px;
  }
  h5 {
    margin: 24px 0 8px 0;
    font-size: $font-md;
    line-height: $font-xl;
  }
  h5:first-child {
    margin-top: 0;
  }
  h5 + p, h5 + div {
    margin-top: 12px;
  }
  p:first-child {
    margin-top: 0;
  }
}

@mixin screen-content {
  a.block-link {
    margin-top: 8px;
    display: block;
  }
  .background-white {
    background-color: $color-white;
    padding: 0 24px;
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;
    > *:first-child {
      margin-top: 24px;
    }
    > *:last-child {
      margin-bottom: 24px;
    }
  }
  .text-alignment {
    text-align: center;
    @include phones-down {
      text-align: left;
    }
  }
  .block-context-8 {
    p:not(:first-child) {
      margin-top: 8px;
    }
  }
  .block-context-16 {
    p:not(:first-child) {
      margin-top: 16px;
    }
  }
  .fs-sm {
    font-size: $font-sm;
    line-height: $font-lg;
  }
  .red-line + p.fs-sm, .yellow-line + p.fs-sm {
    margin-top: 4px;
  }
  .cost {
    font-weight: bold;
    &::after {
      content: "₽";
      margin-left: 4px;
      display: inline-block;
    }
    &-old {
      margin-left: 16px;
      text-decoration: line-through;
      color: $color-text-helper;
      &::after {
        content: "₽";
        margin-left: 4px;
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}
