@import 'breakpoint';

:host::ng-deep {
  ul,
  ol {
    padding: 0;
    margin: 0 0 0 16px;
    list-style: none;
    @include tablets-down {
      margin-left: 12px;
    }
  }

  ol {
    counter-reset: number;
  }

  li {
    line-height: 24px;
    padding-left: 20px;
    position: relative;

    &:first-letter {
      text-transform: uppercase;
    }

    .block--description {
      margin-left: -20px;
    }
  }

  ul li::after {
    content: ' ';
    position: absolute;
    top: 8px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 9px;
    background-color: $color-blu-digitale;
  }

  ol li::after {
    @include typ-h6();
    counter-increment: number;
    content: counter(number) '.';
    color: $color-blu-digitale;
    position: absolute;
    left: 0;
    top: 0;
  }

  ul li ul,
  ol li ul {
    margin: 12px 0 0 0;

    li {
      &:first-letter {
        text-transform: lowercase;
      }
      // fix для аббервиатур вложенных списков
      &.first-letter-uppercase:first-letter {
        text-transform: uppercase;
      }
      &::after {
        content: ' ';
        position: absolute;
        top: 11px;
        left: 0;
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 2px;
        border-radius: 1px;
        background-color: $color-blu-digitale;
      }
    }
  }

  ol li > ul li {
    &::after {
      counter-increment: inherit;
    }
  }

  li:not(:first-child) {
    margin-top: 12px;
  }

  .suggests {
    & ul {
      margin: 0;
      & li {
        &:after {
          content: none;
        }
        &:first-letter {
          text-transform: none;
        }
      }
    }
  }

  ul:not(:first-child):not(li ul) {
    margin-top: 8px;
  }

  ol:not(:first-child) {
    margin-top: 12px;
  }

  ol > li:nth-child(n + 10) {
    padding-left: 20px + 9px;
  }

  ol > li:nth-child(n + 100) {
    padding-left: 20px + 2 * 9px;
  }

  ul.dashed > li {
    &:first-letter {
      text-transform: lowercase;
    }
    // fix для аббервиатур вложенных списков
    &.first-letter-uppercase:first-letter {
      text-transform: uppercase;
    }
    &::after {
      content: ' ';
      position: absolute;
      top: 11px;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      background-color: $color-blu-digitale;
    }
  }

  .list-bg-white {
    background-color: $color-white;
    border-radius: 8px;
    @include shadow-main();
    margin-left: 0;
    padding: 24px;
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  li ul.list-bg-white {
    margin-top: 0;
  }
}
