// Brand colors
$color-white: #FFFFFF;
$color-gosblue: #0D4CD3;
$color-gosred: #EE3F58;
$color-summer-night: #0B1F33;
$color-input: #F5F7FA;
$color-divider: #99B1E6;
$color-error-highlight: rgba(238, 63, 88, 0.16);
$color-shadow: rgba(230, 235, 245, 0.4);
$color-shadow-second: rgba(230, 235, 245, 0.8);
$color-background: #FAFCFF;
$color-bg-disabled: #D1D5DF;
$color-text-helper: #66727F;
$color-active-item: #1D5DEB;
$color-giallo-brillante: #FED13E;
$color-giallo-selezionato: #FED13E;
$color-foglia-di-acero: #FF8A00;
$color-pervinca: #E5EAF5;
$color-tagline-hit: rgba(29, 93, 235, 0.18);
$color-tagline: #E4ECFD;
$color-azzurro-alice: #EDF2FE;
$color-osso-grigio: #86909C;
$color-telegrey-scuro: #86909C;
$color-mandorle-pelate: #FEF0CC;
$color-petalo-rosa: #2DC36A;
$color-pervinca: #E5EAF5;
$color-blu-digitale: #4D83FA;
$color-pulsante-premuto: #0B40B3;
$color-blu-selvaggio: #9DACCE;
$color-green-sea: #16A086;
$color-nephritis: #2DC36A;
$color-pino-verde: #12826E;
$color-tela-rossa: #E11432;
$color-blu-selvaggio: #9DACCE;
$color-blu-traffico: #053B75;
$color-granito-fresco: #EFF5F9;
$color-giovani-steli: #DDF5E7;

// УСТАРЕВШЕЕ
$color-black: #000000;
$color-mine-shaft: #333333;
$storm-gray: #76767A;
$color-gray: #979CA1;
$color-light-gray: #F3F5FB;
$color-link-water: #CED9F0;
$color-dark-gray: #515A63;
$color-pattens-blue: #F9FBFD;
$color-box-shadow: #E6EBF5;
$color-hawkes-blue: #D6E2FB;
$color-mercury: #E1E1E1;
$color-blue-selvaggio: #9DACCE;
$color-selago: #F0F4FD;
$color-science-blue: #0849D2;
$color-alice-blue: #E4ECFD;
