@import '~@epgu/ui/assets/styles/palette';
// УСТАРЕВШЕЕ
$color-black: #000000;
$color-mine-shaft: #333333;
$color-gray: #979ca1;
$color-light-gray: #f3f5fb;
$color-dark-gray: #515a63;
$color-pattens-blue: #f9fbfd;
$color-hawkes-blue: #d6e2fb;
$color-mercury: #e1e1e1;
$color-blue-selvaggio: #9dacce;
$color-alice-blue: #e4ecfd;
