// Brand colors
$color-white: #ffffff;
$color-gosblue: #0d4cd3;
$color-gosred: #ee3f58;
$color-summer-night: #0b1f33;
$color-input: #f5f7fa;
$color-divider: #99b1e6;
$color-error-highlight: rgba(238, 63, 88, 0.16);
$color-shadow: rgba(230, 235, 245, 0.4);
$color-shadow-second: rgba(230, 235, 245, 0.8);
$color-background: #fafcff;
$color-bg-disabled: #d1d5df;
$color-text-helper: #66727f;
$color-active-item: #1d5deb;
$color-giallo-brillante: #fed13e;
$color-giallo-selezionato: #f8b200;
$color-foglia-di-acero: #ff8a00;
$color-pervinca: #e5eaf5;
$color-tagline-hit: rgba(29, 93, 235, 0.18);
$color-tagline: #e4ecfd;
$color-azzurro-alice: #edf2fe;
$color-osso-grigio: #86909c;
$color-telegrey-scuro: #86909c;
$color-mandorle-pelate: #fef0cc;
$color-petalo-rosa: #2dc36a;
$color-pervinca: #e5eaf5;
$color-blu-digitale: #4d83fa;
$color-pulsante-premuto: #0b40b3;
$color-blu-selvaggio: #9dacce;
$color-green-sea: #16a086;
$color-nephritis: #2dc36a;
$color-pino-verde: #12826e;
$color-tela-rossa: #e11432;
$color-blu-selvaggio: #9dacce;
$color-blu-traffico: #053b75;
$color-granito-fresco: #eff5f9;
$color-giovani-steli: #ddf5e7;

// УСТАРЕВШЕЕ
$color-black: #000000;
$color-mine-shaft: #333333;
$storm-gray: #76767a;
$color-gray: #979ca1;
$color-light-gray: #f3f5fb;
$color-link-water: #ced9f0;
$color-dark-gray: #515a63;
$color-pattens-blue: #f9fbfd;
$color-box-shadow: #e6ebf5;
$color-hawkes-blue: #d6e2fb;
$color-mercury: #e1e1e1;
$color-blue-selvaggio: #9dacce;
$color-selago: #f0f4fd;
$color-science-blue: #0849d2;
$color-alice-blue: #e4ecfd;
