// Font families
$font-lato: 'Lato';

// Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-dflt: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-extra: 36px;

$font-main: $font-lato, 'Arial', sans-serif;

@mixin typ-h1 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-extra;
  line-height: 48px;
}

@mixin typ-h2 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-xxl;
  line-height: 40px;
}

@mixin typ-h3 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-xl;
  line-height: 32px;
}

@mixin typ-h4 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-lg;
  line-height: 28px;
}

@mixin typ-h5 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-md;
  line-height: 24px;
}

@mixin typ-h6 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-dflt;
  line-height: 24px;
}

@mixin typ-plain-text {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-dflt;
  line-height: 24px;
}

@mixin typ-plain-small {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-sm;
  line-height: 20px;
}

@mixin typ-plain-xs {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-xs;
  line-height: 20px;
}