<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <div *ngIf="header"
       class="head">
    <epgu-constructor-page-name>{{ header }}</epgu-constructor-page-name>
  </div>
  <div class="photo"
       [ngClass]="{ 'photo--flex-column': croppedImageUrl }">
    <input #hiddenFileInput
           style="display: none"
           [attr.accept]="getAcceptTypes()"
           type="file"
           (change)="onFileSelected($event.target.files, hiddenFileInput)">
    <div class="photo__uploading-container">
      <img *ngIf="croppedImageUrl"
           class="photo__cropped-image"
           [src]="croppedImageUrl | safe: 'resourceUrl'">
      <div *ngIf="!croppedImageUrl"
           dragAndDrop
           (fileDropped)="onFileSelected($event)"
           class="photo__uploading-area">
        <img *ngIf="isDesktop"
             src="{{ config.staticDomainAssetsPath }}/assets/img/photo-upload-area-desktop.svg"/>
        <img *ngIf="!isDesktop"
             src="{{ config.staticDomainAssetsPath }}/assets/img/photo-upload-area-mobile.svg"/>

        <div class="photo__uploading-inner-container">
          <p *ngIf="isDesktop"
             class="photo__uploading-text photo__uploading-text_mt-80">
            Перетащите фото сюда или выберите на компьютере
          </p>
          <p *ngIf="!isDesktop"
             class="photo__uploading-text photo__uploading-text_mt-68">
            Выберите файл или сделайте фото
          </p>
          <button *ngIf="!isDesktop && isWebcamAvailable"
                  class="photo__uploading-button"
                  (click)="takePhoto()">
            <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/camera.svg"/>
            Сделать фото
          </button>
          <button class="photo__uploading-button"
                  (click)="hiddenFileInput.click()">
            <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/clip.svg"/>
            Загрузить фото
          </button>
        </div>
      </div>
    </div>
    <epgu-constructor-output-html
      class="photo__text"
      [html]="data?.label">
    </epgu-constructor-output-html>
  </div>
  <div *ngIf="croppedImageUrl"
       class="photo-footer">
    <lib-button
      class="photo-footer__button"
      color="white"
      (click)="changeCroppedPhoto()">Изменить
    </lib-button>
    <lib-button
      class="photo-footer__button"
      (click)="nextStep()">Продолжить
    </lib-button>
  </div>
</epgu-constructor-screen-container>
