<ng-container
  *ngTemplateOutlet="
    checkboxInput;
    context: { $implicit: control.value  }
  "
>
</ng-container>

<ng-template #checkboxInput let-component>
  <epgu-constructor-component-item
    [control]="control.get('value')"
    [component]="component"
    [invalid]="control.invalid"
    [disableLabel]="true"
  >
    <div [ngClass]="component?.attrs?.isHorizontal ? 'form__radio--inline' : 'form__radio--block'">
      <epgu-constructor-constructor-checkbox
        checkboxId="{{ component?.id }}_{{ componentsGroupIndex }}"
        [control]="control.get('value')"
        [labelText]="component?.label"
        [required]="component?.required"
      >
      </epgu-constructor-constructor-checkbox>
    </div>
  </epgu-constructor-component-item>
</ng-template>
