<app-navigation></app-navigation>
<app-screen-container>

  <div class="question__wrapper">
    <app-page-name>{{data?.header}}</app-page-name>
    <div class="question__wrapper__label" *ngIf="data?.components[0]?.label" [innerHTML]="data.components[0].label"></div>
    <div class="answer">
      <app-answer-choice
        class="answer__item"
        *ngFor="let answer of data?.components[0]?.attrs.actions"
        (click)="answerChoose(answer)"
        [data]="answer">
      </app-answer-choice>
    </div>
  </div>

</app-screen-container>
