@import "../../../../styles/core";
@import "../../../../styles/components/rubles";

$my: 96px;
$pyConfModal: 64px;
$headerHeight: 57px;
$controlHeight: 55px;
$minModalHeight: 293px;

// TODO Избавиться от ng-deep
:host::ng-deep {
  .conf-modal {
    display: flex;
    flex-direction: column;
    @include modal-body();
    width: 100%;
    height: 100%;
    padding: 32px;
    @include tablets-up {
      max-height: calc(100vh - #{$my * 2});
      min-height: #{$minModalHeight};
      width: 634px;
      height: auto;
      border-radius: 12px;
    }

    &__cross-button {
      position: absolute;
      right: 26px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      z-index: 2;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background: $color-button-hit;
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &__title {
      @include typ-h3;
      padding-right: 50px;
      color: $color-summer-night;
    }

    &__header {
      border-bottom: 1px solid $color-devider;
      padding-bottom: 24px;
      margin-bottom: 16px;

      &-empty {
        border-bottom: none;
      }
    }

    &__content {
      overflow-y: auto;

      .text {
        padding-right: 15px;
      }
    }

    &__body {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @include rubles('.conf-modal__body', '../../../../../../assets/img/ruble.svg');

      &.preview .text{
        padding: 0;
      }
    }

    &__controls {
      display: flex;
      margin-top: 26px;
      justify-content: center;
      flex: 1;

      & > *:not(:last-child) {
        margin-right: 20px;
      }

      @include tablets-down {
        flex-direction: column;

        & > *:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    &__button {
      @include tablets-down {
        width: 100%
      }
    }
  }

  .ps-content {
    padding-right: 5px; // fix overlapping content by scroll
    padding-bottom: 2px; // hack for avoid overlapping of buttons

    @include tablets-up {
      max-height: calc(100vh - #{$my * 2} - #{$pyConfModal} - #{$headerHeight} - #{$controlHeight});
      min-height: calc(#{$minModalHeight} - #{$pyConfModal} - #{$headerHeight});
    }
  }
}

