@import '../../../../styles/core';
@import '../../../../styles/components/rubles';

$my: 7vh;
$pyConfModal: 64px;
$headerHeight: 57px;
$controlHeight: 55px;
$minModalHeight: 293px;

// TODO Избавиться от ng-deep
:host::ng-deep {
  & .conf-modal {
    @include flex-container();
    @include modal-body();
    width: 100%;
    height: 100%;
    padding: 32px;

    @include phones-down {
      padding-bottom: 0;
    }
    @include tablets-up {
      max-height: calc(100vh - #{$my * 2});
      min-height: #{$minModalHeight};
      width: 634px;
      height: auto;
      border-radius: 12px;
    }

    &__header {
      border-bottom: 1px solid $color-divider;
      padding-bottom: 24px;
      margin-bottom: 24px;

      &:empty {
        border-bottom-color: transparent;
      }
    }

    &__content {
      overflow: auto;
      @include flex-container();
      .text {
        padding-right: 15px;
      }
    }

    .perfect-scrollbar {
      .conf-modal__content {
        overflow: initial;
        height: auto;
        display: flex;
        position: relative;
      }

      .ps-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 5px; // fix overlapping content by scroll
        padding-bottom: 2px; // hack for avoid overlapping of buttons

        @include tablets-up {
          max-height: calc(
            100vh - #{$my * 2} - #{$pyConfModal} - #{$headerHeight} - #{$controlHeight} - #{$controlHeight}
          );
          min-height: calc(
            #{$minModalHeight} - #{$pyConfModal} - #{$headerHeight} - #{$pyConfModal / 2}
          );
        }
      }
    }

    .perfect-scrollbar-button-outside-content {
      .ps-content {
        @include tablets-up {
          max-height: calc(
            100vh - #{$my * 2} - #{$pyConfModal} - #{$headerHeight} - #{$controlHeight} - #{$controlHeight} *
              2
          );
        }
      }
    }

    &__short-modal {
      .text {
        padding-right: 0;
      }
    }

    &__body {
      overflow: auto; // для отработки скрола в модалке в моб
      @include rubles('.conf-modal__body', '../../../../../src/assets/icons/svg/ruble.svg');
      &.preview .text {
        padding: 0;
      }
    }

    &__controls {
      display: flex;
      padding-top: 24px;
      margin-top: auto;
      justify-content: center;
      flex: 0 1 auto;
      & > *:not(:last-child) {
        margin-right: 16px;
      }
      @include tablets-down {
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-top: auto;
        padding-top: 24px;
        & > *:not(:last-child) {
          margin-right: 0;
        }
        & > *:not(:first-child) {
          margin-bottom: 16px;
        }
      }
    }

    &__button {
      @include phones-down {
        margin-bottom: 32px;
      }
      @include tablets-down {
        width: 100%;
      }
    }

    .text_modal_error {
      text-align: center;
      h4 {
        margin-bottom: 8px;
      }
      span {
        color: $color-text-helper;
      }
    }

    &__body, &__content {
      @include tablets-down {
        height: 100%;
      }
    }
  }
}
