<section class="select-children-screen">
  <form [formGroup]="selectChildrenForm">
    <div class="select-children-screen__card" *ngFor="let item of items; let idx = index">
      <div class="card">
        <div class="card__wrapper">
          <div class="card__header">
            <div class="card__title">Ребенок {{ idx + 1 }}</div>
            <div class="card__close">
              <button (click)="removeChild(item)" class="button-close">
                <div class="icon-close"></div>
              </button>
            </div>
          </div>
          <div class="card__content">
            <div>
              <epgu-constructor-label [for]="idx">
                Выберите ребенка из вашего профиля
              </epgu-constructor-label>
            </div>
            <div class="card__select">
              <lib-dropdown
                [id]="idx"
                [formControlName]="item"
                (changed)="handleSelect($event, item)"
                [items]="itemsToSelect"
                [attr.disabled]="newChildren[item]"
              ></lib-dropdown>
            </div>
            <section
              class="card__content"
              *ngIf="selectedItems[item] && selectedItems[item][isNewRef]"
            >
              <epgu-constructor-components-list
                (changes)="updateChild($event, item)"
                (emitFormStatus)="updateItemValidationStatus($event, item)"
                [components]="screenService.component?.attrs?.components"
                [errors]="screenService.getStore().errors"
              >
              </epgu-constructor-components-list>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="select-children-screen__action">
      <lib-button width="wide" color="white"
                  (click)="addMoreChild()"
                  [disabled]="isScreensAvailable()">
        <label>Добавить ребенка</label>
      </lib-button>
    </div>
  </form>
</section>
