<section class="select-children-screen">
  <form [formGroup]="selectChildrenForm">
    <div class="select-children-screen__card" *ngFor="let item of items; let idx = index">
      <div class="card">
        <div class="card__wrapper">
          <div class="card__header">
            <div class="card__title">Ребенок {{ idx + 1 }}</div>
            <div class="card__close" *ngIf="isMoreThanOneChild()">
              <button (click)="removeChild(idx)" class="button-close">
                <div class="icon-close"></div>
              </button>
            </div>
          </div>
          <div class="card__content">
            <div>
              <epgu-constructor-label [for]="idx">
                Выберите ребенка из вашего профиля
              </epgu-constructor-label>
            </div>
            <div class="card__select">
              <lib-dropdown
                [id]="idx"
                [formControlName]="item.controlId"
                (changed)="handleSelect($event, idx)"
                [items]="itemsToSelect"
              ></lib-dropdown>
            </div>
            <section class="card__content" *ngIf="isNewId(item[isNewRef])">
              <epgu-constructor-components-list
                (changes)="updateChild($event, item, idx)"
                (emitFormStatus)="updateItemValidationStatus($event, item?.controlId)"
                [components]="itemsComponents[idx]"
                [errors]="screenService.getStore().errors"
              >
              </epgu-constructor-components-list>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="select-children-screen__action">
      <lib-button
        width="wide"
        color="white"
        (click)="addMoreChild()"
        [disabled]="isScreensAvailable()"
      >
        <label>Добавить ребенка</label>
      </lib-button>
    </div>
  </form>
</section>
