@import "../../../style/variables";
@import "../../../style/breakpoint";

:host{
  display: block;
}

page-name {
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
  @include tablets-up {
    text-align: left;
  }
}

answer-choice {
  cursor: pointer;
  margin-bottom: 8px;
}

