@import "../../../resolution-mixins";

.component {
  display: flex;
  flex-flow: column;

  .header, .content {
    text-align: center;
  }

  .header {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 90px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include desktop {
  .component {
    width: 592px;
    height: 464px;

    border-radius: 4px;

    background-color: white;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
}
