@import "src/styles/core";

.nav {
  @include navigation-mt();
}

.cmp-group {
  &__layer {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
}

.btn--add{
  display: flex;
  button {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  @include tablets-up {
    margin-top: 32px;
  }
  &__btns-group {
    display: flex;
    flex-flow: column;
    & > * {
      margin: 4px;
    }
  }
  &__btn-submit {
    width: auto;
    &::ng-deep button {
      width: inherit;
      min-width: 100px;
    }
  }
}

