<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-page-name>{{ propData.header }}</epgu-constructor-page-name>

  <div class="cmp-group">
    <epgu-constructor-screen-pad
      class="cmp-group__layer"
      *ngFor="let screenKey of objectKeys(screens); let i = index; trackBy: trackByFunction"
    >
      <div
        class="icon-close"
        *ngIf="objectKeys(screens).length !== 1"
        (click)="removeItem(screenKey, i)"
      ></div>
      <epgu-constructor-components-list
        class="cmp-group__item"
        [components]="screens[screenKey]"
        [errors]="screenService.getStore().errors"
        (changes)="changeComponentList($event, i)">

      </epgu-constructor-components-list>
    </epgu-constructor-screen-pad>
  </div>

  <epgu-constructor-long-button [disabled]="!isScreensAvailable()" class="btn--add" (click)="duplicateScreen()">
    <div class="btn--add__text">Добавить данные</div>
  </epgu-constructor-long-button>

  <div class="footer">
    <lib-button
      [showLoader]="isLoading"
      (click)="nextScreen()"
      class="btn__submit"
      [disabled]="isLoading || !isValid"
    >
      {{ propData.submitLabel || 'Далее' }}
    </lib-button>
  </div>
</epgu-constructor-screen-container>
