<epgu-constructor-screen-container
  [show-nav]="screenService.showNav$ | async"
  [class.screen-container-mt]="!(screenService.showNav$ | async)"
>
  <div class="screen-body">
    <epgu-constructor-page-name *ngIf="header"
      >{{ header }}
      <epgu-constructor-user-info-loader></epgu-constructor-user-info-loader>
    </epgu-constructor-page-name>
    <div class="photo" [ngClass]="{ 'photo--flex-column': croppedImageUrl }">
      <input
        #cameraInput
        id="cameraInput"
        type="file"
        capture="user"
        accept="image/*"
        style="display: none;"
        (change)="onFileSelected($any($event.target).files, cameraInput, true)"
      />
      <input
        #hiddenFileInput
        id="hiddenFileInput"
        style="display: none;"
        [attr.accept]="getAcceptTypes()"
        type="file"
        (change)="onFileSelected($any($event.target).files, hiddenFileInput)"
      />
      <div
        class="photo__uploading-container"
        [ngClass]="{ 'photo__uploading-container-mobile': !isDesktop }"
      >
        <img
          *ngIf="croppedImageUrl"
          class="photo__cropped-image"
          [src]="croppedImageUrl | safe: 'resourceUrl'"
        />
        <div *ngIf="!croppedImageUrl" dragAndDrop class="photo__uploading-area">
          <img
            *ngIf="isDesktop"
            src="{{ config.staticDomainAssetsPath }}/assets/img/photo-upload-area-desktop.svg"
          />
          <img
            *ngIf="!isDesktop"
            src="{{ config.staticDomainAssetsPath }}/assets/img/photo-upload-area-mobile.svg"
          />

          <div class="photo__uploading-inner-container">
            <p *ngIf="isDesktop" class="photo__uploading-text photo__uploading-text_mt-80">
              Перетащите фото сюда или выберите на компьютере
            </p>
            <p *ngIf="!isDesktop" class="photo__uploading-text photo__uploading-text_mt-68">
              Выберите файл или сделайте фото
            </p>
            <button *ngIf="!isDesktop" class="photo__uploading-button" (click)="openCamera()">
              <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/camera.svg" />
              Сделать фото
            </button>
            <button class="photo__uploading-button" (click)="hiddenFileInput.click()">
              <img src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/clip.svg" />
              Загрузить фото
            </button>
          </div>
        </div>
      </div>
      <span
        class="photo__text"
        (click)="handleClickOnElemById($event)"
        [innerHTML]="data?.label | safe: 'html'"
      ></span>
    </div>
  </div>
  <div *ngIf="croppedImageUrl" class="screen-footer">
    <lib-button class="photo-footer__button" color="white" (click)="changeCroppedPhoto()"
      >Изменить
    </lib-button>
    <lib-button
      class="submit-button photo-footer__button"
      [showLoader]="screenService.isLoading$ | async"
      (click)="nextStep()"
      >Продолжить
    </lib-button>
  </div>
</epgu-constructor-screen-container>
