<epgu-constructor-default-unique-screen-wrapper
  *ngIf="{ isLoading: screenService.isLoading$ | async } as async"
  [header]="screenService.header$ | async"
  [isLoading]="async.isLoading"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-cf-ui-constructor-screen-pad class="screen-pad-body" *ngIf="data$ | async as data">
    <ng-container *ngIf="data.errors">
      <epgu-constructor-disclaimer
        *ngFor="let error of data.errors"
        class="mb-16"
        [title]="error.title"
        [description]="error.desc"
        [clarifications]="data.attrs?.clarifications"
      ></epgu-constructor-disclaimer>
    </ng-container>

    <div class="label-helper">{{ data.label }}</div>
    <div class="item">
      {{ isPhoneScreenType ? (data.value | formatPhone) : data.value }}
    </div>

    <epgu-constructor-disclaimer
      class="mt-16"
      *ngIf="data.attrs?.disclaimer as disclaimer"
      [type]="disclaimer.type"
      [title]="disclaimer.title"
      [description]="disclaimer.description"
    ></epgu-constructor-disclaimer>

    <ng-container *ngIf="isEditContactAction">
      <div class="footer" *ngIf="screenService.action$ | async as action">
        <div class="divider"></div>
        <button class="btn-edit" epgu-constructor-action [action]="action" [disabled]="async.isLoading">
          <img
            class="btn-edit__icon"
            src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/ion_pencil-outline.svg"
          />
          <span class="btn-edit__text">{{ action.label }}</span>
        </button>
      </div>
    </ng-container>
  </epgu-cf-ui-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
