<epgu-constructor-default-unique-screen-wrapper
  *ngIf="{ isLoading: screenService.isLoading$ | async } as async"
  [header]="screenService.header$ | async"
  [isLoading]="async.isLoading"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-constructor-screen-pad class="screen-pad-body" *ngIf="data$ | async as data">
    <ng-container *ngIf="data.errors">
      <div class="error" *ngFor="let error of data.errors">
        <p class="title"><span [class]="error.icon"></span>{{ error.title }}</p>
        <epgu-constructor-output-html
          class="description"
          [html]="error.desc"
          [clarifications]="data.attrs?.clarifications"
        ></epgu-constructor-output-html>
      </div>
    </ng-container>

    <div class="label-helper">{{ data.label }}</div>
    <div class="item">
      {{ isPhoneScreenType ? (data.value | formatPhone) : data.value }}
    </div>

    <ng-container *ngIf="isEditContactAction">
      <div class="footer" *ngIf="screenService.action$ | async as action">
        <div class="divider"></div>
        <button class="btn-edit" epgu-constructor-action [action]="action" [disabled]="async.isLoading">
          <img
            class="btn-edit__icon"
            src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/ion_pencil-outline.svg"
          />
          <span class="btn-edit__text">{{ action.label }}</span>
        </button>
      </div>
    </ng-container>
  </epgu-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
