<ng-container>
  <epgu-constructor-confirmation-modal-base
    [title]="title"
    [showCrossButton]="true"
    text="previewFiles"
  >
    <div>
      <p class="mb-24">Вы можете снова прикрепить эти файлы к заявлению.<br> Проверьте, чтобы они не были просрочены.</p>
      <div *ngFor="let group of suggestionsFilesGroupByDate">
        <h4 class="mb-12 mt-24">{{ group[0] }}</h4>
        <div class="wrapper">
          <div *ngFor="let file of group[1]" class="file-item">
            <button
              (click)="previewFile(file)"
              class="button"
              [ngClass]="{'attached': file.attached}"
            >
              <img
                *ngIf="file.isImage"
                class="img"
                src="{{fileUploadApiUrl}}/{{file.item.objectId}}/{{file.item.objectTypeId}}/download?mnemonic={{file.item.mnemonic}}"
                (error)="handleImgError($event)"
                [alt]="file.item.fileName"
              />
              <div *ngIf="!file.isImage">
                <img
                  class="img"
                  [src]="basePath + (iconsTypes[file.item.fileExt] || 'TXT') + '.svg'"
                  [alt]="file.item.fileName"
                />
                <figcaption class="caption">{{ file.item.fileName }}</figcaption>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </epgu-constructor-confirmation-modal-base>
</ng-container>
