<ng-container *ngFor="let field of data.attrs.fields">
  <ng-container *ngIf="field.type === 'input'">
    <label [for]="field.fieldName">{{ field.label }}</label>
    <lib-standard-input
      [formControl]="fields.get(field.fieldName)"
      [name]="field.fieldName"
      [id]="field.fieldName">

    </lib-standard-input>
  </ng-container>
</ng-container>

<button class="btn btn--light" (click)="pushFormGroupToResponse()">Добавить данные</button>

<div *ngFor="let item of response; let i = index" class="list">
  {{ i + 1 }}. <ng-container *ngFor="let field of data.attrs.fields">
    {{ item[field.fieldName] }}
  </ng-container>
</div>
