<epgu-constructor-screen-container>
  <div class="screen-body">
    <div *ngIf="!emailSent else result">
      <div class="invitation__img">
        <img src="{{ config.staticDomainAssetsPath }}/assets/img/screens/s11.png" />
      </div>
      <p class="invitation__message">{{ data.label }}</p>
      <form class="form">
        <div class="form__item">
          <epgu-constructor-constructor-plain-input
            id="email"
            type="email"
            [control]="email"
            placeholder="Email"
            [invalid]="email.invalid && email.touched"
            [validationShowOn]="validationShowOn"
          ></epgu-constructor-constructor-plain-input>
          <div class="form__error">
            <small *ngIf="email.invalid && email.touched">
              {{ email.getError('msg') }}
            </small>
          </div>
        </div>
      </form>
      <p class="invitation__info">
        На указанный адрес электронной почты придет ссылка для регистрации на портале Госуслуг
      </p>
    </div>
    <ng-template #result>
        <div *ngIf="success else errorMessage" class="invitation__img">
          <img src="{{ config.staticDomainAssetsPath }}/assets/img/screens/s11.png" />
          <p>Емейл был успешно отправлен.</p>
        </div>
        <ng-template #errorMessage>
          <div class="info">
            <div class="info__img-wrapper">
              <img class="info__img" src="{{ imgErrorSrc }}" alt="" />
            </div>
            <div class="info__text">При получении реквизитов оплаты пошлины произошла ошибка.</div>
            <div class="info__text">
              Попробуйте зайти на страницу позже. Если ошибка не исчезнет,
              <a href="https://www.gosuslugi.ru/help" target="_blank">сообщите нам о ней</a>
            </div>
          </div>
        </ng-template>
    </ng-template>
  </div>
  <div class="screen-footer">
    <lib-button
      *ngIf="!emailSent"
      (click)="sendEmail()"
      [disabled]="!email.valid"
    >Отправить приглашение</lib-button>
    <lib-button
      *ngIf="emailSent"
     (click)="redirectToLK()">
      Вернуться в личный кабинет
    </lib-button>
  </div>
</epgu-constructor-screen-container>
