@import '../../../../../styles/core/index';

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.invitation {
  &__button {
    &::ng-deep .button-container {
      margin-top: 16px;
    }
  }
  &__img img {
      margin: auto;
      display: block;
      max-width: 100%;
  }
}

.invitation__content {
  flex: 1 1 auto;
  line-height: 20px;
  margin-bottom: 32px;

  .invitation__image {
    margin-top: 32px;
  }

  .invitation__message {
    margin: 32px 0;
  }

  .invitation__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
  .form {
    &__error {
      margin-top: 4px;
      line-height: 20px;
      color: $color-gosred;
    }
    &__item {
      margin-bottom: $screen-pad-p;
    }
  }

  @include tablets-up {
    margin-bottom: 32px;
  }
}
