<div class="card">
  <label>Выберите дату и время</label>
  <div class="months-list">
    <lib-dropdown
      [disabled]="fixedMonth"
      [items]="monthsYears"
      [(ngModel)]="currentMonth"
      (changed)="monthChanged($event)"
      class="compact-selector"
      contextClass="compact"></lib-dropdown>
  </div>
  <div class="calendar-table">
    <div class="calendar-grip-container-wrapper">
      <div class="calendar-grid-container">
        <div class="calendar-grid-wrap current-month">
          <div class="calendar-grid">
            <div class="calendar-week-days">
              <div class="calendar-week-day" *ngFor="let weekDay of daysOfWeek">
                <span class="calendar-week-day-text">{{weekDay}}</span>
              </div>
            </div>
            <div class="calendar-week" *ngFor="let week of weeks">
              <div *ngFor="let day of week" class="calendar-day" (click)="selectDate(day.date)" [ngClass]="{
                    'today': isToday(day.date),
                    'locked': isDateLocked(day.date),
                    'holiday': isHoliday(day.date),
                    'selected': isSelected(day.date),
                    'outer': isDateOutOfMonth(day.date)
                  }">
                <span class="calendar-day-text">{{day ? day.number : ''}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider">
  <div class="time-slots-items">
    <div *ngFor="let item of timeSlots" class="time-slot-item" [ngClass]="{'selected': isSlotSelected(item)}"
         (click)="chooseTimeSlot(item)">
      {{item | date:'shortTime'}}
    </div>
  </div>
</div>
