@import '~@epgu/epgu-constructor-ui-kit/src/styles/core';

:host {
  display: flex;
  align-items: center;
  margin-bottom: $screen-pad-4;
}

.label {
  @include phones-down {
    font-weight: bold;
  }
}

.label-text {
  display: block;
  text-align: left;
  color: $color-summer-night;
  @include typ-plain-small;

  &::first-letter {
    text-transform: uppercase;
  }

  @include phones-down {
    font-weight: bold;
  }
}

.label-tip {
  margin-left: 10px;
  line-height: 0;
}

.label-large-text {
  @include typ-plain-text;
}
