<div class="head">
  <app-navigation></app-navigation>
</div>

<ng-container [ngSwitch]="componentData?.type">
  <app-info-screen
    *ngSwitchCase="constructorComponentType.INFO"
    [data]="componentData"
    (nextStepEvent)="nextStep()"
    (prevStepEvent)="prevStep()"></app-info-screen>
  <app-invitation-screen
    *ngSwitchCase="constructorComponentType.INVITATION_ERROR"
    [data]="componentData"
    (resolve)="onEmailSelect($event)"
    (prevStepEvent)="prevStep()"></app-invitation-screen>
  <app-screen
    *ngSwitchCase="constructorComponentType.COMPONENT"
    [data]="componentData"
    (nextStepEvent)="nextStep()"
    (prevStepEvent)="prevStep()"></app-screen>
  <app-custom-screen
    *ngSwitchCase="constructorComponentType.CUSTOM"
    [data]="componentData"
    (nextStepEvent)="nextStepFromCustomScreen($event)"
    (prevStepEvent)="prevStep()"></app-custom-screen>
  <app-question-screen
    *ngSwitchCase="constructorComponentType.QUESTION"
    [data]="componentData"
    (answerSelect)="onAnswerSelect($event)"
    (prevStepEvent)="prevStep($event)"></app-question-screen>
  <app-unique-screen
    *ngSwitchCase="constructorComponentType.UNIQUE"
    [data]="componentData"
    (nextStepEvent)="nextStep($event)"
    (prevStepEvent)="prevStep()">

  </app-unique-screen>
</ng-container>
