<ng-container [ngSwitch]="componentData?.type">
  <app-info-screen
    *ngSwitchCase="constructorComponentType.INFO"
    [data]="componentData"
    [isLoading]="isLoading"
    (nextStepEvent)="nextStep()"
  ></app-info-screen>
  <app-invitation-screen
    *ngSwitchCase="constructorComponentType.INVITATION_ERROR"
    [data]="componentData"
    [isLoading]="isLoading"
    (resolve)="onEmailSelect($event)"
  ></app-invitation-screen>
  <app-screen
    *ngSwitchCase="constructorComponentType.COMPONENT"
    [data]="componentData"
    [isLoading]="isLoading"
    (nextStepEvent)="nextStep($event)"
  ></app-screen>
  <app-custom-screen
    *ngSwitchCase="constructorComponentType.CUSTOM"
    [data]="componentData"
    [isLoading]="isLoading"
    (nextStepEvent)="nextStepFromCustomScreen($event)"
  ></app-custom-screen>
  <app-question-screen
    *ngSwitchCase="constructorComponentType.QUESTION"
    [data]="componentData"
    (answerSelect)="onAnswerSelect($event)"
  ></app-question-screen>
  <app-unique-screen
    *ngSwitchCase="constructorComponentType.UNIQUE"
    [data]="componentData"
    (nextStepEvent)="nextStep($event)"
  ></app-unique-screen>
</ng-container>
