<div class="data">
  <div class="data__group data-group" *ngFor="let groupItem of preparedData">
    <div class="flex-row">
      <div class="data-group__title">{{ groupItem?.groupName }}</div>
    </div>
    <div class="data-group__items">
      <div [ngClass]="{dataItem: field.isVisible}" *ngFor="let field of groupItem.fields">
        <ng-container *ngIf="field.isVisible">
          <div class="dataItem__label">{{ field.label }}</div>
          <div class="dataItem__value">{{ field.value }}</div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
