<ng-template ngFor let-upload [ngForOf]="attributes.uploads">
  <epgu-constructor-file-upload-item
    *ngIf="!upload.type || upload.type === fileUploadItemTypes.single"
    [objectId]="objectId"
    [refData]="refData"
    [data]="upload"
    [clarification]="attributes?.clarifications"
    [prefixForMnemonic]="prefixForMnemonic"
    class="file-upload-item"
  ></epgu-constructor-file-upload-item>
  <epgu-constructor-file-upload
    *ngIf="upload.type == fileUploadItemTypes.cycle"
    [objectId]="objectId"
    [isRelatedUploads]="true"
    [applicantAnswers]="applicantAnswers"
    [uploadId]="upload.uploadId"
    [prefixForMnemonic]="getUploadComponentPrefixForMnemonic(upload.relatedUploads?.ref)"
    [attributes]="upload.relatedUploads"
  ></epgu-constructor-file-upload>
</ng-template>
