@import '../../../../../styles/core';

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: inherit;
}

.invitation {
  &__head {
    text-align: center;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  &__label {
    margin-bottom: 24px;
  }

  &__text {
    text-align: center;
  }

  &__inner-footer {
    flex-direction: column;

    margin-top: 24px;
    text-align: center;
    @include tablets-down {
      padding-top: 24px;
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &__outer-footer {
    margin-top: 0;

    > * {
      margin-top: 0;
    }
  }

  .form {
    &__hint {
      @include first-letter-uppercase();
      margin: 4px 4px 0 0;
      color: $color-text-helper;
      @include typ-plain-small();
    }

    &__error {
      margin-bottom: 4px;
      color: $color-gosred;
    }

    &__half {
      width: 50%;

      @include phones-down {
        width: 100%;
      }
    }
  }
}
