<epgu-constructor-screen-container class="invitation">
  <epgu-cf-ui-constructor-screen-pad class="screen-body">
    <div *ngIf="!emailSent; else result">
      <div class="invitation__img-wrapper">
        <img [src]="data.attrs.imgSrc" alt="" />
      </div>

      <epgu-constructor-page-name class="invitation__head">{{ header }}</epgu-constructor-page-name>

      <epgu-constructor-output-html
        class="invitation__label"
        [html]="data.label"
      ></epgu-constructor-output-html>

      <form class="form">
        <div class="form__item">
          <epgu-constructor-label [label]="data.attrs.label"></epgu-constructor-label>

          <div class="form__error">
            <small *ngIf="email.invalid && email.touched">
              {{ email.getError('msg') }}
            </small>
          </div>

          <epgu-constructor-constructor-plain-input
            id="email"
            type="email"
            placeholder="Email"
            [control]="email"
            [invalid]="email.invalid && email.touched"
            [validationShowOn]="validationShowOn"
          ></epgu-constructor-constructor-plain-input>

          <epgu-constructor-helper-text>{{ data.attrs.helperText }}</epgu-constructor-helper-text>
        </div>
      </form>

      <div class="invitation__inner-footer">
        <lib-button (click)="sendEmail()" [disabled]="!email.valid">{{
          data.attrs.sendEmailLabel || 'Отправить'
          }}</lib-button>
      </div>
    </div>

    <ng-template #result>
      <div *ngIf="success; else errorMessage">
        <div class="invitation__img-wrapper">
          <img [src]="data.attrs.success.imgSrc || defaultImgSrc" alt="" />
        </div>

        <epgu-constructor-output-html [html]="data.attrs.success.label" class="invitation__text">
        </epgu-constructor-output-html>
      </div>
      <ng-template #errorMessage>
        <div class="info">
          <div class="invitation__img-wrapper">
            <img class="info__img" [src]="data.attrs.error.imgSrc || defaultImgSrc" alt="" />
          </div>

          <epgu-constructor-output-html [html]="data.attrs.error.label" class="invitation__text">
          </epgu-constructor-output-html>
        </div>
      </ng-template>
    </ng-template>
  </epgu-cf-ui-constructor-screen-pad>

  <div class="screen-footer invitation__outer-footer" *ngIf="emailSent">
    <lib-button (click)="redirectToLK()">
      {{ data.attrs.redirectLabel }}
    </lib-button>
  </div>
</epgu-constructor-screen-container>
