<div>
  <h5 class="info-list-title">Юридическая чистота</h5>

  <div class="car-info-group">


    <div class="info-list-group-item">
      <div class="info-list-subtitle">В розыске</div>
      <div class="info-list-value">{{ searchingTransportFlag | yesNo }}</div>
    </div>

    <div class="info-list-group-item">
      <div class="info-list-subtitle">Ограничения на регистрацию</div>
      <div class="info-list-value">{{ restrictionsFlag | yesNo }}</div>
    </div>

    <div class="info-list-group-item" *ngFor="let restriction of restrictions">
      <div class="info-list-subtitle">Вид ограничения</div>
      <div class="info-list-value">{{ restriction.restrictionType | defaultValue }}</div>
      <epgu-constructor-expansion-link>
        <div class="restriction-details">
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Статус</div>
            <div class="info-list-value">{{ restriction.status | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Дата наложения ограничения</div>
            <div class="info-list-value">{{ restriction.enforcementProceedingsDate | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Регион инициатора</div>
            <div class="info-list-value">{{ restriction.initiateRegion | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Подразделение ГИБДД</div>
            <div class="info-list-value">{{ restriction.gibddDepart | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Основание</div>
            <div class="info-list-value">{{ restriction.mainReason | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Формулировка</div>
            <div class="info-list-value">{{ restriction.restrictionDesc | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Номер исполнительного производства</div>
            <div class="info-list-value">{{ restriction.enforcementProceedingsNumber  | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Дата возбуждения исполнительного производства</div>
            <div class="info-list-value">{{ restriction.enforcementProceedingsDate  | defaultValue }}</div>
          </div>
          <div class="info-list-group-item">
            <div class="info-list-subtitle">Наименование исполнительного производства</div>
            <div class="info-list-value">{{ restriction.enforcementProceedingsName  | defaultValue }}</div>
          </div>
        </div>
      </epgu-constructor-expansion-link>
    </div>

  </div>

  <div class="info-list-divider"></div>
</div>
