<div class="timer-container center">
  <svg class="progress" [attr.width]="timer.size" [attr.height]="timer.size">
    <circle
      class="progress__circle"
      stroke="#0B40B3"
      [attr.cx]="timer.center"
      [attr.cy]="timer.center"
      [attr.r]="timer.radius"
      [attr.stroke-width]="timer.strokeWidth"
      [attr.stroke-dasharray]="timer.circumference"
      [attr.stroke-dashoffset]="timer.offset"
    ></circle>
  </svg>

  <div class="ring-container">
    <div class="ring__out center">
      <div class="ring__in center">
        <div class="progress__value">{{ timer.time | timer }}</div>
      </div>
    </div>
  </div>
</div>
