<ng-container [ngSwitch]="(data?.components)[0].type">
  <app-add-children-screen
    *ngSwitchCase="uniqueComponentName.childrenListUnder14"
    (nextStepEvent)="nextStep($event)"
    [data]="(data?.components)[0]"
    [header]="data?.header"
  ></app-add-children-screen>
  <app-select-map-object
    *ngSwitchCase="uniqueComponentName.mapService"
    [data]="data"
    (nextStepEvent)="nextStep($event)">
  </app-select-map-object>
  <app-file-upload-screen
    *ngSwitchCase="uniqueComponentName.fileUploadComponent"
    [data]="(data?.components)[0]"
    [header]="data?.label"
    [submitLabel]="data?.submitLabel"
    (nextStepEvent)="nextStep($event)"
  ></app-file-upload-screen>
</ng-container>
