<ng-container [ngSwitch]="data?.components[0].type">
  <epgu-constructor-select-map-object
    *ngSwitchCase="uniqueComponentName.mapService"
    [data]="data"
    (nextStepEvent)="nextStep($event)"
  >
  </epgu-constructor-select-map-object>
  <epgu-constructor-file-upload-screen
    *ngSwitchCase="uniqueComponentName.fileUploadComponent"
    [data]="data?.components[0]"
    [header]="data?.label"
    [submitLabel]="data?.submitLabel"
    (nextStepEvent)="nextStep($event)"
  ></epgu-constructor-file-upload-screen>
</ng-container>
