@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/typography';
@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/functions';
@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/palettes';

.hint {
  @include first-letter-uppercase();
  display: block;
  margin-top: 4px;
  color: $color-text-helper;
  @include typ-plain-small();
}
