:host {
  display: block;
  width: 100%;
}

.container {
  max-width: 592px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.container {
  min-height: 100vh;
  height: 100%;
}
