@import 'src/styles/core/palettes';
@import 'src/styles/core/typography';
@import 'src/styles/core/breakpoint';

.component {
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    color: $color-gray;
    font-family: $font-main;
  }
  &__close {
    margin-left: auto;
  }
  &__field {
    margin-top: 16px;

    &--date {
      width: 50%;

      @include phones-down {
        width: 100%;
      }

      @include phones-up {
        padding-right: 8px;
      }
    }
  }
  &__radio-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__content {
    margin-top: 24px;
  }
  &__select {
    & select {
      width: 100%;
    }
  }
  & .button-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transform: translateX(2px);
  }
}

.radio-group {
  &__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &:not(:first-of-type) {
      margin-left: 16px;
    }
  }
}
