<section class="doc-input">
  <div
    *ngIf="data.value.label && isValidationShown(docInputFieldsTypes.seriesNumDate)"
    class="doc-input__title"
  >
    <span>{{ data.value.label }}</span>
  </div>
  <div class="form__error">
    <epgu-constructor-input-error *ngFor="let fieldName of fieldsNames | slice: 0:-1">
      <span *ngIf="isValidationShown([docInputFieldsTypes.seriesNumDate, fieldName])">
        {{ fields[fieldName]?.label }}:
        {{ form.get([docInputFieldsTypes.seriesNumDate, fieldName]).errors.msg }}
      </span>
    </epgu-constructor-input-error>
    <epgu-constructor-input-error *ngIf="hasExpirationDate">
      <span *ngIf="isValidationShown(docInputFieldsTypes.expirationDate)">
        {{ fields[docInputFieldsTypes.expirationDate]?.label }}:`
        {{ form.get(docInputFieldsTypes.expirationDate).errors.msg }}
      </span>
    </epgu-constructor-input-error>
  </div>

  <div *ngIf="!hasExpirationDate; else expireDate" class="doc-input__group">
    <div
      class="doc-input__group-item doc-input__series"
      *ngIf="!fields[docInputFieldsTypes.series]?.attrs.hidden"
      [class.doc-input__all-width]="fields[docInputFieldsTypes.number]?.attrs.hidden"
    >
      <epgu-constructor-label
        [tips]="fields[docInputFieldsTypes.series]?.attrs?.labelHint"
        [label]="fields[docInputFieldsTypes.series]?.label"
        for="series"
      ></epgu-constructor-label>
      <epgu-constructor-masked-input
        *ngIf="fields[docInputFieldsTypes.series]?.attrs.mask; else plainInputSeries"
        [textTransformType]="fields[docInputFieldsTypes.series]?.attrs?.fstuc"
        [id]="docInputFieldsTypes.series"
        [control]="$any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series]))"
        [mask]="fields[docInputFieldsTypes.series]?.attrs?.mask"
        [showMaskAsPlaceholder]="!fields[docInputFieldsTypes.series]?.placeholder"
        [placeholder]="fields[docInputFieldsTypes.series]?.placeholder"
        [showConstantMaskSymbols]="true"
        [invalid]="
          isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series])
        "
        [validationShowOn]="validationShowOn"
        [component]="fields[docInputFieldsTypes.series]"
        [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.series]"
        (selectSuggest)="selectSuggest.emit($event)"
        (blurEvent)="
          markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
        "
      ></epgu-constructor-masked-input>
      <ng-template #plainInputSeries>
        <epgu-constructor-constructor-plain-input
          [textTransformType]="fields[docInputFieldsTypes.series]?.attrs?.fstuc"
          [id]="docInputFieldsTypes.series"
          [control]="
            $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series]))
          "
          [placeholder]="fields[docInputFieldsTypes.series]?.placeholder"
          [invalid]="
            isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series])
          "
          [validationShowOn]="validationShowOn"
          [component]="fields[docInputFieldsTypes.series]"
          [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.series]"
          (selectSuggest)="selectSuggest.emit($event)"
        ></epgu-constructor-constructor-plain-input>
      </ng-template>
      <epgu-constructor-helper-text
        *ngIf="fields[docInputFieldsTypes.series]?.hint as hint"
        class="doc-input__hint"
      >
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
    <div
      class="doc-input__group-item doc-input__number"
      *ngIf="!fields[docInputFieldsTypes.number]?.attrs.hidden"
      [class.doc-input__all-width]="fields[docInputFieldsTypes.series]?.attrs.hidden"
    >
      <epgu-constructor-label
        [tips]="fields[docInputFieldsTypes.number]?.attrs?.labelHint"
        [label]="fields[docInputFieldsTypes.number]?.label"
        [for]="docInputFieldsTypes.number"
      ></epgu-constructor-label>
      <epgu-constructor-masked-input
        *ngIf="fields[docInputFieldsTypes.number]?.attrs.mask; else plainInputNumber"
        [textTransformType]="fields[docInputFieldsTypes.number]?.attrs?.fstuc"
        [id]="docInputFieldsTypes.number"
        [control]="$any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number]))"
        [mask]="fields[docInputFieldsTypes.number]?.attrs?.mask"
        [showMaskAsPlaceholder]="!fields[docInputFieldsTypes.number]?.placeholder"
        [placeholder]="fields[docInputFieldsTypes.number]?.placeholder"
        [showConstantMaskSymbols]="true"
        [invalid]="
          isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
        "
        [validationShowOn]="validationShowOn"
        [component]="fields[docInputFieldsTypes.number]"
        [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.number]"
        (selectSuggest)="selectSuggest.emit($event)"
        (blurEvent)="
          markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
        "
      ></epgu-constructor-masked-input>
      <ng-template #plainInputNumber>
        <epgu-constructor-constructor-plain-input
          [textTransformType]="fields[docInputFieldsTypes.number]?.attrs?.fstuc"
          [id]="docInputFieldsTypes.number"
          [control]="
            $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number]))
          "
          [placeholder]="fields[docInputFieldsTypes.number]?.placeholder"
          [invalid]="
            isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
          "
          [validationShowOn]="validationShowOn"
          [component]="fields[docInputFieldsTypes.number]"
          [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.number]"
          (selectSuggest)="selectSuggest.emit($event)"
          (blurEvent)="
            markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
          "
        ></epgu-constructor-constructor-plain-input>
      </ng-template>
      <epgu-constructor-helper-text
        *ngIf="fields[docInputFieldsTypes.number]?.hint as hint"
        class="doc-input__hint"
      >
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
    <div class="doc-input__group-item doc-input__date" 
    *ngIf="!fields[docInputFieldsTypes.date]?.attrs.hidden"
    [class.collapsed]="fields[docInputFieldsTypes.series]?.attrs.hidden || fields[docInputFieldsTypes.number]?.attrs.hidden">
      <epgu-constructor-label
        [tips]="fields[docInputFieldsTypes.date]?.attrs?.labelHint"
        [label]="fields[docInputFieldsTypes.date]?.label"
        [for]="docInputFieldsTypes.date"
      ></epgu-constructor-label>
      <epgu-constructor-constructor-date-picker
        [id]="docInputFieldsTypes.date"
        align="left"
        [control]="form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])"
        [minDate]="fields[docInputFieldsTypes.date]?.attrs?.minDate || '-120y'"
        [maxDate]="fields[docInputFieldsTypes.date]?.attrs?.maxDate || 'today'"
        (blurEvent)="
          markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])
        "
        [invalid]="isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])"
        [validationShowOn]="validationShowOn"
        [clearable]="true"
        [brokenDateFixStrategy]="brokenDateFixStrategy"
      ></epgu-constructor-constructor-date-picker>
      <epgu-constructor-helper-text
        *ngIf="fields[docInputFieldsTypes.date]?.hint as hint"
        class="doc-input__hint"
      >
        {{ hint }}
      </epgu-constructor-helper-text>
    </div>
  </div>
  <ng-template #expireDate>
    <div class="doc-input__group">
      <div
        class="doc-input__group-item doc-input__series"
        *ngIf="!fields[docInputFieldsTypes.series]?.attrs.hidden"
      >
        <epgu-constructor-label
          [tips]="fields[docInputFieldsTypes.series]?.attrs?.labelHint"
          [label]="fields[docInputFieldsTypes.series]?.label"
          [for]="docInputFieldsTypes.series"
        ></epgu-constructor-label>
        <epgu-constructor-masked-input
          *ngIf="fields[docInputFieldsTypes.series]?.attrs.mask; else plainInputSeries"
          [textTransformType]="fields[docInputFieldsTypes.series]?.attrs?.fstuc"
          [id]="docInputFieldsTypes.series"
          [control]="
            $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series]))
          "
          [mask]="fields[docInputFieldsTypes.series]?.attrs?.mask"
          [showMaskAsPlaceholder]="!fields[docInputFieldsTypes.series]?.placeholder"
          [placeholder]="fields[docInputFieldsTypes.series]?.placeholder"
          [showConstantMaskSymbols]="true"
          [invalid]="
            isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series])
          "
          [validationShowOn]="validationShowOn"
          [component]="fields[docInputFieldsTypes.series]"
          [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.series]"
          (selectSuggest)="selectSuggest.emit($event)"
          (blurEvent)="
            markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])
          "
        ></epgu-constructor-masked-input>
        <ng-template #plainInputSeries>
          <epgu-constructor-constructor-plain-input
            [textTransformType]="fields[docInputFieldsTypes.series]?.attrs?.fstuc"
            [id]="docInputFieldsTypes.series"
            [control]="
              $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series]))
            "
            [placeholder]="fields[docInputFieldsTypes.series]?.placeholder"
            [invalid]="
              isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.series])
            "
            [validationShowOn]="validationShowOn"
            [component]="fields[docInputFieldsTypes.series]"
            [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.series]"
            (selectSuggest)="selectSuggest.emit($event)"
          ></epgu-constructor-constructor-plain-input>
        </ng-template>
        <epgu-constructor-helper-text
          *ngIf="fields[docInputFieldsTypes.series]?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
      <div
        class="doc-input__group-item doc-input__number"
        *ngIf="!fields[docInputFieldsTypes.number]?.attrs.hidden"
      >
        <epgu-constructor-label
          [tips]="fields[docInputFieldsTypes.number]?.attrs?.labelHint"
          [label]="fields[docInputFieldsTypes.number]?.label"
          [for]="docInputFieldsTypes.number"
        ></epgu-constructor-label>
        <epgu-constructor-masked-input
          *ngIf="fields[docInputFieldsTypes.number]?.attrs.mask; else plainInputNumber"
          [textTransformType]="fields[docInputFieldsTypes.number]?.attrs?.fstuc"
          [id]="docInputFieldsTypes.number"
          [control]="
            $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number]))
          "
          [mask]="fields[docInputFieldsTypes.number]?.attrs?.mask"
          [showMaskAsPlaceholder]="!fields[docInputFieldsTypes.number]?.placeholder"
          [placeholder]="fields[docInputFieldsTypes.number]?.placeholder"
          [showConstantMaskSymbols]="true"
          [invalid]="
            isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
          "
          [validationShowOn]="validationShowOn"
          [component]="fields[docInputFieldsTypes.number]"
          [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.number]"
          (selectSuggest)="selectSuggest.emit($event)"
          (blurEvent)="
            markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
          "
        ></epgu-constructor-masked-input>
        <ng-template #plainInputNumber>
          <epgu-constructor-constructor-plain-input
            [textTransformType]="fields[docInputFieldsTypes.number]?.attrs?.fstuc"
            [id]="docInputFieldsTypes.number"
            [control]="
              $any(form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number]))
            "
            [placeholder]="fields[docInputFieldsTypes.number]?.placeholder"
            [invalid]="
              isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.number])
            "
            [validationShowOn]="validationShowOn"
            [component]="fields[docInputFieldsTypes.number]"
            [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.number]"
            (selectSuggest)="selectSuggest.emit($event)"
          ></epgu-constructor-constructor-plain-input>
        </ng-template>
        <epgu-constructor-helper-text
          *ngIf="fields[docInputFieldsTypes.number]?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
    </div>
    <div class="doc-input__group">
      <div class="doc-input__group-item doc-input__date doc-input__date_expire">
        <epgu-constructor-label
          [tips]="fields[docInputFieldsTypes.date]?.attrs?.labelHint"
          [label]="fields[docInputFieldsTypes.date]?.label"
          [for]="docInputFieldsTypes.date"
        ></epgu-constructor-label>
        <epgu-constructor-constructor-date-picker
          [id]="docInputFieldsTypes.date"
          align="left"
          [control]="form.get([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])"
          [minDate]="fields[docInputFieldsTypes.date]?.attrs?.minDate || '-120y'"
          [maxDate]="fields[docInputFieldsTypes.date]?.attrs?.maxDate || 'today'"
          (blurEvent)="
            markControlAsDirty([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])
          "
          [invalid]="
            isValidationShown([docInputFieldsTypes.seriesNumDate, docInputFieldsTypes.date])
          "
          [validationShowOn]="validationShowOn"
          [brokenDateFixStrategy]="brokenDateFixStrategy"
          [clearable]="true"
        ></epgu-constructor-constructor-date-picker>
        <epgu-constructor-helper-text
          *ngIf="fields[docInputFieldsTypes.date]?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
      <div class="doc-input__group-item doc-input__date doc-input__date_expire">
        <epgu-constructor-label
          [tips]="fields[docInputFieldsTypes.expirationDate]?.attrs?.labelHint"
          [label]="fields[docInputFieldsTypes.expirationDate]?.label"
          [for]="docInputFieldsTypes.date"
        ></epgu-constructor-label>
        <epgu-constructor-constructor-date-picker
          [id]="docInputFieldsTypes.expirationDate"
          align="left"
          [control]="form.get(docInputFieldsTypes.expirationDate)"
          [minDate]="fields[docInputFieldsTypes.expirationDate]?.attrs?.minDate || '-120y'"
          [maxDate]="fields[docInputFieldsTypes.expirationDate]?.attrs?.maxDate || 'today'"
          (blurEvent)="markControlAsDirty(docInputFieldsTypes.expirationDate)"
          [invalid]="isValidationShown(docInputFieldsTypes.expirationDate)"
          [validationShowOn]="validationShowOn"
          [clearable]="true"
          [brokenDateFixStrategy]="brokenDateFixStrategy"
        ></epgu-constructor-constructor-date-picker>
        <epgu-constructor-helper-text
          *ngIf="fields[docInputFieldsTypes.expirationDate]?.hint as hint"
          class="doc-input__hint"
        >
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
    </div>
  </ng-template>

  <epgu-constructor-helper-text *ngIf="fields['hint']?.label as label" class="doc-input__hint">
    {{ label }}
  </epgu-constructor-helper-text>

  <div class="doc-input__emmiter" *ngIf="!fields[docInputFieldsTypes.emitter]?.attrs?.hidden">
    <epgu-constructor-label
      [tips]="fields[docInputFieldsTypes.emitter]?.attrs?.labelHint"
      [label]="fields[docInputFieldsTypes.emitter]?.label"
      [for]="docInputFieldsTypes.emitter"
    ></epgu-constructor-label>
    <epgu-constructor-input-error
      *ngIf="
        form.get(docInputFieldsTypes.emitter).invalid &&
        form.get(docInputFieldsTypes.emitter).touched
      "
    >
      {{ form.get(docInputFieldsTypes.emitter).errors.msg }}
    </epgu-constructor-input-error>
    <epgu-constructor-constructor-plain-input
      [textTransformType]="fields[docInputFieldsTypes.emitter]?.attrs?.fstuc"
      [id]="docInputFieldsTypes.emitter"
      [control]="$any(form.get(docInputFieldsTypes.emitter))"
      [invalid]="isValidationShown(docInputFieldsTypes.emitter)"
      [validationShowOn]="validationShowOn"
      [component]="fields[docInputFieldsTypes.emitter]"
      [suggestions]="classifiedSuggestionItems[docInputFieldsTypes.emitter]"
      (selectSuggest)="selectSuggest.emit($event)"
    ></epgu-constructor-constructor-plain-input>
  </div>
  <epgu-constructor-helper-text
    *ngIf="fields[docInputFieldsTypes.emitter]?.hint as hint"
    class="doc-input__hint"
  >
    {{ hint }}
  </epgu-constructor-helper-text>
</section>
