<app-screen-container>
  <ng-container *ngIf="!readyToRegistration">
    <div class="error__content">
      <img [src]="attrs.url" />
      <div class="error__message" [innerHTML]="attrs.msg"></div>
      <div class="error__actions">
        <button class="btn btn--light" (click)="readyToRegistration = true">
          Направить приглашение на регистрацию
        </button>
        <button class="btn btn--light">
          Вернуться к началу заполнения заявления
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="readyToRegistration">
    <div class="error__content">
      <img src="http://localhost:4200/assets/img/screens/s11_x2.png" />
      <div class="error__message">
        <label for="email">Введите адрес электронной почты</label>
        <lib-standard-input id="email" type="email" [formControl]="email" placeholder="Email"></lib-standard-input>
        <div class="info">
          На указанный адрес электронной почты придет ссылка для регистрации на портале Госуслуг
        </div>
      </div>
      <div class="error__actions">
        <button class="btn btn--light" (click)="sendEmail(); readyToRegistration = false">
          Отправить приглашение и вернуть к началу заполнения заявления
        </button>
      </div>
    </div>
  </ng-container>
</app-screen-container>

