<epgu-constructor-screen-container
  [show-nav]="screenService.showNav$ | async"
  class="quiz__container"
  [class.screen-container-mt]="!(screenService.showNav$ | async)"
>
  <div class="screen-body quiz__content">
    <epgu-constructor-page-name class="quiz__head">
      {{ screenService.header$ | async }}
      <epgu-constructor-user-info-loader></epgu-constructor-user-info-loader>
    </epgu-constructor-page-name>
    <epgu-constructor-output-html
      class="quiz__text"
      *ngIf="screenService.componentLabel$ | async"
      [html]="screenService.componentLabel$ | async | imgPrefixer"
      [clarifications]="(screenService.component$ | async).attrs?.clarifications"
    >
    </epgu-constructor-output-html>
  </div>

  <div class="screen-footer">
    <ng-content *ngTemplateOutlet="answersButtons"></ng-content>
    <ng-container *ngTemplateOutlet="screenButtons"></ng-container>
  </div>
</epgu-constructor-screen-container>

<ng-template #answersButtons>
  <div class="quiz__answers">
    <ng-container *ngFor="let answer of (screenService.answers$ | async)">
      <epgu-constructor-answer-button
        [data]="answer"
        class="quiz__answer"
        [selectedValue]="selectedAnswer"
        (click)="answerChoose(answer)"
        (keydown.enter)="answerChoose(answer)"
        (keydown.space)="answerChoose(answer)"
      >
      </epgu-constructor-answer-button>
    </ng-container>
  </div>
</ng-template>

<ng-template #screenButtons>
  <epgu-constructor-screen-buttons
    class="screen-buttons"
    *ngIf="(screenService.buttons$ | async).length"
    [screenButtons]="screenService.buttons$ | async"
    [isLoading]="screenService.isLoading$ | async"
  ></epgu-constructor-screen-buttons>
</ng-template>
