@import "../../../styles/core";

:host {
  display: flex;
  flex-direction: column;
}


.question {
  &__container {
    display: flex;
    flex-grow: 1;

    &::ng-deep .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__head {
    margin-bottom: 16px;
  }
}

.question__text {
  margin-bottom: 30px;
}

.question__nav {
  @include navigation-mt();
}

.answer {
  @include tablets-down {
    margin-top: auto;
  }
}

.answer__item:not(:last-child) {
  margin-bottom: 16px;
  @include tablets-up {
    margin-bottom: 24px;
  }
}

