@import '../../../styles/core';

:host {
  @include flex-container();
}

.quiz {
  &__content {
    @include tablets-up {
      margin-bottom: 32px;
    }
  }

  &__head {
    margin-bottom: 16px;
    &:only-child {
      margin-bottom: 0;
    }
  }

  &__answers {
    width: 100% !important;
    flex-direction: column;
    align-items: stretch !important; // в какой то момент стили компонента переопределяют то что навешенно сверху.
    margin-left: 0;
    margin-right: 0;
    @include tablets-up {
      margin-top: 0;
    }
  }

  &__answer {
    margin: 0 0 16px 0;
    border: 1px solid $color-white;
    @include tablets-up {
      margin: 0 0 24px 0;
    }
  }
}

.screen-body .quiz__answers {
  margin-top: 16px;
}
