@import "../../../styles/core";

:host {
  display: block;
}

.nav {
  @include navigation-mt();
}

.question {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    @include phones-down {
      $header-h: 40px;
      $navigation-h: 46px;
      min-height: calc(100vh - #{$header-h + $navigation-h + 48px});
    }

    &__label {
      margin-bottom: 30px;
    }
  }

  &__body {
    margin-top: auto;
    @include tablets-up {
      margin-top: 0;
    }
  }
}

.answer {
  @include tablets-down {
    margin-top: auto;
  }
}

.answer__item {
  margin-bottom: 16px;
  @include tablets-up {
    margin-bottom: 24px;
  }
}

