<epgu-constructor-screen-container>
  <div class="screen-body quiz__content">
    <epgu-constructor-page-name class="quiz__head">
      {{ screenService.header$ | async }}
    </epgu-constructor-page-name>
    <epgu-constructor-output-html
      class="quiz__text"
      *ngIf="screenService.component?.label"
      [html]="screenService.component?.label | imgPrefixer"
      [clarifications]="screenService.component?.attrs?.clarifications"
    >
    </epgu-constructor-output-html>
  </div>

  <div class="screen-footer quiz__answers">
    <ng-container *ngFor="let action of screenService.component?.attrs?.actions">
      <epgu-constructor-answer-button
        *ngIf="!action.hidden"
        class="quiz__answer"
        (click)="answerChoose(action)"
        [data]="action"
      >
      </epgu-constructor-answer-button>
    </ng-container>
  </div>
</epgu-constructor-screen-container>
