@import 'src/styles/core/palettes';
@import 'src/styles/core/functions';
@import 'src/styles/core/typography';

.employee-history {
  &__generation {
    @include shadow-second();
    border-radius: $border-xl;
    padding: $screen-pad-p;
    margin-bottom: $screen-pad-p;
    background: $color-white;

    .icon-close {
      display: flex;
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__progress, &__completed {
    display: flex;
    margin-top: 40px;

    &__msg {
      @include typ-h5();
      padding-top: 5px;
      margin-right: auto;
      margin-left: 16px;
    }
  }

  &__progress {
    flex-direction: column;
    align-items: center;

    &__periods {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include typ-plain-text();

      & > div {
        margin: 0 8px;
      }
    }

    &__notification {
      display: flex;
    }

    &__icon {
      margin-left: auto;
      width: 24px;
      height: 24px;
      background-image: url('../../../../../assets/icons/svg/progress_form.svg');
    }

    &__msg {
      padding-top: 0;
    }
  }

  &__completed {
    &__icon {
      margin-left: auto;
      width: 33px;
      height: 32px;
      background-image: url('../../../../../assets/icons/svg/complete_form.svg');
    }
  }

  &__footer {
    &__msg {
      color: $color-gosred;
      padding: $screen-pad-p;
    }
  }

  &__removeGeneration {
    .button-close {
      background: none;
      cursor: pointer;
      border: 0;
    }
  }

  &__error-date {
    margin-top: 8px;

    & span {
      @include typ-h6();
    }

    & div {
      @include typ-plain-small();
      color: $color-tela-rossa;
      margin-top: 4px;
      margin-bottom: 12px;
    }
  }

  &__type {
    display: flex;

    & > div:not(.employee-history__removeGeneration) {
      flex: 1;
    }

    lib-radio {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__date {
    &__hint {
      display: none;
    }

    & > div:first-child {
      margin-bottom: $screen-pad-p;
    }

    @include phones-up() {
      display: flex;

      & > div {
        flex: 1;

        &:first-child {
          margin-bottom: 0;
        }

        &:not(:first-child) {
          margin-left: $screen-pad-p;
        }
      }

      &__hint {
        color: $color-text-helper;
        @include typ-plain-small();
        margin-top: 8px;
        display: block;
      }
    }
  }

  &__date,
  &__input {
    margin-bottom: $screen-pad-p;
  }

  &__newGeneration {
    text-align: center;
  }
}

:host {
  .screen-footer {
    margin-top: 0;
  }
}
