@import "../../../../../../styles/core/index";

@mixin slider-thumb() {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $color-white;
  border-radius: 50%;
  border: 2px solid $color-gosblue;
  cursor: pointer;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  border-radius: 1px;
  background: $color-devider;
  outline: none;
}

.slider::-webkit-slider-thumb {
  @include slider-thumb;
}

.slider::-moz-range-thumb {
  @include slider-thumb;
}

.slider::-ms-thumb {
  @include slider-thumb;
}

