<lib-standard-masked-input
  epgu-constructor-trim
  epgu-constructor-text-transform
  epgu-constructor-validation-type
  [epgu-constructor-mask-transform]="mask"
  [maskOptions]="maskOptions"
  [isTrim]="isTrim"
  [textTransformType]="textTransformType"
  [clearable]="clearable"
  [mask]="$any(mask | maskHandle:maskOptions)"
  [name]="name"
  [id]="id"
  [showMaskAsPlaceholder]="showMaskAsPlaceholder"
  [placeholder]="placeholder"
  [showConstantMaskSymbols]="showConstantMaskSymbols"
  [formControl]="control"
  [invalid]="invalid"
  [validationShowOn]="validationShowOn"
  [readOnly]="readonly"
  (change)="onChange($event)"
  [component]="component"
  [autocomplete]="'off'"
  [suggest]="suggestions"
  [ngClass]="{'showPlaceholder-on-focus': showPlaceholderOnFocus}"
  (selectSuggest)="selectSuggest.emit($event)"
></lib-standard-masked-input>
