@import "../../../resolution-mixins";
@import "../../../styles";

*, *:before, *:after {
  font-family: $secondary_font;
}

.section-content {
  display: flex;
  justify-content: center;
}

.component {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: inherit;
  h1, p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: .9rem;
    line-height: 1.5;
  }
  ul {
    font-size: .9rem;
    text-align: left;
    line-height: 1.5;
    list-style: none;
    margin-left: 0;
    background: $bg-requirements-list;
    border-radius: 4px;
    padding: 20px;
    & > li {
      position: relative;
      margin-left: 2rem;
      &:not(:first-of-type) {
        margin-top: .5rem;
      }
      &::before {
        content: '';
        position: absolute;
        left: -2rem;
        top: 3px;
        display: inline-block;
        width: 16px;
        height: 12px;
        background-image: url('^/assets/icons/png/check.png'); // Fallback PNG
        background-image: url('^/assets/icons/svg/check.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right:0.5em;
      }
    }
  }

  .header, .content {
    text-align: center;
  }

  .header {
    flex: 0 1 auto;
    margin-top: 1rem;
  }

  .content {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .share-widget {
    margin: 2rem 1rem;
  }

  .submit-button {
    flex: 1 1 auto;
    margin: 1rem;
    & button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .submit-label {
    font-size: .9rem;
    display: inline-block;
    text-align: left;
  }
}

@include desktop {
  .component {
    max-width: 592px;
    height: 624px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .component {
    h1, p {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .content {
      text-align: left;
    }
    ul {
      font-size: 1rem;
    }

    .submit-button {
      margin-bottom: 2rem;
      flex: 0 1 auto;
      width: auto;
    }

    .submit-label {
      font-size: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .footer {
      align-items: center;
    }

    .button-icon {
      display: none;
    }
  }
}
