.component {
  background: var(--color-bg-requirements);
  border-radius: 4px;
  padding: 20px;
}

.list {
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  & > li {
    position: relative;
    margin-left: 2rem;
    &:not(:first-of-type) {
      margin-top: .5rem;
    }
    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      top: 5px;
      display: inline-block;
      width: 16px;
      height: 12px;
      background-image: url('^/assets/icons/png/check.png'); // Fallback PNG
      background-image: url('^/assets/icons/svg/check.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-right:0.5em;
    }
  }
}