
<div class="user-data">
  <section class="user-data__section">
    <div class="user-data__name">
      <strong>
        {{ templateData?.valueParsed?.lastName + ' ' + templateData?.valueParsed?.firstName + ' ' + templateData?.valueParsed?.middleName }}
      </strong>
    </div>

    <div>
      <label class="user-data__label">
        Дата рождения:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.birthDate }}
      </div>
    </div>
  </section>

  <section class="user-data__section">
    <p>
      <strong>
        Паспорт гражданина РФ
      </strong>
    </p>

    <div class="user-data__field">
      <label class="user-data__label">
        Серия и номер:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.rfPasportSeries + ' ' + templateData?.valueParsed?.rfPasportNumber }}
      </div>
    </div>

    <div class="user-data__field">
      <label class="user-data__label">
        Дата выдачи:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.rfPasportIssueDate }}
      </div>
    </div>

    <div class="user-data__field">
      <label class="user-data__label">
        Кем выдан:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.rfPasportIssuedBy }}
      </div>
    </div>

    <div class="user-data__field">
      <label class="user-data__label">
        Код подразделения:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.rfPasportIssuedById }}
      </div>
    </div>

    <div class="user-data__field">
      <label class="user-data__label">
        Место рождения:
      </label>
      <div class="user-data__value">
        {{ templateData?.valueParsed?.birthPlace }}
      </div>
    </div>
  </section>
</div>