<epgu-constructor-default-unique-screen-wrapper
  *ngIf="data$ | async as data"
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-constructor-screen-pad>
    <epgu-constructor-information-center-pfr-simple
      *ngIf="data.attrs.simple.items.length === 1"
      [simpleData]="data.attrs.simple"
      (formChangeEvent)="changeForm($event)"
    ></epgu-constructor-information-center-pfr-simple>

    <epgu-constructor-information-center-pfr-full
      *ngIf="data.attrs.simple.items.length !== 1"
      [items]="data.attrs.full"
      [cachedValue]="data.value"
      [districtDictionary]="districtDictionary$ | async"
      [regionDictionary]="regionDictionary$ | async"
      [cityDistrictDictionary]="cityDistrictDictionary$ | async"
      [territoryDictionary]="territoryDictionary$ | async"
      (selectEvent)="fetchDictionary($event)"
      (formChangeEvent)="changeForm($event)"
    ></epgu-constructor-information-center-pfr-full>
  </epgu-constructor-screen-pad>
</epgu-constructor-default-unique-screen-wrapper>
