@import "../../../../../../../styles/core";

.car-list-external-error {
  display: block;
  margin: 24px auto 24px;
  width: 80px;
  height: 80px;
}

.car-list-not-found-error {
  display: block;
  margin: 24px auto 24px;
  width: 87px;
  height: 84px;
}

.car-error-title {
  text-align: center;
  margin-bottom: 16px;
}

.car-list-error-label {
  @include typ-plain-text;
  color: $color-text-helper;
}
