@import '../../../styles/core';

.cmp-group {
  &__layer {
    margin-bottom: $screen-pad-p;
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.btn--add {
  margin-top: $screen-pad-p;
  &__text {
    width: 100%;
    text-align: center;
  }
}

.common-error {
  margin-bottom: 4px;
  color: $color-gosred;
}

:host::ng-deep  {
  .screen-body.screen-body {
    @include tablets-up {
      margin-bottom: 16px;
    }

    @include tablets-down {
      margin-bottom: 0;
    }
  }

  .screen-footer > .screen-buttons {
    margin-top: 0;
  }
}
