@import '../../../styles/core';

.cmp-group {
  &__layer {
    margin-bottom: $screen-pad-p;
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.btn--add {
  margin-top: $screen-pad-p;
  &__text {
    width: 100%;
    text-align: center;
  }
}

.common-error {
  margin-bottom: 4px;
  color: $color-gosred;
}

.screen {
  &__buttons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablets-down {
      margin-top: auto;
    }
  }

  &__button {
    margin-bottom: 24px;

    @include tablets-up {
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
