@import '../../../styles/core/variables';
@import '../../../styles/core/palettes';

.cmp-group {
  &__layer {
    margin-bottom: $screen-pad-p;
  }
}

.icon-close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.btn--add {
  margin-top: $screen-pad-p;
  &__text {
    width: 100%;
    text-align: center;
  }
}

.common-error {
  margin-bottom: 4px;
  color: $color-gosred;
}
