<epgu-constructor-label
  [isTextHelper]="component?.attrs?.isTextHelper"
  [tips]="component?.attrs?.labelHint"
  [label]="component?.label"
  [clarifications]="component?.attrs?.clarifications"
  [largeFontSize]="largeFontSize"
  *ngIf="!disableLabel"
></epgu-constructor-label>
<div class="form__error" *ngIf="hasErrors">
  <div *ngIf="hasUiError && isShowErrors">
    <small>{{ control.getError('msg') }}</small>
    <epgu-constructor-output-html
      class="helper-text"
      [html]="control.getError('desc')"
      [clarifications]="component?.attrs?.clarifications"
    ></epgu-constructor-output-html>
  </div>
  <small *ngIf="hasServerError">
    {{ control.getError('serverError') }}
  </small>
</div>
<div class="form__input">
  <ng-content></ng-content>
</div>
<div class="form__info" *ngIf="hasInfo">
  <epgu-constructor-hint
    [hint]="hint"
    [clarifications]="component?.attrs?.clarifications"
  ></epgu-constructor-hint>
  <epgu-constructor-helper-text *ngIf="isHelperTextVisible">
    {{ customUnRecLabel }}
  </epgu-constructor-helper-text>
</div>
