@import '../../../../../styles/core/';

:host {
  display: block;
  margin-bottom: $screen-pad-24;
}

.form {
  &__error {
    margin-bottom: $screen-pad-4;
    color: $color-gosred;
  }

  &__info {
    margin-top: $screen-pad-8;
  }
}