@import '../../../../../styles/core/';

:host {
  display: block;
  margin-bottom: $screen-pad-24;
}

.form {
  &__error {
    margin-bottom: $screen-pad-4;
    color: $color-gosred;
  }

  &__info {
    margin-top: $screen-pad-8;
  }
}
:host::ng-deep {
  .custom {
    &__img-wrapper {
      text-align: center;
    }
    &__img {
      max-width: 200px;
    }
  }

  h3 {
    @include typ-h3;
    text-align: center;
    margin: 24px 0;
  }  
}
