@import "src/styles/core";

// TODO Избавиться от ng-deep
:host::ng-deep {
  .conf-modal {
    display: flex;
    flex-direction: column;
    @include modal-body();
    width: 634px;
    max-height: 485px;
    padding: 32px;
    border-radius: 12px;

    @include tablets-down {
      max-height: none;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    &__close {
      float: right;
      width: 16px;
      height: 16px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background: $color-button-hit;
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &__title {
      padding-right: 50px;
      font-size: 24px;
      line-height: 32px;
      color: $color-summer-night;
    }

    &__header {
      border-bottom: 1px solid $color-devider;
      padding-bottom: 24px;
    }

    &__body {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    &__text {
      white-space: pre-line;
      font-size: 16px;
      line-height: 24px;
    }

    &__text-wrapper {
      overflow-y: auto;
      padding: 24px 20px 0 0;
      margin-right: 6px;
    }

    &__controls {
      display: flex;
      margin-top: 26px;
      justify-content: center;
      flex: 1;
    }

    &__button {
      @include tablets-down {
        width: 100%
      }
    }
  }
}


