<epgu-constructor-confirmation-modal-base
  class="req-modal"
  title="Требования к фото"
  [buttons]="buttons"
  [showCrossButton]="true"
  (closeModalChange)="closeModal()">
  <div *ngIf="setting.warning"
       class="req-modal__warning">
    <lib-disclaimer-elk
      color="#FFD54C"
      title="Предупреждение!"
      [text]="setting.warning">
    </lib-disclaimer-elk>
  </div>
  <div class="req-modal__body">
    <div class="req-item"
         *ngFor="let requirement of setting.body">
      <div class="req-item__title"
           [innerHTML]="requirement.title | safeHtml"></div>
      <div [innerHTML]="requirement.text | imgPrefixer |safeHtml"></div>
      <div class="req-item__photo-container">
        <div class="req-item__photo-item"
             *ngFor="let photo of requirement.examplePhotos">
          <img class="req-item__photo"
               src="{{ config.staticDomainAssetsPath }}/assets/img/screens/upload-and-edit-photo/{{requirement.type}}-{{photo.type}}.png">
          <div class="req-item__photo-desc">
            <img *ngIf="photo.valid"
                 src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/icon-valid.svg">
            <img *ngIf="!photo.valid"
                 src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/icon-invalid.svg">
            <span [innerHTML]="photo.description | safeHtml"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="setting.footer"
       (click)="handleClickOnElemById($event)"
       class="req-modal__footer"
       [innerHTML]="setting.footer | safeHtml"></div>
</epgu-constructor-confirmation-modal-base>
