@import 'src/styles/core';

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.invitation-error {
  &__button {
    &::ng-deep .button-container {
      margin-top: 16px;
    }
  }
}

.invitation-error__content {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;

  .invitation-error__image {
    margin-top: 32px;
  }

  .invitation-error__message {
    margin: 32px 0;

    .invitation-error__info {
      margin-top: 32px;
    }
  }

  .invitation-error__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  @include tablets-up {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
