<epgu-constructor-screen-container>
  <ng-container *ngIf="!readyToRegistration">
    <div class="invitation-error__content">
      <img class="invitation-error__image" [src]="config.staticDomainAssetsPath + data.attrs.url" />
      <div class="invitation-error__message" [innerHTML]="data.label | imgPrefixer"></div>
      <div class="invitation-error__actions">
        <lib-button class="invitation-error__button" (click)="readyToRegistration = true">
          Направить приглашение на регистрацию
        </lib-button>
        <lib-button class="invitation-error__button">
          Вернуться к началу заполнения заявления
        </lib-button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="readyToRegistration">
    <div class="invitation-error__content">
      <img src="{{ config.staticDomainAssetsPath }}/assets/img/screens/s11_x2.png" />
      <div class="invitation-error__message">
        <epgu-constructor-label for="email">Введите адрес электронной почты</epgu-constructor-label>
        <lib-standard-input
          id="email"
          type="email"
          [formControl]="email"
          placeholder="Email"
        ></lib-standard-input>
        <div class="invitation-error__info">
          На указанный адрес электронной почты придет ссылка для регистрации на портале Госуслуг
        </div>
      </div>
      <div class="invitation-error__actions">
        <lib-button class="invitation-error__button" (click)="sendEmail()">
          Отправить приглашение и вернуться к началу заполнения заявления
        </lib-button>
      </div>
    </div>
  </ng-container>
</epgu-constructor-screen-container>
