@import '../../../../../styles/core';

.referrals-number {
  @include typ-plain-text;
}

.referrals-end-date {
  color: $color-text-helper;
  @include typ-plain-small();
}

.referrals-specialist {
  text-transform: capitalize;
  @include typ-h5();
}

.referrals-address {
  text-transform: capitalize;
  @include typ-plain-text;
  color: $color-text-helper;
}

.referrals-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include phones-down {
    flex-direction: column;
    align-items: flex-start;
  }
}
.referrals-action {
  @include typ-plain-text;
}

.empty_referrals_info {
  @include typ-plain-text;
}
