<ng-container
  *ngTemplateOutlet="
    contentComponent;
    context: {
      isLoading: isLoading$ | async,
      header: header$ | async,
      applicantAnswers: applicantAnswers$ | async,
      submitLabel: submitLabel$ | async,
      data: data$ | async
    }
  "
></ng-container>

<ng-template
  #contentComponent
  let-isLoading="isLoading"
  let-header="header"
  let-applicantAnswers="applicantAnswers"
  let-submitLabel="submitLabel"
  let-data="data"
>
  <epgu-constructor-screen-container
    [show-nav]="screenService.showNav$ | async"
    [class.screen-container-mt]="!(screenService.showNav$ | async)"
  >
    <div class="screen-body">
      <epgu-constructor-page-name *ngIf="header">{{ header }}</epgu-constructor-page-name>

      <epgu-constructor-file-upload
        [objectId]="screenService.orderIdAsString$ | async"
        [applicantAnswers]="applicantAnswers"
        [prefixForMnemonic]="getUploadComponentPrefixForMnemonic(data)"
        [attributes]="$any(data).attrs"
      >
      </epgu-constructor-file-upload>
    </div>

    <div class="screen-footer">
      <lib-button
        [showLoader]="isLoading"
        [disabled]="disabled"
        epgu-constructor-action
        [action]="nextStepAction"
        class="submit-button"
      >
        {{ submitLabel || 'Продолжить' }}
      </lib-button>
    </div>
  </epgu-constructor-screen-container>
</ng-template>
