@import "../../../../styles/core";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 12px;
}

.user-info-icon {
  margin-right: 12px;
}
.user-info-text {
  color: $color-text-helper;
  @include typ-plain-text;
}
