<ng-container *ngIf="loaded && !isServer">
  <lib-header
    *ngIf="!iframeService.hasIframe"
    [mergeHeaderMenu]="true"
    [isPortal]="true"
    [rolesListEnabled]="true"
    [searchSputnikEnabled]="true"
    [loginWithNode]="true"
    [userCounter]="userCounter"
    [translation]="'lib'"
    [logoHref]="loadService.config.baseUrl"
  ></lib-header>
  <div class="main-container" id="print-page">
    <router-outlet></router-outlet>
    <lib-modal-placeholder></lib-modal-placeholder>
  </div>
  <div *ngIf="!iframeService.hasIframe" class="footer-wrapper no-print" id="footer-wrapper">
    <lib-footer [onlyCopyright]="true"></lib-footer>
  </div>
</ng-container>
