@import '../../../../../styles/core/palettes';
@import '../../../../../styles/core/typography';
@import '../../../../../styles/core/variables';
@import '../../../../../styles/core/functions';
@import '../../../../../styles/components/rubles';

.form {
  @include flex-container();
  flex-flow: wrap;
  margin-left: -$screen-pad-small-gap / 2;
  margin-right: -$screen-pad-small-gap / 2;
  &__item {
    @include flex-container();
    justify-content: flex-start;
    flex: 1 1 100%;
    margin-left: $screen-pad-small-gap / 2;
    margin-right: $screen-pad-small-gap / 2;
    max-width: calc(100% - #{$screen-pad-small-gap});
    & > * {
      margin-bottom: $screen-pad-p;
    }
  }
  &::ng-deep .form__half {
    max-width: 50%;
  }
  &__radio {
    margin-top: $screen-pad-top;
    &--block {
      display: inline-block;
      lib-radio {
        display: block;
        margin-bottom: 16px;
      }

      lib-checkbox {
        display: block;
        margin-bottom: 16px;

        &::ng-deep .labelText {
          line-height: 24px;
        }

        &:first-child {
          margin-top: 4px;
        }
      }
    }
    &--inline {
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: $screen-pad-gap;
      }
    }
  }
}

@include rubles('.custom__screen-html', '../../../../../assets/icons/svg/ruble.svg');
