@import "../../../../styles/variables";
@import "../../../../styles/breakpoint";
@import "../../../../styles/functions";


:host {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  @include tablets-up {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 176px;
    width: auto;
  }
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: left;
  @include tablets-up {
    display: inline-block;
    height: 48px;
    padding: 12px;
    background: $denim;
    text-align: center;
    color: $white;
  }
}


.icon-arrow {
  flex-shrink: 0;
  margin-left: 10px;
  @include tablets-up {
    display: none;
  }
}

