<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-constructor-employee-history-form
    [fstuc]="(screenService.component$ | async).attrs?.fstuc"
    [componentValue]="$any(screenService.componentValue$ | async)"
    [init]="init$ | async"
    [ds]="ds"
    (updateFormEvent)="updateEmployeeHistory($event)"
  >
  </epgu-constructor-employee-history-form>
</epgu-constructor-default-unique-screen-wrapper>
