<!--<div>-->
<!--  <h3 *ngIf="paymentUIN">Использована оплата по УИН {{paymentUIN}}</h3>-->
<!--</div>-->
<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>
<epgu-constructor-screen-container>
  <div class="inner">
    <div *ngIf="data?.name" class="head">
      <epgu-constructor-page-name>{{ data.name }}</epgu-constructor-page-name>
    </div>
    <div class="unused-payments__description">Выберите пошлину, которую вы оплатили, но еще не использовали</div>
  </div>
  <epgu-constructor-radio-tax
    *ngIf="(paymentsList$ | async) as paymentsList"
    (selected)="tax = $event"
    [data]="paymentsList"></epgu-constructor-radio-tax>
    <lib-button
      class="btn__submit"
      (click)="next()"
    >
      <div class="secondary-font">{{ data?.submitLabel || 'Продолжить' }}</div>
    </lib-button>


</epgu-constructor-screen-container>


