<!--<div>-->
<!--  <h3 *ngIf="paymentUIN">Использована оплата по УИН {{paymentUIN}}</h3>-->
<!--</div>-->
<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>
<epgu-constructor-screen-container>
  <div class="inner">
    <div *ngIf="data?.name" class="head">
      <epgu-constructor-page-name>{{ data.name }}</epgu-constructor-page-name>
    </div>
    <div class="unused-payments__description">Выберите пошлину, которую вы оплатили, но еще не использовали</div>
  </div>
  <div class="radio-list" *ngIf="(paymentsList$ | async) as paymentsData; else emptyList">
    <epgu-constructor-radio-tax

      (selected)="tax = $event"
      [data]="paymentsData"></epgu-constructor-radio-tax>
      <lib-button
        class="btn__submit"
        (click)="next()"
      >
        <div class="secondary-font">{{ data?.submitLabel || 'Продолжить' }}</div>
      </lib-button>
  </div>
  <ng-template #emptyList>
    <div class="radio-list-empty">
      У вас нет ранее оплаченных пошлин для использования. Выберите другой вид оплаты
    </div>
  </ng-template>


</epgu-constructor-screen-container>


