<div *ngFor="let item of data; let i = index" (click)="select(i)" class="radio-tax__container">
  <div  [class.active]="selectedItem === item" class="radio-tax__button"></div>
  <div class="radio-tax__info">
    <div class="radio-tax__title">Пошлина от {{item.payDate | date:'shortDate'}}</div>
    <div class="radio-tax__uin">УИН: {{item.uin}}</div>
    <a [href]="item.link" target="_blank" class="radio-tax__link">Детали платежа</a>
  </div>
  <div class="radio-tax__amount">{{item.amount | currency:'RUB':'symbol-narrow':'0.0-2' }}</div>
</div>
