<footer class="footer">
  <div class="footer__container">
    <a class="footer__ministerstvo-svazy-rf-logo" [routerLink]="[scenarioUrl]">
      <img src="assets/images/logo_ministerstvo_svazy_rf.svg" class="footer__ministerstvo-svazy-rf-logo-img">
    </a>

    <p class="footer__text">Официальный интернет-портал государственных услуг 2021 г.</p>

    <a class="footer__rostelecom-logo" [routerLink]="[scenarioUrl]">
      <img src="assets/images/logo_rostelecom.svg" class="footer__rostelecom-logo-img">
    </a>
  </div>
</footer>
