<app-screen-container>
  <app-page-name>{{ data?.header }}</app-page-name>

  <app-screen-pad>
    <form action="" class="form">
      <ng-container *ngFor="let componentData of data?.components">
        <ng-container [ngSwitch]="componentData.type">

          <div class="form__item" *ngSwitchCase="componentType.LabelSection">
            <app-label-section [name]="componentData.label"></app-label-section>
          </div>

          <div class="form__item" *ngSwitchCase="componentType.Dictionary">
            <div class="form__title">{{componentData.label}}</div>
            <lib-simple-select
              class="cs__select cs-select"
              (changed)="selectDictionary($event, componentData?.attrs?.dictionaryType)"
              [list]="dictionary[componentData?.attrs?.dictionaryType]?.data?.items | dictionaryToSelect"></lib-simple-select>
          </div>

          <div class="form__item" *ngSwitchCase="componentType.ForeignCitizenship">
            <div class="form__title">{{componentData.label}}</div>
            <app-foreign-citizenship></app-foreign-citizenship>
          </div>

          <div class="form__item" *ngSwitchCase="componentType.StringInput">
            <div class="form__title">{{componentData.label}}</div>
            <lib-plain-input
              (change)="inputChange($event, componentData)"></lib-plain-input>
          </div>

          <div class="form__item" *ngSwitchCase="componentType.DateInput">
            <div class="form__title">{{componentData.label}}</div>
            <lib-date-picker></lib-date-picker>
          </div>

        </ng-container>
      </ng-container>
    </form>
  </app-screen-pad>


</app-screen-container>
