@import "../../../../styles/variables";
@import "../../../../styles/functions";
@import "../../../../styles/breakpoint";


app-screen-container {
  text-align: center;
}
app-screen-pad {
  text-align: left;
}
lib-button {
  display: inline-block;
  min-width: 176px;
  @extend %submit-button-margin;
}

app-label-section {
  margin-bottom: 20px;
}

.form__item {
  margin-bottom: 24px;
}
.form__title {
  font-size: 14px;
  line-height: 20px;
  color: $cyprus;
  margin-bottom: 4px;
}
