@import "../../../../styles/variables";
@import "../../../../styles/functions";
@import "../../../../styles/breakpoint";


epguc-screen-container {
  text-align: center;
}
epguc-screen-pad {
  text-align: left;
}
lib-button {
  display: inline-block;
  @extend %submit-button-margin;
  &::ng-deep button{
    min-width: 176px;
  }
}

app-label-section {
  margin-bottom: 20px;
}

.form__item {
  margin-bottom: 24px;
}
.form__title {
  font-size: 14px;
  line-height: 20px;
  color: $cyprus;
  margin-bottom: 4px;
}


lib-simple-select::ng-deep {
  .simple-select {
    border-radius: 4px;
    padding: 14px 16px;
  }
  .simple-select-list {
    width: 100% !important;
  }
}
