<screen-container>

  <app-screen-pad>
    <form action="" class="form">
      <ng-container *ngFor="let componentData of arrayComponent">
        <ng-container [ngSwitch]="componentData.type">

          <div class="form__item" *ngSwitchCase="componentType.LabelSection">
            <app-label-section [name]="componentData.label"></app-label-section>
          </div>

          <div class="form__item" *ngSwitchCase="componentType.Dictionary">
            <div class="form__title">{{componentData.label}}</div>
            <lib-simple-select
              class="cs__select cs-select"
              [list]="sasdas" [item]="sasdas[0]"></lib-simple-select>
          </div>

        </ng-container>
      </ng-container>
    </form>
  </app-screen-pad>


</screen-container>
