// Variables

// Color system

$white: #fff;
$black: #000;
$blue: #0B40B3;


// primary font
$primary_font: 'ALS Ekibastuz';
//$secondary_font: 'Helvetica Neue';

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
