// Variables

// Color system

$white: #fff;
$black: #000;
$blue: #0B40B3;
$nero: #292929;


// primary font
$primary_font: 'ALS Ekibastuz';
//$secondary_font: 'Helvetica Neue';

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

// Font size
//$font-xs: 12px;
//$font-sm: 14px;
//$font-md: 18px;
//$font-lg: 20px;
