@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/palettes';
@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/breakpoint';
@import '~@epgu/epgu-constructor-ui-kit/src/styles/core/functions';

:host {
  @include flex-container();
  height: 100vh;
  max-height: -webkit-fill-available;
}

.main {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  background-color: $color-background;
}

.footer {
  margin-top: auto;
  @include tablets-down {
    display: none;
  }
}
