@import '../../../../../../styles/core/index';

:host {
  display: block;
}
.uploader-manager-item__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.uploader-manager-item__thumb {
  width: 48px;
  min-width: 48px;
  margin-right: 12px;
}
.uploader-manager-item__action {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.uploader-manager-item__info {
  flex-grow: 1;
  min-width: 0;
  button {
    margin-top: 4px;
  }
}

.uploader-manager-item__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .name {
    text-overflow: ellipsis;
    overflow: hidden;
    color: $color-summer-night;
    @include typ-plain-text;
    white-space: nowrap;
    text-decoration: none;
    &.active {
      cursor: pointer;
    }
    @include phones-down {
      flex-grow: 1;
    }
  }
}
.size {
  flex-grow: 1;
  @include typ-plain-text;
  white-space: nowrap;
  color: $color-text-helper;
  &:before {
    content: ' | ';
    white-space: pre;
    @include phones-down {
      content: '';
    }
  }
  &.mobile {
    display: none;
    @include phones-down {
      display: block;
    }
  }
  &.desktop {
    display: block;
    @include phones-down {
      display: none;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.upload-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  .uploader {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    animation: rotation 0.6s infinite linear;
    border: 4px solid $color-bg-disabled;
    border-top-color: $color-gosblue;
    border-radius: 100%;
  }
}

.uploader-manager-item__button {
  display: inline;
  text-align: center;
  @include typ-plain-small;
  color: $color-gosblue;
  text-transform: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  &:hover {
    color: $color-active-item;
  }
  &.uploader-manager-item__button_error {
    color: $color-gosred;
  }
}
.uploader-manager-item__error {
  margin-top: 10px;
  color: $color-text-helper;
  text-align: left;
  @include typ-plain-small;
  .uploader-manager-item__error-text {
    color: $color-tela-rossa;
  }
}

.fileType-preview {
  height: 24px;
  position: relative;
  .tag__text {
    color: $color-white;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 4px;
    height: 100%;
    text-transform: uppercase;
    @include typ-plain-small;
    align-items: center;
  }
}

.photo-preview {
  height: 48px;
  border: 2px solid $color-divider;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  &:after {
    @include phones-down {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.72) url('../../../../../../assets/icons/svg/pen.svg')
        no-repeat center center;
    }
  }
}
.view_button {
  @include phones-down {
    display: none;
  }
}
.remove_button {
  &:after {
    content: 'Удалить';
    @include phones-down {
      content: '';
    }
  }
  @include phones-down {
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.72) url('../../../../../../assets/icons/svg/delete.svg')
      no-repeat center center;
  }
}

.detach_button {
  &:after {
    content: 'Открепить';
    @include phones-down {
      content: '';
    }
  }
  @include phones-down {
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.72) url('../../../../../../assets/icons/svg/arrow-back.svg')
      no-repeat center center;
  }
}

.link {
  display: none;
}
