<div class="uploader-manager-item__container">
  <div class="uploader-manager-item__thumb">
    <ng-container
      *ngIf="
        (isError &&
          (fileItem?.error?.type === errorTypeAction.addDeletionErr ||
            fileItem?.error?.type === errorTypeAction.addUploadErr)) ||
        !isError
      "
    >
      <ng-container
        *ngIf="
          status === fileStatus.uploading || status === fileStatus.downloading;
          else previewType
        "
      >
        <div class="upload-preview">
          <div class="uploader"></div>
        </div>
      </ng-container>
      <ng-template #previewType>
        <div *ngIf="isImage" class="photo-preview">
          <img [src]="imageUrl | safe: 'url'" [alt]="name" />
        </div>
        <div *ngIf="!isImage" class="fileType-preview">
          <img [src]="basePath + selectedIconType + '.svg'" alt="error" />
        </div>
      </ng-template>
    </ng-container>
    <div
      *ngIf="
        isError &&
        fileItem?.error?.type !== errorTypeAction.addDeletionErr &&
        fileItem?.error?.type !== errorTypeAction.addUploadErr
      "
      class="fileType-preview"
    >
      <img [src]="basePath + errorIcon + '.svg'" alt="error" />
    </div>
  </div>
  <div class="uploader-manager-item__info">
    <div class="uploader-manager-item__title">
      <div (click)="viewAction()" class="name {{ isImage || link ? 'active' : null }}">
        {{ name }}
      </div>
      <div
        *ngIf="
          status === fileStatus.uploading ||
            status === fileStatus.downloading ||
            status === fileStatus.preparation ||
            status === fileStatus.delition;
          else sizeTemplateDesktop
        "
        class="size desktop"
      >
        {{ statusText[status] }}
      </div>

      <div class="uploader-manager-item__action">
        <button
          *ngIf="status === fileStatus.error || status === fileStatus.uploaded"
          (click)="delete.emit(fileItem)"
          class="uploader-manager-item__button remove_button {{
            status === fileStatus.error ? 'uploader-manager-item__button_error' : ''
          }}"
        ></button>
        <button
          class="uploader-manager-item__button"
          *ngIf="status === fileStatus.uploading"
          (click)="cancelAction(operationType.upload)"
        >
          Отменить
        </button>
        <button
          class="uploader-manager-item__button"
          *ngIf="status === fileStatus.downloading"
          (click)="cancelAction(operationType.download)"
        >
          Отменить
        </button>
        <button
          class="uploader-manager-item__button"
          *ngIf="status === fileStatus.delition"
          (click)="cancelAction(operationType.delete)"
        >
          Отменить
        </button>
      </div>
    </div>
    <div
      *ngIf="
        status === fileStatus.uploading ||
          status === fileStatus.downloading ||
          status === fileStatus.preparation ||
          status === fileStatus.delition;
        else sizeTemplateMobile
      "
      class="size mobile"
    >
      {{ statusText[status] }}
    </div>
  </div>
</div>
<div *ngIf="isError" class="uploader-manager-item__error">
  <div class="uploader-manager-item__error-text">{{ fileItem.error.text }}</div>
  <div class="uploader-manager-item__error-description">
    {{ fileItem.error.description }}
    <button
      class="uploader-manager-item__button"
      *ngIf="errorType === errorTypeAction.addUploadErr"
      (click)="repeat.emit(fileItem)"
    >
      Повторить
    </button>
  </div>
</div>

<a class="link" #elementLink [href]="link" [type]="type" target="_blank"></a>
<ng-template #sizeTemplateDesktop>
  <div class="size desktop">{{ size | fileSize }}</div>
</ng-template>
<ng-template #sizeTemplateMobile>
  <div class="size mobile">{{ size | fileSize }}</div>
</ng-template>
