<div class="uploader-manager-item__container">
  <div class="uploader-manager-item__thumb">
    <ng-container *ngIf="!isError">
      <ng-container
        *ngIf="
          status === fileStatus.uploading || status === fileStatus.downloading;
          else previewType
        "
      >
        <div class="upload-preview"></div>
      </ng-container>
      <ng-template #previewType>
        <div *ngIf="isImage" class="photo-preview">
          <img [src]="imageUrl | safe: 'url'" [alt]="name" />
        </div>
        <div *ngIf="!isImage" class="fileType-preview">
          <span>{{ ext }}</span>
        </div>
      </ng-template>
    </ng-container>
    <div *ngIf="isError" class="error-preview"></div>
  </div>
  <div class="uploader-manager-item__info">
    <div class="uploader-manager-item__title">
      <div class="name">{{ name }}</div>
      <div class="size">&nbsp;| {{ size | fileSize }}</div>
      <div
        *ngIf="
          status === fileStatus.uploading ||
          status === fileStatus.downloading ||
          status === fileStatus.preparation ||
          status === fileStatus.delition
        "
        class="status"
      >
        | {{ statusText[status] }}
      </div>
    </div>
    <div *ngIf="isImage" (click)="preview()" class="uploader-manager-item__view">
      Посмотреть
    </div>
  </div>
  <div class="uploader-manager-item__actions">
    <button
      *ngIf="status === fileStatus.error || status === fileStatus.uploaded"
      (click)="delete.emit(fileItem)"
    >
      Удалить
    </button>
    <!--    <span (click)="update.emit(fileItem)">Заменить</span>-->
    <button *ngIf="status === fileStatus.uploading" (click)="cancelAction(operationType.upload)">
      Отменить
    </button>
  </div>
</div>
<div *ngIf="isError" class="uploader-manager-item__error">
  <div class="uploader-manager-item__error-text">{{ fileItem.error.text }}</div>
  <div class="uploader-manager-item__error-description">{{ fileItem.error.description }}</div>
</div>
