@import "../../../../styles/core/functions";
@import "../../../../styles/core/variables";
@import "../../../../styles/core/palettes";

:host{
  display: block;
  justify-content: space-between;
}
button {
  display: flex;
  width: 100%;
  padding: 16px;
  background: $color-white;
  text-align: inherit;
  justify-content: inherit;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-hit;
  border-radius: $border-xl;
  border-width: 1px !important;
  border-style: solid;
  border-color: $color-white;
  cursor: pointer;
  outline: none;
  @include shadow-main();
  @include tablets-up {
    padding: 24px 32px;
  }

  &:focus {
    border-color: $color-devider;
    transition-delay: .1s;
    border-style: dashed;
  }
  &:hover,
  &:active {
    background: $color-background;
    border-color: $color-background;
  }
}
