@import '../../../../styles/core/functions';
@import '../../../../styles/core/variables';
@import '../../../../styles/core/palettes';
@import '../../../../styles/core/typography';

:host {
  display: block;
  justify-content: space-between;
}
button {
  display: flex;
  width: 100%;
  padding: 16px;
  position: relative;
  background: $color-white;
  text-align: inherit;
  justify-content: inherit;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-hit;
  border-radius: $border-xl;
  border-width: 1px !important;
  border-style: solid;
  border-color: $color-white;
  cursor: pointer;
  outline: none;
  @include shadow-main();
  @include tablets-up {
    padding: 23px 31px;
  }

  &:hover,
  &:active {
    background: $color-background;
    border-color: $color-background;
  }

  &[disabled] {
    background: $color-bg-disabled;
    color: $color-button-hover;
    cursor: not-allowed;
  }
  &.loading {
    opacity: 0.7;
    cursor: progress;
  }
  &:focus {
    outline: none;
    border-radius: $border-xl;
    border: 1px dashed $color-divider;
  }
}
