@import '../core/functions';
@import '../core/variables';
@import '../core/palettes';
@import '../core/typography';

.btn {
  border-radius: 4px;
  cursor: pointer;
}

.btn--light {
  @include btn--light();
}

.btn--transparent {
  @include btn--transparent();
}

.btn--primary {
  @include btn--primary();
}

.cross-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }

  &:before,
  &:after {
    position: absolute;
    left: 12px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: $color-gosblue;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.link-btn {
  color: $color-gosblue;
  @include typ-plain-text;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    color: $color-active-item;
  }
}
