@import "../core/palettes";
@import "../core/typography";
@import '../core/functions';

$color-highlighted: rgba(153, 177, 230, .5);

.card-toggle-pad{
  padding: $screen-pad-24;
  border-radius: $border-xl;
  @include shadow-second();
  @include tablets-up {
    padding: $screen-pad-24;
    @include shadow-main();
  }
}

.card-toggle {
  width: 100%;
  overflow: hidden;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &::after {
      content: "\276F";
      width: 24px;
      height: 24px;
      text-align: center;
      transition: all .35s;
      background: $color-tagline;
      border-radius: 50%;
      font-size: 12px;
      line-height: 22px;
      font-weight: 400;
      color: $color-gosblue;
      transform: rotate(90deg);
      margin-left: 16px;
      flex-shrink: 0;
    }
    & .card-toggle-label{
      max-width: 90%;
      display: flex;
      @include typ-h5();
      padding-left: 1px;
      flex-direction: column;
      & .highlighted {
        color: inherit;
        display: inline-block;
        border-radius: 2px;
        line-height: 20px;
        background-color: $color-highlighted;
        box-shadow: 1px 0 0 $color-highlighted, -1px 0 0 $color-highlighted;
      }
    }
  }
  &-content {
    max-height: 0;
    transition: all .35s;
    @include typ-plain-text();
    padding: 0;
    .close {
      display: inline-block;
      color: $color-gosblue;
      @include typ-plain-text();
      margin-top: 16px;
      cursor: pointer;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked {
    + .card-toggle-header::after {
      transform: rotate(-90deg);
    }
    ~ .card-toggle-content {
      max-height: initial;
      height: auto;
      padding-top: 12px;
    }
  }
}

.card-toggle,
.card-toggle-pad {
  background: $color-white;
  &:not(:last-child){
    margin-bottom: 24px;
  }
}
