@import '../core/palettes';
@import '../core/variables';
@import '../core/functions';
@import '../core/breakpoint';

.icon-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $color-gosblue;
  mask: escape-svg($arrow-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  background-position: center;
  background-repeat: no-repeat;
  @include tablets-down {
    mask: escape-svg($arrow-small-icon);
    mask-repeat: no-repeat;
    mask-position: center;
  }
  &--back {
    mask: escape-svg($arrow-small-icon);
    mask-position: right;
    mask-repeat: no-repeat;
    width: 16px;
  }
  &--left {
    transform: rotate(180deg);
  }
  &.disabled {
    background-color: $color-telegrey-scuro;
  }
}

.icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: escape-svg($close-icon);
  cursor: pointer;
  &--small {
    width: 16px;
    height: 16px;
    background-image: escape-svg($close-icon-small);
  }
}
