@import "./../core/palettes";

.icon-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: $color-gosblue;
  mask: url('../assets/icons/svg/arrow.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  background-position: center;
  background-repeat: no-repeat;
  @include tablets-down {
    mask: url('../assets/icons/svg/arrow-small.svg');
    mask-repeat: no-repeat;
    mask-position: center;
  }
  &--back {
    mask: url('../assets/icons/svg/arrow-small.svg');
    mask-position: right;
    mask-repeat: no-repeat;
    width: 16px;
  }
  &--left {
    transform: rotate(180deg);
  }
  &.disabled {
    background-color:  $color-telegrey-scuro;
  }
}

.icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/svg/close.svg');
}
