@import '../core/palettes';
@import '../core/breakpoint';

.modal {
  &__close {
    position: absolute;
    right: 32px;
    cursor: pointer;
    z-index: 2;
  }

  &__title {
    padding-right: 50px;
    color: $color-summer-night;
  }
}
