// stylelint-disable selector-type-no-unknown
@import '../core';

:host {
  @include flex-container();
  height: 100%;
}

:host::ng-deep {
  ymaps, ymaps:before, ymaps:after {
    box-sizing: content-box !important;
  }

  ymaps *[class*="zoom__runner"] {
    box-sizing: border-box !important;
  }

  hr {
    width: 100%;
  }

  .map-modal {
    font-size: $font-dflt;
    overflow: auto;
    white-space: pre-wrap;
    line-height: 24px;

    &__bold {
      font-weight: bold;
      padding-bottom: 8px;
    }

    &__normal {
      padding-bottom: 24px;
    }
  }

  .modal-img {
    border-radius: $border-round;
    width: 230px;
    height: 160px;
    margin-right: 8px;
  }

  .nav::ng-deep {
    margin-bottom: 8px;

    & .container {
      padding-left: 0;
    }
  }

  .map-objects-list {
    width: 288px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $color-white;
    overflow-y: hidden;
    z-index: 10;
  }

  ::ng-deep {
    .map-baloon {
      display: inline-block;
      padding: 24px;
      width: 288px;
      position: relative;
      background-color: $color-white;
      border-radius: $border-round;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      label {
        font-weight: $fw-semi-bold;
      }

      .map-baloon-close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }

        &:before,
        &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: $color-mine-shaft;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }

      &-content-Header {
        padding-bottom: 16px;
      }

      &-content-Bottom {
        padding-top: 16px;
      }
    }

    .FieldMapWithList-buttonwrap {
      display: flex;
      justify-content: center;

      .btn_base {
        background: $color-white;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid $color-gray;
        height: 54px;
        display: inline-block;
        vertical-align: top;
        line-height: 54px;
        text-decoration: none;
        padding: 0 25px;
        margin: 20px 0 0 0;
        position: relative;
        white-space: nowrap;
        user-select: none;
        font-size: 17px;

        &.btn_small {
          height: 42px;
          line-height: 16px;
          padding: 13px 20px;
          font-size: 14px;
        }

        &.btn_blue {
          background: $color-gosblue;
          border: 1px solid $color-gosblue;
          color: $color-white;
        }
      }
    }

    .page-container {
      padding-bottom: 0 !important;
    }
  }

  .widget {
    position: relative;
    height: 100%;
    width: 100%;
    @include flex-container();
    overflow: hidden;
    &__form {
      position: absolute;
      top: 20px;
      left: calc(50% - 296px);
      background: $color-white;
      width: 592px;
      z-index: 10;
      padding: 32px;
      border-radius: $border-round;
      box-shadow: 0 24px 48px $color-shadow;

      &__toggle-button {
        color: $color-gosblue;
        cursor: pointer;
      }

      .error-region {
        display: grid;
        padding-top: 16px;
      }

      .widget-form__bottom-label {
        margin-top: 12px;
        display: block;
      }
    }
    ::ng-deep {
      lib-map {
        flex-grow: 1;
        position: relative;
      }
      #map {
        width: 100%;
        position: absolute;

        .popover {
          background: $color-white;
          display: block;
          padding: 12px 24px 12px 12px;
          border-radius: 12px;
          position: absolute;
          @include shadow-main();
          .popover-inner > ymaps {
            overflow: hidden !important;
            text-overflow: ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include typ-plain-small;
          }

          .close {
            position: absolute;
            font-size: 28px;
            right: 10px;
            top: 0px;
            color: $color-blu-selvaggio;
          }
        }
      }
    }
  }
}

@include desktops-down {
  :host::ng-deep {
    .widget__form {
      position: relative;
      width: auto;
      padding: 16px;
      left: 0;
      top: 0;
      box-shadow: none;
      border-radius: 0;
    }

    .widget-form__title {
      display: block;
      margin: 0 12px;
    }

    .widget-form__input {
      padding: 0 12px;
    }

    .map-objects-list {
      height: auto;
      left: 0;
      top: initial;
      width: 100%;
      bottom: 0;
      overflow-y: hidden;
      position: fixed;

      &.fixed-height {
        height: 400px;
      }

      .perfect-scrollbar {
        max-height: 100vh;
      }
    }

    .nav::ng-deep {
      .container {
        padding: 0 16px;
        margin: 0;
      }

      margin-bottom: 8px;
    }

    ::ng-deep {
      app-footer {
        display: none;
      }

      lib-footer {
        display: none;
      }
    }

    .map-object {
      &__header-close {
        color: $color-gosblue;
      }
    }
  }
}
