@import '../core/variables';
@import '../core/functions';

// TODO вынести в глобальную область и избавиться от mixin!
@mixin rubles($class-name) {
  #{$class-name} {
    &::ng-deep .rubles {
      display: inline-block;
      position: relative;
      margin-right: 14px;
      width: 0;
      height: 17px;
    }

    &::ng-deep .rubles::after {
      content: '';
      width: 13px;
      height: 13px;
      position: absolute;
      right: -14px;
      top: 5px;
      background: no-repeat center center escape-svg($ruble-icon);
      background-size: contain;
    }
  }
}
