@import "../../../../styles/variables";
@import "../../../../styles/breakpoint";
@import "../../../../styles/functions";

:host {
  display: block;
  background: $white;
  padding: $screen-pad-p;
  border-radius: $border-lg;
  @include shadow();

  @include tablets-up {
    padding: $screen-pad-p;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  //position: relative;
  //top: 0;
  //transition: top .3s ease, box-shadow .3s ease;
  //&:hover {
  //  top: -5px;
  //  box-shadow: 0 12px 36px rgba(0,0,0,.2)
  //}
}



