<section class="birth-certificate component">
  <div class="component__wrapper">
    <div class="component__field">
      <span class="component__strong">
        Константинопольский Сергей Константинович
      </span>
    </div>
    <div class="component__field field field--row">
      <div>
        <label class="component__label">
          Серия
        </label>
        <lib-plain-input></lib-plain-input>
      </div>
      <div>
        <label class="component__label">
          Номер
        </label>
        <lib-plain-input></lib-plain-input>
      </div>
    </div>
    <div class="component__field">
      <label class="component__label">
        Номер актовой записи
      </label>
      <lib-plain-input></lib-plain-input>
    </div>
    <div class="component__field">
      <label class="component__label">
        Дата выдачи
      </label>
      <lib-date-picker></lib-date-picker>
    </div>
    <div class="component__field">
      <label class="component__label">
        Кем выдано
      </label>
      <lib-plain-input></lib-plain-input>
    </div>
  </div>
</section>
