<epgu-constructor-screen-container class="payment-type-selector">
  <epgu-constructor-screen-pad class="screen-body">
    <div class="payment-type-selector__img">
      <img src="{{ config.staticDomainAssetsPath }}{{paymentTypeSelector.srcImg}}" />
    </div>

    <epgu-constructor-page-name class="payment-type-selector__header">{{
      paymentTypeSelector.header
    }}</epgu-constructor-page-name>

    <epgu-constructor-output-html
      class="payment-type-selector__sub-header"
      [html]="paymentTypeSelector.subHeader"
    ></epgu-constructor-output-html>

    <epgu-constructor-output-html
      [html]="paymentTypeSelector.body"
      [clarifications]="paymentTypeSelector?.clarifications"
    >
    </epgu-constructor-output-html>

    <div class="screen-footer">
      <ng-container *ngFor="let action of paymentTypeSelector.actions">
        <lib-button
          *ngIf="action.applicantType === paymentTypeSelector.applicantType"
          epgu-constructor-action
          [action]="action"
          [color]="action.color"
          class="screen-footer__btn"
          >{{ action.label }}</lib-button
        >
      </ng-container>
    </div>
  </epgu-constructor-screen-pad>
</epgu-constructor-screen-container>
