<ng-container *ngTemplateOutlet="templateContentPayment; context: (init$ | async)"></ng-container>
<ng-template #templateContentPayment
             let-isErrorTemplate="isErrorTemplate"
             let-paymentTypeSelector="paymentTypeSelector"
             let-applicantType="applicantType">
  <epgu-constructor-screen-container class="payment-type-selector"
                                     [show-nav]="(screenService.terminal$ | async) === false"
                                     [class.screen-container-mt]="screenService.terminal$ | async"
  >
    <epgu-constructor-screen-pad *ngIf="isErrorTemplate; else templateRef" class="screen-body">
      <ng-container *ngTemplateOutlet="templateRef"></ng-container>
    </epgu-constructor-screen-pad>

    <ng-template #templateRef>
      <div class="screen-body">
        <div *ngIf="paymentTypeSelector.srcImg" class="payment-type-selector__img">
          <img src="{{ paymentTypeSelector.srcImg }}" />
        </div>

        <epgu-constructor-page-name class="payment-type-selector__header">{{
          paymentTypeSelector.header
          }}</epgu-constructor-page-name>

        <epgu-constructor-output-html
          *ngIf="paymentTypeSelector.subHeader"
          [html]="paymentTypeSelector.subHeader"
          class="payment-type-selector__sub-header"
        ></epgu-constructor-output-html>

        <epgu-constructor-output-html
          [html]="paymentTypeSelector.body"
          [clarifications]="paymentTypeSelector?.clarifications"
        >
        </epgu-constructor-output-html>
      </div>

      <div class="screen-footer">
        <ng-container *ngFor="let action of paymentTypeSelector.actions">
          <ng-container
            *ngIf="showBtn(applicantType, action)"
          >
            <ng-container *ngIf="isErrorTemplate; else answerBtn">
              <ng-container *ngTemplateOutlet="actionBtn"></ng-container>
            </ng-container>

            <ng-template #actionBtn>
              <lib-button
                epgu-constructor-action
                [action]="action"
                [color]="action.color"
                class="screen-footer__btn"
              >{{ action.label }}</lib-button
              >
            </ng-template>

            <ng-template #answerBtn>
              <epgu-constructor-answer-button
                epgu-constructor-action
                [data]="action"
                [action]="action"
                class="answer-btn"
              ></epgu-constructor-answer-button>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>
  </epgu-constructor-screen-container>
</ng-template>


