<epgu-constructor-screen-container
  [show-nav]="showNav$ | async"
  [class.screen-container-mt]="!(showNav$ | async)"
>
  <div class="screen-body">
    <div *ngIf="(display$ | async)?.header" class="head">
      <epgu-constructor-page-name>{{ (display$ | async)?.header }}</epgu-constructor-page-name>
    </div>

    <epgu-constructor-car-list [label]="(component$ | async)?.attrs?.label"
                               [provider]="lookupProvider"
                               [control]="control"
                               [carFixedItems]="carFixedItems"
                               [errorDisplayDto]="errorTemplate?.display"
                               [formatter]="lookupFormatter"
                               [searchCaseSensitive]="lookupSearchCaseSensitive"
                               [staticDomainAssetsPath]="config.staticDomainAssetsPath"
                               (formChangeEvent)="setState($event)"
    ></epgu-constructor-car-list>
  </div>

  <div class="screen-footer">
    <lib-button *ngIf="!hasError"
      [showLoader]="isLoading$ | async"
      epgu-constructor-action
      [action]="nextStepAction"
      class="submit-button"
    >
      {{ (display$ | async)?.submitLabel || 'Продолжить' }}
    </lib-button>

    <ng-container *ngIf="hasError && errorTemplate?.actions">
      <lib-button *ngFor="let action of errorTemplate.actions"
        epgu-constructor-action
        [action]="action"
        [color]="action.color"
        class="screen-footer__btn"
      >{{ action.label }}</lib-button>
    </ng-container>

  </div>
</epgu-constructor-screen-container>
