@import "src/styles/core";

// TODO Избавиться от ng-deep
:host::ng-deep {
  .conf-modal__text {
    white-space: pre-line;
    font-size: 16px;
    line-height: 24px;

    div.photoSimple {
      p {
        @include typ-plain-small();
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }

      p.large-m {
        margin-bottom: $screen-pad-p;
      }
    }
  }

  ul, ol {
    padding: 0;
    margin: 24px 0 0 12px;
    list-style: none;
  }

  ol {
    counter-reset: number;
  }

  li {
    line-height: 24px;
    margin-top: 16px;
    &:first-letter {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  ol li {
    padding-left: 0;

    &::before {
      counter-increment: number;
      content: counter(number)"\a0";
      color: $color-gosblue;
      padding-right: 6px;
      font-weight: $fw-semi-bold;
    }
  }

  ul li {
    padding-left: 16px;

    &::before {
      color: $color-gosblue;
      content: "•";
      display: inline-block;
      font-weight: 900;
      margin-left: -1em;
      width: 1em;
      vertical-align: top;
      font-size: 17px;
    }
  }
}


