<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenButtons]="screenService.buttons$ | async"
  [showNav]="screenService.showNav$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
>
  <epgu-constructor-date-time-period
    *ngIf="initialState"
    [attrs]="(screenService.component$ | async).attrs"
    [step]="(screenService.component$ | async).attrs.step"
    [initialState]="initialState"
    (updateState)="updateState($event)"
  ></epgu-constructor-date-time-period>
</epgu-constructor-default-unique-screen-wrapper>

