@import "src/styles/core";

.widget {
  position: relative;
  height: 100vh;
  width: 100%;

  &__form {
    position: absolute;
    top: 20px;
    left: calc(50% - 296px);
    background: $color-white;
    width: 592px;
    z-index: 100;
    padding: 32px;
    border-radius: $border-round;
    box-shadow: 0px 24px 48px rgba($color-shadow, 0.4);
  }
}

::ng-deep {
  .map-baloon {
    display: inline-block;
    padding: 24px;
    width: 288px;
    position: relative;
    background-color: $color-white;
    border-radius: $border-round;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    .map-baloon-close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: $color-mine-shaft;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    &-content-Header {
      padding-bottom: 16px;
    }

    &-content-Bottom {
      padding-top: 16px;
    }
  }

  .FieldMapWithList-buttonwrap {
    display: flex;
    justify-content: center;

    .btn_base {
      background: $color-white;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid $color-gray;
      height: 54px;
      display: inline-block;
      vertical-align: top;
      line-height: 54px;
      text-decoration: none;
      padding: 0 25px;
      margin: 20px 0 0 0;
      position: relative;
      white-space: nowrap;
      user-select: none;
      font-size: 17px;

      &.btn_small {
        height: 42px;
        line-height: 16px;
        padding: 13px 20px;
        font-size: 14px;
      }

      &.btn_blue {
        background: $color-gosblue;
        border: 1px solid $color-gosblue;
        color: $color-white;
      }
    }
  }
}
