@import "../../../../../styles/variables";
@import "../../../../../styles/breakpoint";

::ng-deep {
  .widgets-container {
    .map-baloon {
      display: inline-block;
      padding: 24px;
      width: 288px;
      position: relative;
      background-color: $white;
      border-radius: $border-round;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }

    .map-baloon-content-Header {
      padding-bottom: 16px;
    }

    .map-baloon-content-Bottom {
      padding-top: 16px;
    }

    &__map-container {
      position: relative;
      height: 100vh;
      width: 100%;

      .FieldMapWithList-buttonwrap {
        display: flex;
        justify-content: center;

        .btn_base {
          background: $white;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid $gray;
          height: 54px;
          display: inline-block;
          vertical-align: top;
          line-height: 54px;
          text-decoration: none;
          padding: 0 25px;
          margin: 20px 0 0 0;
          position: relative;
          white-space: nowrap;
          user-select: none;
          font-size: 17px;

          &.btn_small {
            height: 42px;
            line-height: 16px;
            padding: 13px 20px;
            font-size: 14px;
          }

          &.btn_blue {
            background: $gosblue;
            border: 1px solid $gosblue;
            color: $white;
          }
        }
      }

      &__List-sidebar {
        position: absolute;
        top: 20px;
        left: calc(50% - 296px);
        background: $white;
        width: 592px;
        z-index: 100;
        padding: 32px;
        border-radius: $border-round;
        box-shadow: 0px 24px 48px rgba($shadow, 0.4);
      }
    }
  }
}
