<div class="widgets-container desktop-default">
  <div class="widgets-container__map-container">
    <div class="widgets-container__map-container__List-sidebar">
      Выберите ЗАГСы
      <div class="PGU-Input-Wrap">
        <lib-lookup
          [searchCaseSensitive]="false"
          [fixedItems]="mappedDictionaryForLookup"
          [showSuggestion]="true"
          (changed)="selectMapObject($event.originalItem)"
          [showExpandCollapse]="false"
          [queryMinSymbolsCount]="0"
        >
        </lib-lookup>
      </div>
    </div>
    <lib-map
      [externalMode]="true"
      [enterpriseYandexMapsEnabled]="true"
      [yandexMapsApiKey]="yandexMapsApiKey"
      [center]="mapCenter"
      [controls]="mapControls">
    </lib-map>
  </div>
</div>
