@import '../../../../../../styles/core/index';

@mixin slider-thumb() {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $color-white;
  border-radius: 50%;
  border: 2px solid $color-gosblue;
  cursor: pointer;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  border-radius: 1px;
  background: $color-divider;
  outline: none;
  padding: 0;
}

.slider::-webkit-slider-thumb {
  @include slider-thumb;
}

.slider::-moz-range-thumb {
  @include slider-thumb;
}

.slider::-ms-thumb {
  @include slider-thumb;
}

/* Style only for Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .slider {
    height: auto;
    background: none;
  }
}

.slider::-ms-track {
  border-width: 9px;
  border-color: transparent;
  color: transparent;

  background: transparent;
}
.slider::-ms-fill-lower {
  height: 2px;
  background: $color-divider;
}
.slider::-ms-fill-upper {
  height: 2px;
  background: $color-divider;
}
