<screen-container>
  <app-screen-pad class="welcome__wrapper">

    <page-name class="welcome__header">{{data?.header}}</page-name>

    <div class="welcome__body" [innerHTML]="data?.label">
    </div>

    <div class="welcome__footer footer">
      <lib-button (click)="nextStep()" size="lg" class="footer__btn footer-btn">
        <div class="footer-btn__inner">
          <span class="footer-btn__title">{{data.submitButtonLabel}}</span>
          <object class="footer-btn__icon" type="image/svg+xml" data="assets/icons/svg/arrow-forward.svg" width="20"
                  height="20">
            <img src="assets/icons/png/arrow-forward.png" width="20" height="20" alt="arrow-forward"/>
          </object>
        </div>
      </lib-button>
    </div>

  </app-screen-pad>
</screen-container>
