@import "~@epgu/epgu-constructor-ui-kit/src/styles/core";

.date-time-period-title {
  margin-bottom: 8px;
}
.date-time-period-subtitle {
  margin-bottom: 16px;
}

.date-time-period-btns {
  display: flex;
  margin-bottom: 24px;
  flex-direction: row;

  &__item {
    color: $color-gosblue;
    background: $color-alice-blue;
    border-radius: 8px;
    padding: 8px 10px;
    margin-right: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;

    &:hover {
      background: $color-hawkes-blue;
    }
  }
}

.form {
  @include flex-container();
  flex-flow: wrap;
  margin-left: -$screen-pad-16 / 2;
  margin-right: -$screen-pad-16 / 2;
  padding-bottom: 8px;

  &__item {
    @include flex-container();
    justify-content: flex-start;
    flex: 1 1 100%;
    margin-left: $screen-pad-16 / 2;
    margin-right: $screen-pad-16 / 2;
    max-width: calc(100% - #{$screen-pad-16});
    margin-bottom: $screen-pad-24;
  }
}
