@import "../../../../styles/breakpoint";
@import "../../../../styles/variables";


:host {
  display: block;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
  color: $denim;
}

.progress {
  $height: 4px;
  height: $height;
  background: $hawkes-blue;
  border-radius: 0 0 $border-round $border-round;
  &__thumb {
    width: 70%;
    height: $height;
    background: $royal-blue;
    border-radius: 0 4px 4px 4px;
  }
}


.head {
  margin-top: 32px;
  @include tablets-down {
    margin-top: 0;
    padding: 10px 0;
    border: 1px solid $perano;
    border-left: none;
    border-right: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.icon-arrow {
  transform: rotate(180deg);
}
