<div class="payments-modal">
  <div class="payments-modal__header" >
    <a class="payments-modal__close cursor-pointer" (click)="closeModal()"></a>
    <h4 class="payments-modal__title">Хотите ли вы использовать ранее оплаченную пошлину?</h4>
  </div>
  <div class="payments-modal__body">
    <h6>Ранее вы уже оплачивали пошлину по этой услуге, но не воспользовались ей.</h6>
    <div class="payments-modal__text-wrapper">
      <div *ngFor="let payment of paymentsList" class="payment-box">
        <div>Сумма: <b class="payment-value">{{payment.sum}} руб.</b></div>
        <div>УИН: <b class="payment-value">{{payment.uin}}</b></div>
        <div>
          <lib-button (click)="clickUsePayment(payment.uin)">Использовать пошлину</lib-button>
          <a [href]="payment.linkToOrderForm" class="payment-info">Просмотреть платеж</a>
        </div>
      </div>
      <div>Или вы можете дождаться выставления новой пошлины ведомством и оплатить ее.</div>
    </div>
    <div class="payments-modal__controls">
      <lib-button
        class="payments-modal__button"
        color="white"
        (click)="clickPayLater()"
        >Оплатить позже</lib-button>
    </div>
  </div>
</div>
