<div class="fileupload__wrapper">
  <div class="fileupload__label"
       *ngIf="data?.label.length"
       [innerHTML]="data.label"></div>
  <input #fileUploadInput type="file" [attr.accept]="getAcceptTypes()" (change)="updateFilesInfo()" multiple/>
  <div class="files" *ngIf="files.length">
    <div class="file" *ngFor="let file of files">
      {{file.name}}
    </div>
  </div>
  <div class="fileupload__buttons" [class.nocamera]="cameraNotAllowed" >
    <button *ngIf="cameraNotAllowed" class="fileupload__button"
      [disabled]="listIsUploadingNow || filesInUploading > 0">
      <img src="/assets/icons/svg/camera.svg" class="fileupload__button-icon"/>
      Фото
    </button>
    <button class="fileupload__button" (click)="uploadFilesEvent()"
      [disabled]="listIsUploadingNow || filesInUploading > 0">
      <img src="/assets/icons/svg/clip.svg" class="fileupload__button-icon"/>
      Файл
    </button>
  </div>
  <webcam [allowCameraSwitch]="true" [imageQuality]="imageCameraQuality" (initError)="handleCameraInitError($event)"></webcam>
</div>
