<div id="content-wrapper">
  <div id="content">
      <div class="content-center-box">
        <div class="error-content">

          <div class="error-info">
            <div class="error-text">
              <h1>Неверный адрес страницы</h1>
              <p>Проверьте, правильно ли вы ввели его. Если данные верны, пожалуйста, сообщите нам об
                ошибке.</p>
            </div>

            <div class="error-img">
              <img alt="" src="assets/gif/sad_face.gif">
            </div>
          </div>

          <div class="error-nav">
            <a href="/" class="to-main-btn"><span>На главную</span></a>
            <a href="/feedback" class="err-msg-btn"><span>Сообщить об ошибке</span></a>
          </div>
        </div>
      </div>
  </div>
</div>
