@import "src/styles/core/palettes";
@import "src/styles/core/functions";

.employee-history {
  &__generation,
  &__addedGenerations {
    @include shadow-second();
    border-radius: $border-xl;
    padding: $screen-pad-p;
    margin-bottom: $screen-pad-p;
  }

  &__completed {
    display: flex;
    &__icon {
      margin-left: auto;
      width: 33px;
      height: 32px;
      background-image: url('../../../../../assets/icons/svg/complete_form.svg');
    }

    &__msg {
      padding-top: 5px;
      margin-right: auto;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      margin-left: 16px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    @include tablets-up {
      margin-top: 32px;
    }
  }
  
  &__removeGeneration {
    .button-close {
      cursor: pointer;
    }
  }

  &__type {
    display: flex;

    & > div:not(.employee-history__removeGeneration) {
      flex: 1
    }

    lib-radio {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__date {
    &__hint {
      display: none;
    }

    & > div:first-child {
      margin-bottom: 24px;
    }

    @include phones-up() {
      display: flex;

      & > div {
        flex: 1;

        &:first-child {
          margin-bottom: 0;
        }

        &:not(:first-child) {
          margin-left: 24px;
        }
      }

      &__hint {
        color: $color-text-helper;
        font-size: 14px;
        margin-top: 8px;
        display: block;
      }
    }
  }

  &__date,
  &__input {
    margin-bottom: 24px;
  }

  &__pushGeneration {
    text-align: center;

    &__button {
      font-size: 16px;
      padding: 15px;
      display: inline-block;
      margin: 10px auto;
    }
  }

}