<epgu-constructor-component-item
  [control]="control.get('value')"
  [component]="control.value"
  [invalid]="control.invalid"
>
  <epgu-constructor-constructor-dadata-widget
    [simpleMode]="true"
    [invalid]="control.get('value').invalid && control.get('value').touched"
    [validationShowOn]="validationShowOn"
    [hideHouseCheckbox]="control.value?.attrs?.hideHouseCheckbox"
    [hideApartmentCheckbox]="control.value?.attrs?.hideApartmentCheckbox"
    [selectHouseCheckbox]="control.value?.attrs?.selectHouseCheckbox"
    [selectApartmentCheckbox]="control.value?.attrs?.selectApartmentCheckbox"
    [externalApiUrl]="configService.externalApiUrl + '/'"
    [control]="control.get('value')"
    [hideLevels]="control.value?.attrs?.hideLevels"
    [suggestions]="suggestions$ | async"
    (selectSuggest)="suggestHandlerService.handleEvent($event, componentsGroupIndex)"
  >
  </epgu-constructor-constructor-dadata-widget>
</epgu-constructor-component-item>
