<app-screen-container>
  <div class="inner">
    <div *ngIf="data.header" class="head">
      <app-page-name>{{data.header}}</app-page-name>
    </div>

    <app-screen-pad class="body">
      <ng-container [ngSwitch]="data?.components[0].type">
        <app-welcome-screen
          *ngSwitchCase="screenComponentName.welcome"
          [data]="data?.components[0]"></app-welcome-screen>

        <app-confirm-personal-user-address-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserRegAddr"
          [data]="data?.components[0]"></app-confirm-personal-user-address-screen>

        <app-requirements-list
          *ngSwitchCase="screenComponentName.serviceDscrScr"
          [data]="data?.components[0].label"></app-requirements-list>

        <app-confirm-personal-user-data-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserData"
          [data]="data?.components[0]">
        </app-confirm-personal-user-data-screen>

        <app-confirm-personal-user-email-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserEmail"
          [data]="data?.components[0]">
        </app-confirm-personal-user-email-screen>

        <app-confirm-personal-user-phone-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserPhone"
          [data]="data?.components[0]">
        </app-confirm-personal-user-phone-screen>

        <app-confirm-created-request-screen
          *ngSwitchCase="screenComponentName.confirmCreatedRequestScreen"
          [data]="data?.components[0]">
        </app-confirm-created-request-screen>

        <app-notification-about-absent-account
          *ngSwitchCase="screenComponentName.notificationAboutAbsentAccountScreen"
          [data]="data?.components[0]">
        </app-notification-about-absent-account>

      </ng-container>
    </app-screen-pad>

    <div class="footer">
      <lib-button (click)="nextStep()" class="footer__btn-submit">
        <div class="secondary-font">{{data?.submitLabel || 'Продолжить'}}</div>
      </lib-button>
    </div>
  </div>
</app-screen-container>

