<div class="uploader-viewer">
  <div class="uploader-viewer__header">
    <a class="modal__close" (click)="closeModal()"></a>
    <h4 class="modal__title">
      {{ type === filesType.suggest ? 'Ранее загруженные файлы' : 'Просмотр фото' }}
    </h4>
  </div>
  <div class="uploader-viewer__body">
    <ng-container *ngIf="selectedItem | async">
      <epgu-constructor-zoom
        #zoomComponent
        *ngIf="imageURL"
        [imageURL]="imageURL"
        (moveEnd)="zoomMoveEnd()"
      >
      </epgu-constructor-zoom>
      <button (click)="nextAction()">Вперед</button>
      <button (click)="prevAction()">Назад</button>
      <button (click)="deleteAction()">Удалить</button>
      <button (click)="zoomIn()">Приблизить</button>
      <button (click)="zoomOut()">Отдалить</button>
      <button (click)="downloadAction()">Скачать</button>
      <button *ngIf="type === filesType.suggest" (click)="suggestAction(true)">+Прикрепить</button>
      <button *ngIf="type === filesType.suggest" (click)="suggestAction(false)">-Открепить</button>
      {{ position }}/{{ size }}
    </ng-container>
  </div>
  <div class="uploader-viewer__footer"></div>
</div>
