@import '~@epgu/epgu-constructor-ui-kit/src/styles/core';

:host::ng-deep {
  .uploader-viewer {
    display: flex;
    flex-direction: column;
    @include modal-body();
    width: 799px;
    height: calc(100vh - 192px);
    min-height: 446px;
    max-height: calc(100vh - 192px);
    padding: 24px 0;
    border-radius: 12px;

    @include tablets-down {
      width: 100%;
      height: 100%;
      max-height: 100%;
      border-radius: 0;
    }

    @include phones-down {
      padding: 24px 0;
    }

    &__header {
      margin: 0 24px;
      display: flex;
      align-items: center;
      .modal__title {
        flex-grow: 1;
        @include typ-h3;
      }
      @include phones-down {
        margin: 0 24px;
      }
    }

    &__body-scroll {
      overflow-y: auto;
    }

    &__body {
      display: flex;
      flex: 1;
      flex-direction: column;
      position: relative;
      padding: 0 24px;
    }

    &__footer {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
