<div class="uploader-viewer">
  <div class="uploader-viewer__header">
    <a class="modal__close" (click)="closeModal()"></a>
    <h4 class="modal__title">{{ isSuggests ? 'Ранее загруженные файлы' : 'Просмотр фото' }}</h4>
  </div>
  <div class="uploader-viewer__body-scroll">
    <div class="uploader-viewer__body">
      <ly-img-cropper
        #cropper
        class="photo-editor__cropper-lib"
        [config]="cropConfig"
        [(scale)]="scale"
        (ready)="imageLoaded()"
      ></ly-img-cropper>
      <div class="uploader-viewer__footer"></div>
    </div>
  </div>
</div>
