@import "../../../../../styles";
@import "../../../../styles/breakpoint";

*, *:before, *:after {
  font-family: $secondary_font, sans-serif;
}

.requirements-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
  &__body {
    text-align: center;
    flex: 1 1 auto;
  }
  &__footer {
    margin-top: auto;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  & ::ng-deep p {
    font-size: .9rem;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  & ::ng-deep ul {
    font-size: .9rem;
    text-align: left;
    line-height: 1.5;
    list-style: none;
    background: $light-gray;
    border-radius: 4px;
    margin: 0 #{-$screen-pad-p};
    padding: $screen-pad-p;

    & > li {
      display: flex;
      &:not(:first-of-type) {
        margin-top: .5rem;
      }
      &::before {
        content: '';
        flex-shrink: 0;
        margin-top: 5px;
        margin-right: $screen-pad-p;
        display: block;
        width: 16px;
        height: 12px;
        background-image: url('^/assets/icons/png/check.png'); // Fallback PNG
        background-image: url('^/assets/icons/svg/check.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.lib-button {
  flex: 1 1 auto;
  & ::ng-deep .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    font-size: .9rem;
    display: inline-block;
    text-align: left;
  }
}

@include tablets-up {
  .requirements-list {
    &__header {
      margin: 0;
    }
    &__body {
      text-align: left;
    }
    &__footer {
      align-items: center;
    }
    p {
      font-size: 1rem;
    }
    ul {
      margin-top: 0;
      font-size: 1rem;
      padding: 1.5rem 0;
    }
  }
  .lib-button {
    margin-bottom: 16px;
    flex: 0 1 auto;
    width: auto;
    &__label {
      font-size: 1rem;
    }
    &__icon {
      display: none;
    }
  }
}
