<section class="doc-input-screen">
  <div class="doc-input-screen__inputs-row">
    <div class="doc-input-screen__input">
      <label class="doc-input-screen__label">Серия</label>
      <lib-plain-input [formControl]="form.get('series')" type="number"></lib-plain-input>
    </div>
    <div class="doc-input-screen__input">
      <label class="doc-input-screen__label">Номер</label>
      <lib-plain-input [formControl]="form.get('number')" type="number"></lib-plain-input>
    </div>
  </div>
  <div class="doc-input-screen__inputs-row">
    <div class="doc-input-screen__input">
      <label class="doc-input-screen__label">Дата выдачи</label>
      <lib-date-picker name="date" [formControl]="form.get('date')" [maxDate]="maxDate"></lib-date-picker>
    </div>
  </div>
  <div class="doc-input-screen__inputs-row">
    <div class="doc-input-screen__input">
      <label class="doc-input-screen__label">Кем выдано</label>
      <lib-plain-input [formControl]="form.get('emiter')" type="text"></lib-plain-input>
    </div>
  </div>
</section>
