<div class="photo" [ngClass]="{ 'photo--flex-column': croppedImageUrl }">
  <input
    #cameraInput
    id="cameraInput"
    type="file"
    capture="user"
    accept="image/*"
    style="display: none;"
    (change)="onFileSelected($any($event.target).files, cameraInput, true)"
  />
  <input
    #hiddenFileInput
    id="hiddenFileInput"
    style="display: none;"
    [attr.accept]="getAcceptTypes()"
    type="file"
    (change)="onFileSelected($any($event.target).files, hiddenFileInput)"
  />
  <epgu-constructor-photo-form-view
    [isDesktop]="isDesktop"
    [staticDomainAssetsPath]="staticDomainAssetsPath"
    [croppedImageUrl]="croppedImageUrl"
    (hiddenFileInputEvent)="hiddenFileInput.click()"
    (openCameraEvent)="openCamera()"
  ></epgu-constructor-photo-form-view>

  <ng-content></ng-content>
</div>
