<app-card class="desktop">
  <div class="item" *ngFor="let info of data">
    <div class="head">
      <ng-content *ngTemplateOutlet="headTitle; context: info"></ng-content>
      <a href="test.ru" class="head__actions">Изменить</a>
    </div>
    <ng-content *ngTemplateOutlet="headContent; context: info"></ng-content>
  </div>
</app-card>


<div class="mobile">
  <div class="item" *ngFor="let info of data">
    <ng-content *ngTemplateOutlet="headContent; context: info"></ng-content>
    <hr>
    <ng-content *ngTemplateOutlet="headTitle; context: info"></ng-content>
  </div>
</div>


<ng-template #headTitle let-title="title">
  <div class="head__title">{{title}}</div>
</ng-template>

<ng-template #headContent let-content="content">
  <div class="content">{{content}}</div>
</ng-template>

