@import "../../../../../../../style/variables";
@import "../../../../../../../style/breakpoint";
@import "../../../../../../../style/functions";


:host::ng-deep .footer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  @include tablets-down {
    flex-direction: column;
  }
}

:host::ng-deep .footer lib-button {
  @include tablets-down {
    width: 100%;
    margin: 4px 0;
  }
}

:host::ng-deep .footer lib-button button {
  min-width: 176px;
  @include tablets-down {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background: $white;
    font-size: 14px;
    line-height: 20px;
    color: $egyptian-blue;
    text-align: left;
  }
}

:host::ng-deep .container {
  @include tablets-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

