<epgu-constructor-invitation-error
  *ngIf="(screenService.componentType$ | async) === typeComponent.invitationError"
  [data]="screenService.component$ | async"
  [applicantAnswers]="screenService.applicantAnswers$ | async"
  [orderId]="screenService.orderId$ | async"
  [header]="this.screenService.header$ | async"
></epgu-constructor-invitation-error>

<epgu-constructor-lk-invitation-input
  *ngIf="(screenService.componentType$ | async) === typeComponent.lkInvitationInput"
  [data]="screenService.component$ | async"
  [header]="this.screenService.header$ | async"
></epgu-constructor-lk-invitation-input>
