@import '../../../../../../../styles/core/index';

:host {
  display: block;
  min-height: inherit;
}

.payment-type-selector {
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    img {
      max-width: 217px;
      max-height: 217px;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 16px;
  }

  &__sub-header {
    font-size: 16px;
    color: $color-text-helper;
    text-align: center;
    margin-bottom: 24px;
  }

  .answer-btn {
    width: 100%;

    @include tablets-up {
      margin: 0 0 24px 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
