@import '../../../../../styles/variables';
@import '../../../../../styles/breakpoint';
@import '../../../../../styles/functions';

.add-passport-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;

  @include tablets-up {
    background-color: $white;

    padding: 24px;
  }
}

.add-passport-screen__form {
  flex: 1 1 auto;

  width: 100%;
}

.form__name {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .inputs__field {
    flex-basis: calc(50% - 10px);

    .field__label {
      display: inline-block;
      margin-bottom: 8px;

      color: $dark-gray;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
