<app-navigation class="nav"></app-navigation>

<section class="add-passport-screen">
  <div class="add-passport-screen__header">
    <app-page-name>{{header}}</app-page-name>
  </div>

  <div class="add-passport-screen__form">
    <div class="form__name">
      Паспорт РФ
    </div>
    <form [formGroup]="passportForm" class="form__inputs">
      <div class="inputs__field">
        <app-label for="series">Серия</app-label>
        <lib-plain-input id="series" formControlName="series" type="number"></lib-plain-input>
      </div>
      <div class="inputs__field">
        <app-label class="field__label">
          Номер
        </app-label>
        <lib-plain-input formControlName="number" type="number"></lib-plain-input>
      </div>
    </form>
  </div>
</section>

