@import 'src/styles/core';

.nav {
  @include navigation-mt();
}

.add-passport-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  &__header {
    flex: 0 1 auto;
    width: 100%;
    margin-bottom: 40px;
  }
  &__label {
    margin-bottom: 20px;
    &::ng-deep label {
      @include typ-h5();
    }
  }
  &__form {
    flex: 1 1 auto;
    width: 100%;
    .form__name {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }

    .form__inputs {
      display: flex;
      justify-content: space-between;
      .inputs__field {
        flex-basis: calc(50% - 10px);
      }
    }
  }

  &__footer {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets-down {
      .add-passport-screen-footer__btn-submit {
        width: 100%;
      }
    }

    @include tablets-up {
      margin-top: 32px;
    }
  }

  @include tablets-up {
    background-color: $color-white;
    padding: 24px;
  }
}
