<section class="add-passport-screen">
  <div class="add-passport-screen__form">
    <div class="form__name">Паспорт РФ</div>
    <form [formGroup]="passportForm" class="form__inputs">
      <div class="inputs__field">
        <epgu-constructor-label for="series">Серия</epgu-constructor-label>
        <lib-plain-input
          epgu-constructor-trim
          epgu-constructor-text-transform
          [textTransformType]="textTransformType"
          id="series"
          formControlName="series"
          type="number"
        ></lib-plain-input>
      </div>
      <div class="inputs__field">
        <epgu-constructor-label class="field__label"> Номер </epgu-constructor-label>
        <lib-plain-input
          epgu-constructor-trim
          epgu-constructor-text-transform
          [textTransformType]="textTransformType"
          formControlName="number"
          type="number"
        ></lib-plain-input>
      </div>
    </form>
  </div>
</section>
