@import "../../../../../style/variables";
@import "../../../../../style/breakpoint";

:host {
  display: block;
}

button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: $white;
  border-radius: 4px;
  font-family: $primary_font;
  font-size: 14px;
  line-height: 20px;
  color: $blue;
  text-align: left;
  cursor: inherit;
  @include tablets-up {
    padding: 24px;
  }
}

.content {
  margin-right: auto;
}

.icon-arrow {
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url("/assets/icons/svg/arrow.svg");
  @include tablets-up {
    display: none;
  }
}
