<epgu-constructor-confirm-personal-user-screen-layout>
  <div class="body">
    <div class="flex-row">
      <epgu-constructor-label>{{ data.label }}</epgu-constructor-label>
    </div>

    <div class="error" *ngIf="screenService.componentError">
      {{ screenService.componentError }}
    </div>

    <div class="item">
      {{
        data.type === componentScreenComponentTypes.confirmPersonalUserPhone
          ? (data.value | formatPhone)
          : data.value
      }}
    </div>
  </div>

  <div
    class="footer"
    *ngIf="
      screenService.action.action === actionType.editPhoneNumber ||
      screenService.action.action === actionType.editEmail
    "
  >
    <div class="divider"></div>
    <button class="btn-edit" epgu-constructor-action [action]="screenService.action$ | async">
      <img
        class="btn-edit__icon"
        src="{{ config.staticDomainAssetsPath }}/assets/icons/svg/ion_pencil-outline.svg"
      />
      <span class="btn-edit__text">{{ (screenService.action$ | async).label }}</span>
    </button>
  </div>
</epgu-constructor-confirm-personal-user-screen-layout>
