@import "src/styles/core";



:host {
  display: block;
}

.info__head {
  margin-bottom: 24px;
}

.info__body {
  margin-bottom: 24px;
}

.divider {
  border: 0;
  background: $devider;
  height: 1px;
  margin: 0 0 24px;
}

.info__footer {
  text-align: center;
}
.info-footer__submit {
  display: inline-block;
  &::ng-deep button {
    min-width: 100px;
  }
}
