<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>
<epgu-constructor-screen-container>
  <form class="inner" [formGroup]="form">
    <div *ngIf="screenService.header$ | async as header" class="head">
      <epgu-constructor-page-name>{{ header }}</epgu-constructor-page-name>
    </div>

    <epgu-constructor-screen-pad class="body">
      <ng-container [ngSwitch]="screenService.componentType$ | async">
        <epgu-constructor-confirm-personal-user-address-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserRegAddr"
          [data]="screenService.component"
          [applicantAnswers]="screenService.applicantAnswers"
          (actionSelect)="nextStep()"
        ></epgu-constructor-confirm-personal-user-address-screen>

        <epgu-constructor-confirm-personal-user-data-screen
          *ngSwitchCase="isUserData()"
          [data]="screenService.component"
          [errors]="screenService.componentErrors"
        >
        </epgu-constructor-confirm-personal-user-data-screen>

        <epgu-constructor-confirm-personal-user-email-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserEmail"
          [data]="screenService.component"
          [errors]="screenService.componentErrors"
        >
        </epgu-constructor-confirm-personal-user-email-screen>

        <epgu-constructor-confirm-personal-user-phone-screen
          *ngSwitchCase="screenComponentName.confirmPersonalUserPhone"
          [data]="screenService.component"
          [errors]="screenService.componentErrors"
        >
        </epgu-constructor-confirm-personal-user-phone-screen>

        <epgu-constructor-temporary-registration-addr-screen
          *ngSwitchCase="screenComponentName.registrationAddr"
          (actionSelect)="nextStep()"
          [data]="screenService.component"
          [errors]="screenService.componentErrors"
        >
        </epgu-constructor-temporary-registration-addr-screen>

        <epgu-constructor-add-passport
          *ngSwitchCase="screenComponentName.passportLookup"
          [data]="screenService.component"
        ></epgu-constructor-add-passport>

        <epgu-constructor-country-selection
          *ngSwitchCase="screenComponentName.countryApostil"
          [form]="form"
          [data]="screenService.component"
          (changeComponentSettings)="changeComponentSettings($event)"
          (changeComponentData)="changedComponentData($event)"
        >
        </epgu-constructor-country-selection>

        <epgu-constructor-doc-input
          *ngSwitchCase="screenComponentName.docInput"
          [data]="screenService.component"
        ></epgu-constructor-doc-input>

        <epgu-constructor-select-children-screen
          *ngSwitchCase="screenComponentName.childrenListUnder14"
          [data]="screenService.component"
          (nextStepEvent)="nextStep()"
        ></epgu-constructor-select-children-screen>

        <epgu-constructor-select-children-screen
          *ngSwitchCase="screenComponentName.childrenListAbove14"
          [data]="screenService.component"
          (nextStepEvent)="nextStep()"
        ></epgu-constructor-select-children-screen>
      </ng-container>
    </epgu-constructor-screen-pad>

    <div class="footer">
      <ng-container
        *ngIf="(screenService.componentType$ | async) === screenComponentName.divorceConsent"
      >
        <lib-button
          *ngFor="let action of screenService.actions$ | async"
          epgu-constructor-action
          [action]="action"
          class="footer__btn-action"
          color="white"
        >
          <div class="secondary-font">
            {{ action.label }}
          </div>
        </lib-button>
      </ng-container>

      <lib-button
        *ngIf="componentSetting.displayContinueBtn && (screenService.isShown$ | async)"
        [showLoader]="screenService.isLoading$ | async"
        (click)="nextStep()"
        class="btn__submit"
        [disabled]="!currentAnswersService.isValid || (screenService.isLoading$ | async)"
      >
        <div class="secondary-font">
          {{ (screenService.submitLabel$ | async) || 'Продолжить' }}
        </div>
      </lib-button>

      <div *ngIf="componentSetting.displayWarningAnswers" class="footer__warning-answers">
        <epgu-constructor-answer-button
          (click)="nextStep()"
          [data]="{ label: 'Всё равно продолжить' }"
        >
        </epgu-constructor-answer-button>
        <epgu-constructor-answer-button
          class="footer__answer-btn"
          (click)="goToHomePage()"
          [data]="{ label: 'Вернуться в личный кабинет' }"
        >
        </epgu-constructor-answer-button>
      </div>
    </div>
  </form>
</epgu-constructor-screen-container>
