@import "../../../styles/core";


.body {
  display: flex;
  @include tablets-down {
    flex-grow: 1;
  }
  &::ng-deep > * {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  &__warning-answers {
    flex: 1;
  }

  &__answer-btn {
    margin-top: 24px;
  }
}

