<epgu-constructor-component-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenActionButtons]="screenActionButtons$ | async"
  [actionButtons]="actionButtons$ | async"
  [isShowActionBtn]="isShowActionBtn$ | async"
  [showNav]="screenService.showNav$ | async"
  [submitLabel]="screenService.submitLabel$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
  [nextStepAction]="nextStepAction"
>
  <epgu-constructor-component-resolver></epgu-constructor-component-resolver>

  <!--TODO придумать что делать с component-list-->
  <ng-container [ngSwitch]="screenService.componentType$ | async">
    <epgu-constructor-screen-pad
      class="screen-pad-body"
      *ngSwitchCase="screenComponentName.fieldList"
    >
      <epgu-constructor-field-list [data]="screenService.component"> </epgu-constructor-field-list>
    </epgu-constructor-screen-pad>

    <epgu-constructor-screen-pad class="screen-pad-body" *ngSwitchCase="screenComponentName.timer">
      <epgu-constructor-timer [data]="$any(screenService.component)"> </epgu-constructor-timer>
    </epgu-constructor-screen-pad>
  </ng-container>
</epgu-constructor-component-wrapper>
