<ng-container [ngSwitch]="screenService.componentType$ | async">
  <epgu-constructor-unused-payments
    *ngSwitchCase="uniqueComponentName.unusedPayments"
  ></epgu-constructor-unused-payments>
  <epgu-constructor-select-map-object
    *ngSwitchCase="uniqueComponentName.mapService"
  ></epgu-constructor-select-map-object>
  <epgu-constructor-file-upload-screen
    *ngSwitchCase="uniqueComponentName.fileUploadComponent"
  ></epgu-constructor-file-upload-screen>
  <epgu-constructor-upload-and-edit-photo
    *ngSwitchCase="uniqueComponentName.photoUploadComponent"
  ></epgu-constructor-upload-and-edit-photo>
  <epgu-constructor-employee-history
    *ngSwitchCase="uniqueComponentName.employeeHistory"
  ></epgu-constructor-employee-history>
  <epgu-constructor-repeatable-fields
    *ngSwitchCase="uniqueComponentName.repeatableFields"
  ></epgu-constructor-repeatable-fields>
  <epgu-constructor-time-slots
    *ngSwitchCase="uniqueComponentName.timeSlot"
  ></epgu-constructor-time-slots>
  <epgu-constructor-car-info
    *ngSwitchCase="uniqueComponentName.carInfo"
  ></epgu-constructor-car-info>
  <epgu-constructor-signature-application
    *ngSwitchCase="uniqueComponentName.signatureApplication"
  ></epgu-constructor-signature-application>
  <epgu-constructor-payment
    *ngSwitchCase="uniqueComponentName.paymentScr"
  ></epgu-constructor-payment>
  <epgu-constructor-bill-info
    *ngSwitchCase="uniqueComponentName.billInfo"
    (nextStepEvent)="nextDataForStep()"
  ></epgu-constructor-bill-info>
  <epgu-constructor-payment-type-selector
    *ngSwitchCase="uniqueComponentName.paymentTypeSelector">
  </epgu-constructor-payment-type-selector>
</ng-container>
