<ng-container [ngSwitch]="screenService.componentType$ | async">
  <epgu-constructor-unused-payments
    *ngSwitchCase="uniqueComponentName.unusedPayments"
    [data]="screenService.display"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-unused-payments>
  <epgu-constructor-select-map-object
    *ngSwitchCase="uniqueComponentName.mapService"
    [data]="screenService.component"
    [applicantAnswers]="screenService.applicantAnswers"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-select-map-object>
  <epgu-constructor-file-upload-screen
    *ngSwitchCase="uniqueComponentName.fileUploadComponent"
    [isLoading]="screenService.isLoading$ | async"
    [applicantAnswers]="screenService.applicantAnswers"
    [header]="screenService.header"
    [submitLabel]="screenService.submitLabel"
    [data]="screenService.component"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-file-upload-screen>
  <epgu-constructor-employee-history
    *ngSwitchCase="uniqueComponentName.employeeHistory"
    [header]="screenService.header"
    [gender]="screenService.gender"
    [display]="screenService.display"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-employee-history>
  <epgu-constructor-repeatable-fields
    *ngSwitchCase="uniqueComponentName.repeatableFields"
    [isLoading]="screenService.isLoading$ | async"
    [data]="screenService.display"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-repeatable-fields>
  <epgu-constructor-time-slots
    *ngSwitchCase="uniqueComponentName.timeSlot"
    [data]="screenService.display"
    [isLoading]="screenService.isLoading$ | async"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-time-slots>
  <epgu-constructor-car-info
    *ngSwitchCase="uniqueComponentName.carInfo"
    [display]="screenService.display"
    [isLoading]="screenService.isLoading$ | async"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-car-info>
  <epgu-constructor-confirm
    *ngSwitchCase="uniqueComponentName.timer"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-confirm>
  <epgu-constructor-signature-application
    *ngSwitchCase="uniqueComponentName.signatureApplication"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-signature-application>
  <epgu-constructor-payment
    *ngSwitchCase="uniqueComponentName.paymentScr"
    [header]="screenService.header"
    [data]="screenService.component"
    (nextStepEvent)="nextDataForStep()"
  ></epgu-constructor-payment>
  <epgu-constructor-upload-and-edit-photo
    *ngSwitchCase="uniqueComponentName.photoUploadComponent"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-upload-and-edit-photo>
</ng-container>
