<ng-container [ngSwitch]="screenStore.display?.components[0].type">
  <epgu-constructor-select-map-object
    *ngSwitchCase="uniqueComponentName.mapService"
    [data]="screenStore.display?.components[0]"
    [applicantAnswers]="screenStore.applicantAnswers"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-select-map-object>
  <epgu-constructor-file-upload-screen
    *ngSwitchCase="uniqueComponentName.fileUploadComponent"
    [isLoading]="screenService.isLoading$ | async"
    [applicantAnswers]="screenStore.applicantAnswers"
    [header]="screenStore.display?.header"
    [submitLabel]="screenStore.display?.submitLabel"
    [data]="screenStore.display?.components[0]"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-file-upload-screen>
  <epgu-constructor-employee-history
    *ngSwitchCase="uniqueComponentName.employeeHistory"
    [header]="screenStore.display?.header"
    [gender]="screenStore.gender"
    [display]="screenStore.display"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-employee-history>
  <epgu-constructor-repeatable-fields
    *ngSwitchCase="uniqueComponentName.repeatableFields"
    [isLoading]="screenService.isLoading$ | async"
    [data]="screenStore.display"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-repeatable-fields>
  <epgu-constructor-time-slots
    *ngSwitchCase="uniqueComponentName.timeSlot"
    [data]="screenStore.display"
    [isLoading]="screenService.isLoading$ | async"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-time-slots>
  <epgu-constructor-car-info
    *ngSwitchCase="uniqueComponentName.carInfo"
    [display]="screenStore.display"
    [isLoading]="screenService.isLoading$ | async"
    (nextStepEvent)="nextDataForStep($event)"
  ></epgu-constructor-car-info>
  <epgu-constructor-confirm-marriage
    *ngSwitchCase="uniqueComponentName.confirmMarriage"
    [data]="screenStore.display"
    [isLoading]="screenService.isLoading$ | async"
    (nextStepEvent)="nextDataForStep($event)">
  </epgu-constructor-confirm-marriage>
  <epgu-constructor-payment
    *ngSwitchCase="uniqueComponentName.paymentScr"
    [header]="screenStore.display?.header"
    [data]="screenStore.display.components[0]"
    (nextStepEvent)="nextDataForStep()"
  ></epgu-constructor-payment>
  <epgu-constructor-confirm-phone
    *ngSwitchCase="uniqueComponentName.phoneNumberConfirmCodeInput">
  </epgu-constructor-confirm-phone>
  <epgu-constructor-confirm-email
    *ngSwitchCase="uniqueComponentName.ConfirmNewEmail">
  </epgu-constructor-confirm-email>
  </ng-container>
