<div>
  <h5 class="info-list-title">Технические данные</h5>

  <div class="car-info-group">
    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Марка и модель"
      [value]="
        vehicleInfo.modelMarkName
          | modelMarkName: vehicleInfo.markName:vehicleInfo.modelName
          | defaultValue
      "
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Госномер"
      [value]="vehicleInfo.govRegNumber | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Год выпуска"
      [value]="vehicleInfo.manufacturedYear | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Изготовитель"
      [value]="vehicleInfo.manufacturer | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Идентификационный номер (VIN)"
      [value]="vehicleInfo.vin | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Идентификационный номер (VIN2)"
      [value]="vehicleInfo.vin2 | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Номер шасси (рамы)"
      [value]="vehicleInfo.chassisNumber | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Номер кузова (кабины)"
      [value]="vehicleInfo.carcaseNumber | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Цвет кузова (кабины)"
      [value]="vehicleInfo.carcaseColor | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Рабочий объём (куб.см)"
      [value]="vehicleInfo.engineVolume | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Модель двигателя"
      [value]="vehicleInfo.engineModel | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Тип топлива"
      [value]="vehicleInfo.engineType | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Мощность (кВТ/л.с.)"
      [value]="vehicleInfo.enginePowerVt | enginePower: vehicleInfo.enginePowerHorse | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Тип транспортного средства"
      [value]="vehicleInfo.vehicleType | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Категория"
      [value]="vehicleInfo.category | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Категория (Там. Союз)"
      [value]="vehicleInfo.vehicleTypeTAM | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Экологический класс"
      [value]="vehicleInfo.ecologyClass | ecologyClass | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Газобаллонное оборудование"
      [value]="vehicleInfo.category | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Положение руля"
      [value]="vehicleInfo.wheelLocationDesc | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Тип коробки передач"
      [value]="vehicleInfo.transmissionTypeDesc | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Тип привода"
      [value]="vehicleInfo.driveUnitTypeDesc | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Серия и номер одобрения типа"
      [value]="vehicleInfo.approveSerNum | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Статус утилизационного сбора"
      [value]="vehicleInfo.utilizStatus | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="ТД, ТПО"
      [value]="vehicleInfo.tdtpo | defaultValue"
    ></epgu-constructor-info-list-item>

    <epgu-constructor-info-list-item
      class="info-list-group-item"
      label="Таможенные ограничения"
      [value]="vehicleInfo.customsRestrictions | yesNo | defaultValue"
    ></epgu-constructor-info-list-item>
  </div>

  <div class="divider info-list-divider"></div>
</div>
