@import "variables";
@import "breakpoint";

@mixin shadow {
  box-shadow: 0 24px 48px rgba(230, 235, 245, 0.4);
}

@mixin btn--light {
  background: $white;
  color: $egyptian-blue;
  &:hover {
    background: $royal-blue;
    color: $white;
  }
  &:active {
    background: $egyptian-blue;
    color: $white;
  }
}
@mixin btn--primary {
  background: $denim;
  color: $white;
  &:hover {
    background: $royal-blue;
  }
  &:active {
    background: $egyptian-blue;
    color: $white;
  }
}

@mixin first-letter-uppercase {
  &:first-letter {
    text-transform: uppercase;
  }
}

%submit-button-margin {
  margin-top: 8px;
  @include tablets-up {
    margin-top: 32px;
  }
}
