// Variables

// Color system
// New brand colors
$white: #FFFFFF;
$black: #000000;
$summer-night: #0B1F33; // brand black
$text-helper: #66727F;
$gosblue: #0D4CD3;
$gosred: #EE3F58;
$giallo-brillante: #FED13E;
$green-sea: #16A086;
$input: #F5F7FA;
$devider: #99B1E6;
$error-highlight: #EE3F58;
$shadow: #E6EBF5;
$background: #FAFCFF;
$bg-disabled: #D1D5DF;
$active-item: #1D5DEB;
$tag-line: #1D5DEB;
$button-disabled: #E5EAF5;
$tagline-hit: #1D5DEB;
$nephritis: #2DC36A;
$button-hit: #0B40B3;

// Depricated brand colors
$egyptian-blue: #0B40B3;
$royal-blue: #1D5DEB;
$denim: #0D4CD3;
$nero: #292929;
$storm-gray: #76767A;
$quartz: #CED9F0;
$gray: #979CA1;
$light-gray: #F3F5FB;
$dark-gray: #515A63;
$cyprus: #0B1F33;
$pattens-blue: #F9FBFD;
$perano: #99B1E6;
$perano2: #9DB3E1;
$hawkes-blue: #E5EAF5;
$solitude: #F5F7FA;
$box-shadow-color: #E6EBF5;

// Fonts
$primary_font: Lato;

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$font-dflt: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-extra: 36px;

// Border
$border-xl: 12px;
$border-lg: 8px;
$border-md: 4px;
$border-sm: 2px;
$border-round: 12px;

// Other
$screen-pad-p: 24px;
