// Variables

// Color system
// New brand colors
$white: #ffffff;
$black: #000000;
$summer-night: #0b1f33; // brand black
$text-helper: #828c9a;
$gosblue: #0d4cd3;
$gosred: #ee3f58;
$giallo-brillante: #fed13e;
$green-sea: #16a086;
$input: #f5f7fa;
$devider: #99b1e6;
$error-highlight: #ee3f58;
$shadow: #e6ebf5;
$background: #fafcff;
$bg-disabled: #d1d5df;
$active-item: #1d5deb;
$tag-line: #1d5deb;
$button-disabled: #e5eaf5;
$tagline-hit: #1d5deb;
$nephritis: #2dc36a;
$button-hit: #0b40b3;
$color-cornflower: #99b1e6;
$color-hawkes-blue: #d6e2fb;
$color-zircon: #fafcff;

// Depricated brand colors
$egyptian-blue: #0b40b3;
$royal-blue: #1d5deb;
$denim: #0d4cd3;
$nero: #292929;
$storm-gray: #76767a;
$quartz: #ced9f0;
$gray: #979ca1;
$light-gray: #f3f5fb;
$dark-gray: #515a63;
$cyprus: #0b1f33;
$pattens-blue: #f9fbfd;
$perano: #99b1e6;
$hawkes-blue: #e5eaf5;
$solitude: #f5f7fa;
$box-shadow-color: #e6ebf5;

// Fonts
$primary_font: Lato;

// Font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$font-dflt: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-extra: 36px;

// Border
$border-xl: 12px;
$border-lg: 8px;
$border-md: 4px;
$border-sm: 2px;
$border-round: 12px;

// Other
$screen-pad-p: 24px;
