@import "core";

// TODO: remove all normalize css styles, it may affect app's style
// stylelint-disable

.epgu-form-player {
  margin-bottom: 40px;
  color: $color-summer-night;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    @include typ-h1;
  }

  h2 {
    @include typ-h2;
  }

  h3 {
    @include typ-h3;
  }

  h4 {
    @include typ-h4;
  }

  h5 {
    @include typ-h5;
  }

  h6 {
    @include typ-h6;
  }

  p {
    @include typ-plain-text;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  small, label {
    @include typ-plain-small;
  }

  sub {
    font-size: $font-xs;
    line-height: 16px;
  }
  a {
    text-decoration: none;
    color: $color-button-hit;
    cursor: pointer;
  }

  button {
    background: none;
    border: 0;
  }

  strike {
    color: $color-text-helper;
  }

  blockquote {
    background: rgba(11, 64, 179, 0.1);
    border: 1px solid $color-button-hit;
    box-sizing: border-box;
    border-radius: $border-md;
  }

  .divider {
    border: 0;
    background: $color-devider;
    height: 1px;
  }
  // Implement styleguide for all library's components
  @import "components";
}
