@import 'core';
// Implement styleguide for all library's components
@import 'components/index.scss';

// TODO: remove all normalize css styles, it may affect app's style
// stylelint-disable

.epgu-form-player {
  @import 'core/class';
  @include flex-container();
  color: $color-summer-night;
  font-family: $font-main;
  height: 100%;

  & .loader {
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    word-wrap: break-word;
  }

  h1 {
    @include typ-h1;
  }

  h2 {
    @include typ-h2;
  }

  h3 {
    @include typ-h3;
  }

  h4 {
    @include typ-h4;
  }

  h5 {
    @include typ-h5;
  }

  h6 {
    @include typ-h6;
  }

  p {
    @include typ-plain-text;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  small,
  label {
    @include typ-plain-small;
  }

  .bold,
  b,
  strong {
    font-weight: $fw-bold;
  }

  .helper-text {
    @include typ-plain-small;
    color: $color-text-helper;
  }

  .text--center {
    text-align: center;
  }

  .text--right {
    text-align: right;
  }

  sub {
    font-size: $font-xs;
    line-height: 16px;
  }
  a {
    text-decoration: none;
    color: $color-gosblue;
    cursor: pointer;

    &:hover {
      color: $color-active-item;
    }
  }

  button {
    font-family: inherit;
  }

  strike {
    color: $color-text-helper;
  }

  blockquote {
    background: rgba(11, 64, 179, 0.1);
    border: 1px solid $color-button-hit;
    box-sizing: border-box;
    border-radius: $border-md;
  }

  .divider {
    background: $color-divider;
    border-top: 1px solid $color-divider;
  }

  .submit-button {
    min-width: 100%;
    @include tablets-up {
      width: auto;
      min-width: auto;
    }
    button {
      width: 100%;
      min-width: 100px;
      @include tablets-up {
        width: inherit;
      }
    }
  }

  /* Utility classes */

  .text-color {
    &--white {
      color: $color-white;
    }
    &--gosblue {
      color: $color-gosblue;
    }
    &--gosred {
      color: $color-gosred;
    }
    &--tela-rossa {
      color: $color-tela-rossa;
    }
    &--summer-night {
      color: $color-summer-night;
    }
    &--input {
      color: $color-input;
    }
    &--divider {
      color: $color-divider;
    }
    &--error-highlight {
      color: $color-error-highlight;
    }
    &--shadow {
      color: $color-shadow;
    }
    &--background {
      color: $color-background;
    }
    &--bg-disabled {
      color: $color-bg-disabled;
    }
    &--text-helper {
      color: $color-text-helper;
    }
    &--active-item {
      color: $color-active-item;
    }
    &--giallo-brillante {
      color: $color-giallo-brillante;
    }
    &--giallo-selezionato {
      color: $color-giallo-selezionato;
    }
    &--tag-line {
      color: $color-tag-line;
    }
    &--button-disabled {
      color: $color-button-disabled;
    }
    &--button-hover {
      color: $color-button-hover;
    }
    &--tagline-hit {
      color: $color-tagline-hit;
    }
    &--nephritis {
      color: $color-nephritis;
    }
    &--green-sea {
      color: $color-green-sea;
    }
    &--button-hit {
      color: $color-button-hit;
    }
  }

  .block {
    &--with-icon {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 16px;
      & > img {
        flex: 0 0 auto;
        max-width: 25px;
        margin-right: 17px;
        margin-bottom: 0;
        @include phones-down {
          margin-top: 4px;
        }
      }
    }
    &--content-centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--description {
      background: $color-selago;
      border: none;
      border-top: 3px solid $color-gosblue;
      border-radius: 3px 3px 0 0;
      padding: 16px 42px 16px 16px;
      margin-top: 8px;
      position: relative;
      @include phones-down {
        padding: 16px 28px 16px 16px;
      }
      &--close {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 12px;
        height: 12px;
        cursor: pointer;
        z-index: 2;
    
        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          left: 5px;
          background: $color-gosblue;
          transform: rotate(45deg);
        }
    
        &:before {
          transform: rotate(45deg);
        }
    
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .container {
    width: 100%;
    max-width: 592px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .title {
    &--header {
      margin-bottom: 16px;
    }
  }

  .screen-container-mt {
    margin-top: $navigation-mb;
  }

  .screen-pad-body {
    display: flex;
    @include tablets-down {
      flex-grow: 1;
    }
    & > * {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  }
}
