@import '~@epgu/epgu-constructor-ui-kit/src/styles/core';

// Implement styleguide for all library's components
@import '~@epgu/epgu-constructor-ui-kit/src/styles/components';

// TODO: remove all normalize css styles, it may affect lib's style
// stylelint-disable

.epgu-form-player {
  counter-reset: section;
  @import '~@epgu/epgu-constructor-ui-kit/src/styles/core/class';
  @include flex-container();
  color: $color-summer-night;
  font-family: $font-main;
  min-width: 320px;
  height: 100%;
}

.hint-text, p.hint-text {
  font-size: $font-sm;
  line-height: $font-lg;
  margin-top: 4px;
  color: $color-text-helper;
}

::ng-deep .notifiers-list .notifier {
  box-shadow: none !important;
}