<epgu-constructor-navigation class="nav"></epgu-constructor-navigation>

<epgu-constructor-screen-container class="screen-container">
  <epgu-constructor-screen-pad>
    <epgu-constructor-page-name>{{ screenService.header }}</epgu-constructor-page-name>

    <div class="data-group">
      <div *ngIf="value.place" class="data-item">
        <div class="data-item__label">{{ screenService.component.attrs.place.label }}</div>
        <div class="data-item__value">{{ value.place }}</div>
      </div>

      <div *ngIf="value.address" class="data-item">
        <div class="data-item__label">{{ screenService.component.attrs.address.label }}</div>
        <div class="data-item__value">{{ value.address }}</div>
      </div>

      <div *ngIf="value.ceremonyType" class="data-item">
        <div class="data-item__label">{{ screenService.component.attrs.ceremonyType.label }}</div>
        <div class="data-item__value">{{ value.ceremonyType }}</div>
      </div>

      <div *ngIf="value.time" class="data-item">
        <div class="data-item__label">{{ screenService.component.attrs.time.label }}</div>
        <div class="data-item__value">{{ value.time | date:'dd LLLL, EEEE, HH:mm'}}</div>
      </div>

      <div *ngIf="screenService.componentLabel" class="data-item">
        <div class="data-item__info">{{ this.screenService.componentLabel }}</div>
      </div>

      <epgu-constructor-timer [timer]="timer"></epgu-constructor-timer>
    </div>
  </epgu-constructor-screen-pad>

  <div class="footer">
    <lib-button
      [showLoader]="screenService.isLoading$ | async"
      (click)="nextStep()"
      class="btn__submit"
    >
      {{ screenService?.submitLabel || 'Продолжить' }}
    </lib-button>
  </div>
</epgu-constructor-screen-container>
