@import "../../../../../../styles/core";

.nav {
  @include navigation-mt();
}

.screen-container {
  padding: 0 16px;
}

.data-group {
  font-size: 16px;
  line-height: 24px;
}

.data-item {
  margin-bottom: 24px;

  &__label {
    color: $color-summer-night;
    margin-bottom: 12px;
  }

  &__value {
    color: $color-gosblue;
  }

  &__info {
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}


