@import "../../../../../styles/variables";
@import "../../../../../styles/functions";
@import "../../../../../styles/breakpoint";

:host {
  display: block;
  cursor: pointer;
}

.answer-btn {
  display: flex;
  width: 100%;
  padding: 24px 32px;
  background: $white;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: $egyptian-blue;
  border-radius: $border-xl;
  cursor: pointer;
  @include shadow-main();
  @include tablets-up {
    padding: 24px 32px;
  }

  &:focus,
  &:active {
    outline: none;
    border: 1px dashed $color-cornflower;
    @include tablets-up {
      padding: 23px 31px;
    }
  }

  &__hint {
    // ToDo убрать, как доработают компонент epgu-lib
    lib-question-help-tip {
      display: flex;
    }
    margin-left: auto;
  }

  &__icon {
    flex-shrink: 0;
    margin-left: 10px;
  }
}
