@import '~@epgu/epgu-constructor-ui-kit/src/styles/core';

.config {
  margin: 40px auto;
  max-width: 592px;
  width: 100%;
  padding: 16px;

  &__input {
    margin-bottom: 20px;

    label {
      display: block;
      text-align: left;
      color: $color-summer-night;

      @include typ-plain-small;
    }
  }

  &__cta-wrapper {
    text-align: right;
  }

  &__cta {
    display: inline-block;
    margin: 10px 0 0 10px;
  }
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
