<form class="config" [formGroup]="configForm">
  <div class="config__input" *ngFor="let fieldName of fieldsName">
    <label [for]="fieldName">{{ fieldName }}</label>
    <lib-plain-input epgu-constructor-trim id="series" [formControl]="configForm.get(fieldName)"></lib-plain-input>
  </div>

  <div class="config__cta-wrapper">
    <lib-button class="config__cta" color="white" (click)="resetConfig()">Вернуть дефолтные</lib-button>
    <lib-button class="config__cta" (click)="saveConfig()">Сохранить</lib-button>
  </div>
</form>
