<div class="card">
  <div class="card__wrapper">
    <div *ngIf="!isSingleChild" class="card__header">
      <div class="card__title">Ребенок {{ idx + 1 }}</div>
      <div class="card__close" *ngIf="isMoreThanOneChild">
        <button (click)="removeChild()" class="button-close">
          <div class="icon-close"></div>
        </button>
      </div>
    </div>
    <div class="card__content">
      <div>
        <epgu-constructor-label for="{{ idx }}" label="Выберите ребенка из вашего профиля">
        </epgu-constructor-label>
      </div>
      <div class="card__select">
        <ng-content></ng-content>
        <epgu-constructor-helper-text *ngIf="hint">
          {{ hint }}
        </epgu-constructor-helper-text>
      </div>
    </div>
  </div>
</div>
