@import "./app/styles/variables";
@import "./app/styles/fonts";
@import "./app/styles/icons";
@import "./app/styles/buttons";
@import "./app/styles/utilities";


*, *:before, *:after {
  box-sizing: border-box;
  font-family: $primary_font, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  color: $cyprus;
  background-color: $alice-blue;
}

h1 {
  margin: 0
}

a {
  text-decoration: none;
  color: $egyptian-blue;
}

button {
  background: none;
  border: 0;
}
