:root {
  --color-white: #FFFFFF;
  --color-white-contrast: #000000;
  --color-black: #000000;
  --color-black-contrast: #FFFFFF;

  --color-summer-night: #0B1F33;
  --color-bg-disable: #D1D5DF;
  --color-gosblue: #0D4CD3;
  --color-gosred: #EE3F58;
  --color-button-hit: #0B40B3;
  --color-bg-requirements: #F3F5FB;
  /* TODO: add the rest colors */
}
