@import "../../../../styles/breakpoint";
@import "../../../../styles/variables";

.confirm-created-request__header {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  border-radius: 4px;

  background-color: $light-gray;

  .header__icon-block {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 80px;
    width: 80px;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background-color: $quartz;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      background-color: $light-gray;
    }


    .check-icon {
      position: absolute;
      display: block;
      height: 26px;
      width: 36px;
      left: 21.7px;
      right: 22.1px;
      z-index: 1;

      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.confirm-created-request__content {
  flex: 1 1 auto;

  font-family: $secondary_font;

  text-align: center;
}

@include tablets-down {
  .confirm-created-request__header {
    padding: 32px 16px 0 16px;

    .header__description {
      margin-top: 24px;
    }
  }

  .confirm-created-request__content {
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    padding: 19px 16px 32px 19px;
  }
}

@include tablets-up {
  .confirm-created-request__header {
    padding: 32px 24px;

    .header__description {
      margin-top: 32px;
    }
  }

  .confirm-created-request__content {
    font-size: 16px;
    line-height: 24px;

    padding: 32px 24px;
  }
}
