@import "../core/palettes";
@import '../core/functions';

.card-toggle-pad{
  padding: $screen-pad-p;
  border-radius: $border-xl;
  @include shadow-second();
  @include tablets-up {
    padding: $screen-pad-p;
    @include shadow-main();
  }
}

.card-toggle {
  width: 100%;
  overflow: hidden;
  &-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    line-height: 24px;
    &::after {
      content: "\276F";
      width: 24px;
      height: 24px;
      text-align: center;
      transition: all .35s;
      background: rgb(228, 236, 253);
      border-radius: 50%;
      font-size: 12px;
      font-weight: 400;
      color: $color-gosblue;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
    }
    & .card-toggle-label{
      max-width: 90%;
      display: flex;
      font-size: 18px;
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  &-content {
    max-height: 0;
    transition: all .35s;
    font-size: 16px;
    padding: 0;
    .close {
      display: inline-block;
      color: $color-gosblue;
      font-size: 16px;
      margin-top: 24px;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked {
    + .card-toggle-header::after {
      transform: rotate(-90deg);
    }
    ~ .card-toggle-content {
      max-height: 100vh;
      padding-top: 24px;
    }
  }
}

.card-toggle,
.card-toggle-pad {
  background: $color-white;
  &:not(:last-child){
    margin-bottom: 24px;
  }
}
