@import "./../core/palettes";

.icon-arrow,
.icon-arrow-white {
  display: inline-block;
  width: 14px;
  height: 20px;
}
.icon-arrow {
  transform: rotate(-45deg);
  border: solid $color-button-hit;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  height: 7px;
  width: 7px;

  &.disabled {
    border-color: $color-button-hover;
  }
}

.icon-arrow-white {
  background-image: url('../assets/icons/svg/arrow-forward.svg');
}

.icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/svg/close.svg');
}
