@import "./../core/palettes";
@import '../core/typography';

.info-list-title {
  margin-bottom: 12px;
}

.info-list-subtitle {
  @include typ-plain-text;
  color: $color-text-helper;
  margin-bottom: 4px;
}

.info-list-value {
  @include typ-plain-text;
}

.info-list-group-item:not(:last-child) {
  margin-bottom: 16px;
}

.info-list-divider {
  margin: 24px 0;
}

.info-list-warning-icon {
  width: 24px;
  height: 4px;
  margin-right: 8px;
}

.info-list-yellow-warning-icon {
  background: $color-giallo-brillante;
}
.info-list-red-warning-icon {
  background: $color-gosred;
}

.info-list-warning-group-item {
  margin-top: 24px;
}

.info-list-warning-title {
  @include typ-h6;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.info-list-warning-text {
  @include typ-plain-small;
  color: $color-text-helper;
}


