@import "../core/palettes";
@import "../core/breakpoint";

.modal {
  &__close {
    float: right;
    width: 16px;
    height: 16px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background: $color-button-hit;
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    padding-right: 50px;
    color: $color-summer-night;

    @include typ-h3;
  }
}

.conf-modal .ps-content {
  max-height: 420px;
  padding-bottom: 2px; // hack for avoid overlapping of buttons

  @include tablets-down {
    max-height: inherit;
  }
}
