@import '../../../styles/core/palettes';
@import '../../../styles/core/typography';
@import '../../../styles/core/variables';
@import '../../../styles/core/functions';

.form {
  &__item {
    margin-bottom: $screen-pad-p;

    &--date {
      width: 50%;

      @include phones-down {
        width: 100%;
      }
    }
  }

  &__hint {
    @include first-letter-uppercase();
    margin: 4px 4px 0 0;
    color: $color-blue-bayoux;
    @include typ-plain-small();
  }

  &__error {
    margin-bottom: 4px;
    color: $color-gosred;
  }
}

.label {
  margin-bottom: $screen-pad-p;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
