@import '../../../styles/core/palettes';
@import '../../../styles/core/typography';
@import '../../../styles/core/variables';
@import '../../../styles/core/functions';
@import '../../../styles/components/rubles';

// test
.form {
  &__item {
    margin-bottom: $screen-pad-p;

    &:not(:first-child) {
      margin-bottom: 0;
    }


    &__hint {
      @include first-letter-uppercase();
      margin: 4px 4px 0 0;
      color: $color-blue-bayoux;
      @include typ-plain-small();
    }

    &--date {
      width: 50%;

      @include phones-down {
        width: 100%;
      }
    }
  }
  &__title {
    font-size: 14px;
    font-family: $font-main;
    line-height: 20px;
    color: $color-summer-night;
    margin-bottom: 4px;
  }
  &__error {
    margin-top: 4px;
    color: $color-gosred;
  }
  &__radio {

    &__block {
      margin-top: $screen-pad-p;
      display: inline-block;

      lib-radio {
        display: block;
        margin-bottom: 16px;
      }

      lib-checkbox {
        display: block;
        margin-bottom: 16px;

        &::ng-deep .labelText{
          line-height: 24px;
        }

        &:first-child {
          margin-top: 4px;
        }
      }
    }
    &__inline {
      margin-top: $screen-pad-p;
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: $screen-pad-p;
      }

      @include phones-down {
        display: block;
      }
    }
  }
}

.label {
  margin-bottom: $screen-pad-p;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

@include rubles('.custom__screen-html', '../../../../../src/assets/img/ruble.svg');
