@import '../../../../styles/core/palettes';
@import '../../../../styles/core/typography';
@import '../../../../styles/core/variables';
@import '../../../../styles/core/functions';

.form {
  &__hint {
    @include first-letter-uppercase();
    display: block;
    margin-top: 4px;
    color: $color-text-helper;
    @include typ-plain-small();
  }

  &__error {
    margin-bottom: 4px;
    color: $color-gosred;
  }

  &__info {
    margin-top: 8px;
  }
}

.label {
  margin-bottom: $screen-pad-p;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
