@import '../../../../styles/core/index';

:host {
  display: block;
}
:host::ng-deep {
  & > * {
    margin: 0;
    line-height: 24px;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  & img {
    max-width: 200px;
    margin-bottom: 24px;
    &.width--auto {
      max-width: 100%;
      width: auto;
    }
    @include tablets-down {
      max-width: 66%;
    }
  }

  ol {
    counter-reset: number;
  }

  li {
    line-height: 24px;
    &:first-letter {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  ul,
  ol {
    padding: 0;
    margin: 0 0 0 12px;
    list-style: none;

    &:not(:first-child) {
      margin: 24px 0 0 12px;
    }
  }

  ol li {
    padding-left: 24px;
    position: relative;

    &::before {
      counter-increment: number;
      content: counter(number) '.';
      color: $color-blu-digitale;
      font-weight: $fw-bold;
      position: absolute;
      left: 0;
    }
  }

  ul li {
    padding-left: 16px;

    &::before {
      color: $color-blu-digitale;
      content: '•';
      display: inline-block;
      font-weight: 900;
      margin-left: -1em;
      width: 1em;
      vertical-align: top;
      font-size: 17px;
    }
  }

  li:not(:first-child) {
    margin-top: 12px;
  }

  p {
    margin-top: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .yellow-line {
    &::before {
      background-image: url('../../../../assets/icons/svg/yellow-line.svg');
      content: "";
      display: inline-block;
      margin-right: 8px;
      width: 24px;
      height: 4px;
      position: relative;
      bottom: 3px;
    }
  }
}
