@import 'src/styles/core';

:host {
  display: block;
}
:host::ng-deep {
  & > * {
    margin: 0;
    line-height: 24px;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }

  li {
    padding-left: 16px;
    line-height: 24px;

    &:first-letter {
      text-transform: uppercase;
    }
    &:not(:first-child) {
      margin-top: 16px;
    }

    &::before {
      color: $color-gosblue;
      content: "•";
      display: inline-block;
      font-weight: 900;
      margin-left: -1em;
      width: 1em;
      vertical-align: top;
      font-size: 17px;
    }
  }

  .label {
    @include first-letter-uppercase();
    margin-top: 16px !important;
    margin-bottom: 0 !important;
    color: $color-blue-bayoux;
    @include typ-plain-small();
    font-size: 16px;
  }

  .value {
    margin-top: 8px !important;
  }

  .title {
    margin-top: 24px !important;
    margin-bottom: 0 !important;
  }
}


