@import '../../../../../../../styles/core/index';

:host {
  display: block;
}

.item {
  &--date {
    display: block;
    width: 50%;

    @include phones-down {
      width: 100%;
    }
  }

  &__label {
    font-size: 14px;
    color: $color-black;
    line-height: 20px;
  }
}

.title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  &:first-letter {
    text-transform: uppercase;
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.button-change {
  font-size: $font-sm;
  flex: 0 0 auto;
  margin-left: auto;
}

.content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 14px 16px;
  background: $color-input;
  &__input {
    padding: 0;
  }
}

.error {
  font-size: $font-sm;
  color: $color-gosred;
  margin-top: 7px;
}

//HARDCODE
.edit-item {
  position: relative;
  top: 19px;
}
