@import 'src/styles/core';

:host {
  @include flex-container();
  width: 100%;
}

.container {
  @include flex-container();
  flex-grow: 0;
  @include tablets-down {
    flex-grow: 1;
  }
}

.form-player__navigation {
  @include navigation-mt();
}

:host::ng-deep .screen-body {
  margin-bottom: 24px;

  @include tablets-up {
    margin-bottom: 20px;
  }
}

:host::ng-deep .screen-footer {
  $footer-item-mx: 16px;
  $footer-mt: 20px;
  $footer-mb: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include tablets-up {
    margin-left: -$footer-item-mx;
    margin-right: -$footer-item-mx;
  }
  & > * {
    width: 100%;
    margin-bottom: $footer-mb;
    @include tablets-up {
      width: auto;
      margin-top: $footer-mt;
      margin-left: $footer-item-mx;
      margin-right: $footer-item-mx;
    }
  }
  & > .social-share {
    max-width: 335px;
    width: 100%;
  }
}

.screen-footer-to-bottom :host::ng-deep .screen-footer {
  margin-top: auto;
}
