@import "src/styles/core";

:host {
  display: block;
  width: 100%;
}

.container {
  max-width: 592px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;

  @include tablets-up {
    min-height: auto;
    padding: 0;
  }
}
