<epgu-constructor-label>{{ data.label }}</epgu-constructor-label>
<lib-plain-input
  [invalid]="invalid"
  [name]="data.id"
  (change)="onChange($event)"
  [validationShowOn]="validationShowOn"
  [maxlength]="maxlength"
></lib-plain-input>
<div *ngIf="data.attrs?.hint" class="form__item-hint">
  {{ data.attrs?.hint }}
</div>
<epgu-constructor-helper-text *ngIf="!data.required">
  {{ helperText }}
</epgu-constructor-helper-text>
<div class="form__error">
  <small *ngIf="invalid">{{ errorMessage }} </small>
</div>
