@import '../../../../../../../styles/core/palettes';
@import '../../../../../../../styles/core/functions';
@import '../../../../../../../styles/core/typography';

.employee-history {
  &__generation {
    @include shadow-second();
    border-radius: $border-xl;
    padding: $screen-pad-24;
    margin-bottom: $screen-pad-24;
    background: $color-white;

    .icon-close {
      display: flex;
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__footer {
    &__msg {
      color: $color-gosred;
      padding: $screen-pad-24;
    }
  }

  &__removeGeneration {
    .button-close {
      background: none;
      cursor: pointer;
      border: 0;
    }
  }

  &__error-date {
    margin-top: 8px;

    & span {
      @include typ-h6();
    }

    & div {
      @include typ-plain-small();
      color: $color-tela-rossa;
      margin-top: 4px;
      margin-bottom: 12px;
    }
  }

  &__error {
    margin-bottom: 4px;
    color: $color-gosred;
  }

  &__type {
    display: flex;

    & > div:not(.employee-history__removeGeneration) {
      flex: 0 1 auto;
    }

    lib-radio {
      display: block;
      margin-bottom: 16px;
      &::ng-deep > .radio {
        cursor: pointer;
      }
    }
  }

  &__date {
    &__hint {
      display: none;
    }

    & > div:first-child {
      margin-bottom: $screen-pad-24;
    }

    @include phones-up() {
      display: flex;

      & > div {
        flex: 1;

        &:first-child {
          margin-bottom: 0;
        }

        &:not(:first-child) {
          margin-left: $screen-pad-24;
        }
      }

      &__hint {
        color: $color-text-helper;
        @include typ-plain-small();
        margin-top: 8px;
        display: block;
      }
    }
  }

  &__date,
  &__input {
    margin-bottom: $screen-pad-24;
  }

  &__newGeneration {
    text-align: center;
  }
}
