<epgu-constructor-default-unique-screen-wrapper
  [header]="screenService.header$ | async"
  [isLoading]="screenService.isLoading$ | async"
  [screenActionButtons]="screenService.buttons$ | async"
  [actionButtons]="screenService.actions$ | async"
  [isShowActionBtn]="false"
  [showNav]="screenService.showNav$ | async"
  [submitLabel]="screenService.submitLabel$ | async"
  [isValid]="currentAnswersService.isValid$ | async"
  [nextStepAction]="nextStepAction"
>
  <epgu-constructor-appeal-fines
  [components]="components$ | async"
  (updateCurrentAnswerServiceEvent)="updateCurrentAnswers($event)"
  >
  </epgu-constructor-appeal-fines>
</epgu-constructor-default-unique-screen-wrapper>


