$screen-sm-max: 575.98px;
$screen-sm-min: 576px;
$screen-md-max: 767.98px;
$screen-md-min: 768px;
$screen-lg-max: 991.98px;
$screen-lg-min: 992px;
$screen-xl-max: 1199.98px;
$screen-xl-min: 1200px;

// <----------- START breakpoint up
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
@mixin phones-up() {
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin tablets-up() {
  // Medium devices (tablets, 768px and up)
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin laptop-up() {
  // Large devices (desktops, 992px and up)
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin desktops-up() {
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $screen-xl-min) {
    @content;
  }
}

// <----------- END

// <----------- START breakpoint down
@mixin phones-down() {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin tablets-down() {
  // Small devices (landscape phones, less than 768px)
  @media (max-width: $screen-md-max) {
    @content;
  }
}

@mixin laptop-down() {
  // Medium devices (tablets, less than 992px)
  @media (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin desktops-down() {
  // Large devices (desktops, less than 1200px)
  @media (max-width: $screen-xl-max) {
    @content;
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// <----------- END

// <----------- START breakpoint only
@mixin portrait-phones-only() {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin landscape-phones-only() {
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin tablet-only() {
  // Medium devices (tablets, 768px and up)
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin laptop-only() {
  // Large devices (desktops, 992px and up)
  @media (min-width: $screen-lg-min) and (max-width: $screen-xl-max) {
    @content;
  }
}

@mixin desktop-only() {
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $screen-xl-min) {
    @content;
  }
}
