@import 'variables';
@import 'breakpoint';

@mixin shadow-main {
  box-shadow: 0px 24px 48px rgb(230, 235, 245);
}

@mixin shadow-second {
  box-shadow: 0px 6px 16px rgba(230, 235, 245, 0.8);
}

@mixin btn--light {
  background: $color-white;
  color: $color-button-hit;
  &:hover {
    background: $color-active-item;
    color: $color-white;
  }
  &:active {
    background: $color-button-hit;
    color: $color-white;
  }
}

@mixin btn--primary {
  background: $color-gosblue;
  color: $color-white;
  &:hover {
    background: $color-active-item;
  }
  &:active {
    background: $color-button-hit;
    color: $color-white;
  }
}

@mixin first-letter-uppercase {
  &:first-letter {
    text-transform: uppercase;
  }
}

@mixin centred-axis-x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin modal-body {
  @include centred-axis-x();
  z-index: $modal-z-index;
  background: $color-white;
}

@mixin navigation-mt {
  padding-top: 24px;
  @include tablets-down {
    padding-top: 0;
  }
}

%submit-button-margin {
  margin-top: 8px;
  @include tablets-up {
    margin-top: 32px;
  }
}
