// Brand colors
$color-white: #ffffff;
$color-gosblue: #0d4cd3;
$color-gosred: #ee3f58;
$color-summer-night: #0b1f33;
$color-input: #f5f7fa;
$color-devider: #99b1e6;
$color-error-highlight: #f8dee4;
$color-shadow: #a5bae9;
$color-background: #fafcff;
$color-bg-disabled: #d1d5df;
$color-text-helper: #828c9a;
$color-active-item: #1d5deb;
$color-giallo-brillante: #fed13e;
$color-giallo-selezionato: #f8b200;
$color-tag-line: #edf2fe;
$color-button-disabled: #e5eaf5;
$color-tagline-hit: #d2dffb;
$color-nephritis: #2dc36a;
$color-green-sea: #16a086;
$color-button-hit: #0b40b3;


// TODO: Looks like it's out of brand colors, maybe it need to remove and use brand color instead.
$color-black: #000000;
$color-mine-shaft: #333333;
$storm-gray: #76767a;
$color-gray: #979ca1;
$color-light-gray: #f3f5fb;
$color-dark-gray: #515a63;
$color-pattens-blue: #f9fbfd;
$color-box-shadow: #e6ebf5;
$color-hawkes-blue: #d6e2fb;
