// Brand colors
$color-white: #ffffff;
$color-gosblue: #0d4cd3;
$color-gosred: #ee3f58;
$color-tela-rossa: #e11432;
$color-summer-night: #0b1f33;
$color-input: #f5f7fa;
$color-divider: #99b1e6;
$color-error-highlight: rgba(238, 63, 88, 0.16); // -> #f8dee4
$color-shadow: rgba(230, 235, 245, 0.4); // -> #a5bae9
$color-background: #fafcff;
$color-bg-disabled: #d1d5df;
$color-text-helper: #66727f;
$color-active-item: #1d5deb;
$color-giallo-brillante: #fed13e;
$color-giallo-selezionato: #f8b200;
$color-tag-line: rgba(29, 93, 235, 0.06); // -> #edf2fe
$color-button-disabled: #e5eaf5;
$color-button-hover: #66727f;
$color-tagline-hit: rgba(29, 93, 235, 0.18); // -> #d2dffb
$color-nephritis: #2dc36a;
$color-green-sea: #16a086;
$color-button-hit: #0b40b3;
$color-blu-digitale: #4d83fa;
$color-telegray-scuro: #86909c;
$color-blu-selvaggio: #9dacce;

// TODO: Looks like it's out of brand colors, maybe it need to remove and use brand color instead.
$color-black: #000000;
$color-mine-shaft: #333333;
$storm-gray: #76767a;
$color-gray: #979ca1;
$color-light-gray: #f3f5fb;
$color-link-water: #ced9f0;
$color-dark-gray: #515a63;
$color-pattens-blue: #f9fbfd;
$color-box-shadow: #e6ebf5;
$color-hawkes-blue: #d6e2fb;
$color-mercury: #e1e1e1;
$color-blue-selvaggio: #9dacce;
$color-selago: #f0f4fd;
$color-science-blue: #0849D2;
