@import "../core/palettes";
@import "../core/typography";
@import "./breakpoint";

.epgu-constructor-table {
  width: 100%;
  thead, .header {
    color: $color-text-helper;
    @include typ-plain-small();
  }
  tbody {
    @include typ-plain-text();
  }
  th, td {
    vertical-align: top;
    text-align: center;
    padding: 2px 8px;
    &:first-child {
      padding-left: 0;
      text-align: left;
    }
    &:last-child {
      padding-right: 0;
    }
    &.nowrap{
      white-space: nowrap;
    }
  }
  & .header{
    display: none;
  }
}

.epgu-constructor-table.table-bordered {
  border: 2px solid $color-gosblue;
  border-collapse: collapse;
  th, td {
    border: 2px solid $color-gosblue;
    padding: 2px 8px;
    text-align: center;
  }
}

@media(max-width: $screen-sm-max) {
  .epgu-constructor-table {
    &, thead, tbody, th, td, tr{
      display: block;
    }
    thead tr, th, &:not(thead) tr:first-child {
      display: none;
    }
    td {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 24px;
      padding: 0;
    }
    & .header{
      display: block;
      margin-bottom: 4px;
    }
    &.table-bordered {
      border: none;
      th, td {
        border: none;
        padding: 0;
        text-align: left;
      }
    }
  }
  .epgu-constructor-table,
  .epgu-constructor-table.table-bordered {
    & td:last-child {
      border-bottom: 1px solid $color-mercury;
      padding-bottom: 24px;
    }
  }
}



