@import "../core/palettes";
@import "../core/typography";
.epgu-constructor-table {
  width: 100%;
  margin-bottom: 24px;
  thead {
    color: $color-text-helper;
    @include typ-plain-small();
  }
  tbody {
    @include typ-plain-text();
  }
  th, td {
    vertical-align: top;
    text-align: center;
    padding: 2px 8px;
    &:first-child {
      padding-left: 0;
      text-align: left;
    }
    &:last-child {
      padding-right: 0;
    }
    &.nowrap{
      white-space: nowrap;
    }
  }
}

.epgu-constructor-table.table-bordered {
  border: 2px solid $color-gosblue;
  border-collapse: collapse;
  th, td {
    border: 2px solid $color-gosblue;
    padding: 2px 8px;
    text-align: center;
  }
}



