@import 'fonts';

$font-main: $font-lato, 'Arial', sans-serif;

@mixin typ-h1 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-extra;
  line-height: 48px;
}

@mixin typ-h2 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-xxl;
  line-height: 40px;
}

@mixin typ-h3 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-xl;
  line-height: 32px;
}

@mixin typ-h4 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-lg;
  line-height: 24px;
}

@mixin typ-h5 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-md;
  line-height: 24px;
}

@mixin typ-h6 {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-bold;
  font-size: $font-dflt;
  line-height: 24px;
}

@mixin typ-plain-text {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-dflt;
  line-height: 24px;
}

@mixin typ-plain-small {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-sm;
  line-height: 20px;
}

@mixin typ-plain-xs {
  font-family: $font-main;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: $font-xs;
  line-height: 20px;
}

@mixin info-screen__h3 {
  h3 {
    font-weight: bold;
    font-size: $font-xl;
    line-height: $font-xxl;
    text-align: center;
    margin: 24px 0 16px 0;
  }
  h3 + p, h3 + div {
    margin-top: 16px;
  }
}

@mixin info-screen__h5 {
  h5 {
    margin: 24px 0 8px 0;
    font-size: $font-md;
    line-height: $font-xl;
  }
  h5 ~ p {
    margin-top: 8px;
  }
  h5 + p {
    margin-top: 12px;
  }
}
