// Variables

// Border
$border-xl: 12px;
$border-lg: 8px;
$border-md: 4px;
$border-sm: 2px;
$border-round: 12px;

// Navigation
$navigation-mb: 24px;

// Other
$screen-pad-32: 32px;
$screen-pad-24: 24px;
$screen-pad-16: 16px;
$screen-pad-12: 12px;
$screen-pad-8: 8px;
$screen-pad-4: 4px;
$modal-z-index: 2147473648; // value overlaps gosbar by 1
