// Variables



// Border
$border-xl: 12px;
$border-lg: 8px;
$border-md: 4px;
$border-sm: 2px;
$border-round: 12px;

// Other
$screen-pad-p: 24px;
$modal-z-index: 2147473648; // value overlaps gosbar by 1
