// Variables

// Border
$border-xl: 12px;
$border-lg: 8px;
$border-md: 4px;
$border-sm: 2px;
$border-round: 12px;

// Navigation
$navigation-mb: 24px;

// Other
$screen-pad-p: 24px;
$screen-pad-small-gap: 16px;
$screen-pad-gap: 32px;
$screen-pad-top: 16px;
$modal-z-index: 2147473648; // value overlaps gosbar by 1
