<section class="add-children-screen">
  <form [formGroup]="addChildrenForm">
    <div class="add-children-screen__card" *ngFor="let item of items; let idx = index">
      <div class="card">
        <div class="card__wrapper">
          <div class="card__header">
            <div class="card__title">Ребенок {{ idx + 1 }}</div>
            <div class="card__close">
              <button (click)="removeChild(item)" class="button-close">
                <div class="icon-close"></div>
              </button>
            </div>
          </div>
          <div class="card__content">
            <div>
              <epgu-constructor-label [for]="idx">
                Выберите ребенка из вашего профиля
              </epgu-constructor-label>
            </div>
            <div class="card__select">
              <lib-dropdown
                [id]="idx"
                [formControlName]="item"
                (changed)="handleSelect($event, item)"
                [items]="itemsToSelect"
              ></lib-dropdown>
            </div>
            <epgu-constructor-add-new-child-form
              *ngIf="selectedItems[item] && selectedItems[item].isNew === true"
              [item]="selectedItems[item]"
              (childUpdateEvent)="updateChild($event, item)"
            ></epgu-constructor-add-new-child-form>
          </div>
        </div>
      </div>
    </div>

    <div class="add-children-screen__action">
      <button class="add-children-screen__button button" (click)="addMoreChild()">
        <label class="button__label">Добавить ребенка</label>
      </button>
    </div>
  </form>
</section>
