<div class="form__name">Паспорт РФ</div>
<form [formGroup]="passportForm" class="form__inputs">
  <div class="inputs__field" *ngFor="let field of attrs.fields">
    <epgu-constructor-label
      [label]="field.label"
      [attr.for]="field.fieldName"
    ></epgu-constructor-label>
    <lib-standard-masked-input
      epgu-constructor-trim
      epgu-constructor-text-transform
      [id]="field.fieldName"
      [textTransformType]="attrs.fstuc"
      [validationShowOn]="touchedUnfocused"
      [invalid]="passportForm.controls[field.fieldName].invalid"
      [formControlName]="field.fieldName"
      [mask]="field.mask | maskHandle"
      [showMaskAsPlaceholder]="!field.placeholder"
      [placeholder]="field.placeholder"
      [showConstantMaskSymbols]="true"
    ></lib-standard-masked-input>
  </div>
</form>
