<section class="birth-certificate component">
  <div *ngIf="isCompleteData" class="component__wrapper">
    <div class="component__field">
      <span class="component__strong">
        {{child.lastName + ' ' + child.firstName + ' ' + child.middleName }}
      </span>
    </div>
    <div class="component__field field field--small">
      <div>
        {{ child.gender === 'муж' ? 'мальчик' : 'девочка' }}
      </div>
    </div>
    <div class="component__field">
      <epgu-constructor-label>
        Дата рождения:
      </epgu-constructor-label>
      <div>
        {{ child.birthDate }}
      </div>
    </div>
    <div class="component__field margin-top">
      <span class="component__strong">
        Свидетельство о рождении
      </span>
    </div>
    <div class="component__field">
      <epgu-constructor-label>
        Серия и номер:
      </epgu-constructor-label>
      <div>
        {{ child.rfBirthCertificateSeries + '-' + child.rfBirthCertificateNumber}}
      </div>
    </div>
    <div class="component__field">
      <epgu-constructor-label>
        Актовая запись:
      </epgu-constructor-label>
      <div>
        {{ child.rfBirthCertificateActNumber }}
      </div>
    </div>
    <div class="component__field">
      <epgu-constructor-label>
        Дата выдачи
      </epgu-constructor-label>
      <div>
        {{ child.rfBirthCertificateIssueDate }}
      </div>
    </div>
    <div class="component__field">
      <epgu-constructor-label>
        Кем выдано
      </epgu-constructor-label>
      <div>
        {{ child.rfBirthCertificateIssuedBy }}
      </div>
    </div>
  </div>
  <form #birthCertificateForm="ngForm" *ngIf="!isCompleteData && child" class="component__wrapper">
    <div class="component__field">
      <span class="component__strong">
        {{child.lastName + ' ' + child.firstName + ' ' + child.middleName }}
      </span>
    </div>
    <div class="component__field field field--row">
      <div>
        <epgu-constructor-label for="series">
          Серия
        </epgu-constructor-label>
        <lib-plain-input
          id="series"
          name="rfBirthCertificateSeries"
          [(ngModel)]="child.rfBirthCertificateSeries">

        </lib-plain-input>
      </div>
      <div>
        <epgu-constructor-label for="number">
          Номер
        </epgu-constructor-label>
        <lib-plain-input
          id="number"
          name="rfBirthCertificateNumber"
          [(ngModel)]="child.rfBirthCertificateNumber">

        </lib-plain-input>
      </div>
    </div>
    <div class="component__field">
      <epgu-constructor-label for="actNumber">
        Номер актовой записи
      </epgu-constructor-label>
      <lib-plain-input
        id="actNumber"
        name="rfBirthCertificateActNumber"
        [(ngModel)]="child.rfBirthCertificateActNumber">

      </lib-plain-input>
    </div>
    <div class="component__field">
      <epgu-constructor-label for="date">
        Дата выдачи
      </epgu-constructor-label>
      <lib-date-picker
        id="date"
        name="rfBirthCertificateIssueDate"
        [(ngModel)]="child.rfBirthCertificateIssueDate">

      </lib-date-picker>
    </div>
    <div class="component__field">
      <epgu-constructor-label for="emitter">
        Кем выдано
      </epgu-constructor-label>
      <lib-plain-input
        id="emitter"
        name="rfBirthCertificateIssuedBy"
        [(ngModel)]="child.rfBirthCertificateIssuedBy">

      </lib-plain-input>
    </div>
  </form>
</section>
