<div class="container">
  <div class="main" *ngFor="let item of versions">
    <ng-container *ngIf="{libVersions: (item.libVersions$ | async), serviceVersions: (item.serviceVersions$ | async)} as data">
      <ng-container *ngIf="data.libVersions || data.serviceVersions">
        <stand [name]="item.standType" [libVersions]="data.libVersions" [serviceVersions]="data.serviceVersions"></stand>
      </ng-container>
    </ng-container>
  </div>

  <error [error]="errorService.errorEmitter | async"></error>
</div>
