.main {
  margin-bottom: 30px;
  h1 {
    background-color: rgb(79, 98, 207);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px 0 10px 15px;
    margin: 0;
    font-size: 22px;
  }

  .content {
    padding-left: 20px;
    max-width: 1400px;
  }
}
