@import '~@epgu/epgu-constructor-ui-kit/src/styles/core';

$my: 96px;
$pyConfModal: 64px;
$headerHeight: 57px;
$controlHeight: 55px;

:host::ng-deep {
  .modal-overlay {
    @include modal-overlay();
  }

  .screen-modal {
    display: flex;
    flex-direction: column;
    @include modal-body();
    width: 100%;
    height: 100%;
    padding: 32px;
    @include tablets-up {
      max-height: calc(100vh - #{$my * 2});
      min-height: 293px;
      width: 634px;
      height: auto;
      border-radius: 12px;
    }

    @include phones-down {
      padding: 24px;
    }

    &__header {
      border-bottom: 1px solid $color-divider;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }

    &__body {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    &__content {
      .text {
        padding-right: 15px;
      }
    }

    &__controls {
      display: flex;
      margin-top: 26px;
      justify-content: center;
      flex: 1 1 auto;
      & > *:not(:last-child) {
        margin-right: 20px;
      }

      @include tablets-down {
        flex-direction: column;
        justify-content: flex-end;
        & > *:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    &__button {
      @include tablets-down {
        width: 100%;
      }
    }
  }

  .ps-content {
    display: block;
    height: 100%;
    padding-right: 5px; // fix overlapping content by scroll
    padding-bottom: 2px; // hack for avoid overlapping of buttons

    @include tablets-up {
      max-height: calc(100vh - #{$my * 2} - #{$pyConfModal} - #{$headerHeight} - #{$controlHeight});
    }
  }

  .header {
    &--fake {
      text-align: center;
      @include tablets-down {
        @include typ-h3;
        text-align: left;
        padding-right: 50px;
        color: $color-summer-night;
        border-bottom: 1px solid $color-divider;
        padding-bottom: 24px;
        margin-bottom: 24px;
      }
    }
  }
}
