<epgu-constructor-confirm-personal-user-screen-layout>
  <div class="body">
    <epgu-constructor-confirm-personal-user-phone
      [label]="data?.label"
      [data]="data?.value"
      [error]="errors && errors[data?.id]"
      [isEditButtonShown]="data?.attrs?.actions?.length === 1"
    ></epgu-constructor-confirm-personal-user-phone>
  </div>

  <div class="footer">
    <ng-container #actions *ngIf="data?.attrs?.actions?.length > 1">

    <epgu-constructor-confirm-personal-user-button
      class="confirm-personal-user-button"
      *ngFor="let action of data?.attrs?.actions"
      [action]="action.method"
      (tap)="clickToAction(action)">
      {{ action.label }}
    </epgu-constructor-confirm-personal-user-button>
    </ng-container>
  </div>
</epgu-constructor-confirm-personal-user-screen-layout>
