<form #customForm="ngForm" action="" class="form">
  <div class="form__item" *ngFor="let componentData of components">
    <ng-container [ngSwitch]="componentData.type" *ngIf="state[componentData.id].isShown">
      <ng-container *ngSwitchCase="componentType.LabelSection">
          <epgu-constructor-output-html
            class="label"
            [html]="componentData.label || state[componentData.id].value"
            [clarifications]="componentData?.attrs.clarifications">
          </epgu-constructor-output-html>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.Dictionary">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <lib-dropdown
            class="cs__select cs-select"
            [disabled]="state[componentData.id].disabled"
            [items]="dictionary[componentData?.attrs?.dictionaryType + componentData?.id]?.list"
            (changed)="selectDictionary($event, componentData)"
          ></lib-dropdown>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.GenderSelection">
         <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <epgu-constructor-gender-radio-button
            [disabled]="state[componentData.id].disabled"
            [(ngModel)]="state[componentData.id].value">
          </epgu-constructor-gender-radio-button>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.DropDown">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <lib-dropdown
            class="cs__select cs-select"
            [disabled]="state[componentData.id].disabled"
            [items]="dropDown[componentData?.id]?.list"
            (changed)="selectDropDown($event, componentData)"
          ></lib-dropdown>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.Lookup">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <lib-lookup
            [queryMinSymbolsCount]="0"
            [searchCaseSensitive]="false"
            [disabled]="state[componentData.id].disabled"
            [fixedItems]="
              dictionary[componentData?.attrs?.dictionaryType + componentData?.id]?.list
            "
            (changed)="selectDictionary($event, componentData)"
          ></lib-lookup>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.htmlString">
          <epgu-constructor-output-html
            class="info__text"
            *ngIf="!state[componentData.id].disabled"
            [html]="componentData?.label"
            [clarifications]="componentData?.attrs?.clarifications">
          </epgu-constructor-output-html>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.StringInput">
          <ng-container *ngTemplateOutlet="textInputTemplate"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.OgrnInput">
        <ng-container *ngTemplateOutlet="textInputTemplate"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.OgrnipInput">
        <ng-container *ngTemplateOutlet="textInputTemplate"></ng-container>
      </ng-container>

      <ng-template #textInputTemplate>
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <lib-standard-masked-input
            *ngIf="componentData.attrs?.mask; else plainInput"
            [clearable]="true"
            [mask]="componentData.attrs?.mask | maskHandle"
            [placeholder]="componentData.attrs?.placeholder"
            [name]="componentData.id"
            [disabled]="state[componentData.id].disabled"
            [showMaskAsPlaceholder]="true"
            [showConstantMaskSymbols]="true"
            [(ngModel)]="state[componentData.id].value"
            (change)="inputChange($event, componentData)"
            [validation]="state[componentData.id].valid"
          ></lib-standard-masked-input>

          <ng-template #plainInput>
            <lib-plain-input
              [invalid]="!state[componentData.id].valid"
              [name]="componentData.id"
              [disabled]="state[componentData.id].disabled"
              [(ngModel)]="state[componentData.id].value"
              (change)="inputChange($event, componentData)"
              [validationShowOn]="validationShowOn"
              [clearable]="true"
            ></lib-plain-input>
          </ng-template>
          <div class="form__error">
            <small *ngIf="!state[componentData.id].valid">{{ state[componentData.id]?.errorMessage }}</small>
          </div>
      </ng-template>

      <ng-container *ngSwitchCase="componentType.CheckBox">
          <div [ngClass]="
              componentData?.attrs?.isHorizontal ? 'form__radio_inline' : 'form__radio_block'
            ">
            <lib-checkbox
              [checkboxId]="componentData.id"
              [checked]="componentData?.attrs?.checked"
              [disabled]="state[componentData.id].disabled"
              [labelText]="componentData?.label"
              (change)="checkboxFieldsTogglerChange($event, componentData)"
            >
            </lib-checkbox>
          </div>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.RadioInput">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <div
            [ngClass]="
              componentData?.attrs?.isHorizontal ? 'form__radio_inline' : 'form__radio_block'
            "
          >
            <lib-radio
              *ngFor="let item of componentData?.attrs?.supportedValues"
              [name]="componentData.id"
              [labelText]="item.label"
              [disabled]="state[componentData.id].disabled"
              [value]="item.value"
              [checked]="item.isDefault"
              (change)="inputChange($event, componentData)"
            >
            </lib-radio>
          </div>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.DateInput">
        <div class="form__item--date">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <!-- нужно добавить changes для проверки зависимости от даты-->
          <lib-date-picker
            [name]="componentData.id"
            [disabled]="state[componentData.id].disabled"
            (ngModelChange)="dateChange($event, componentData)"
            [(ngModel)]="state[componentData.id].value"
            minDate="-18y"
          ></lib-date-picker>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.AddressInput">
          <ng-container *ngTemplateOutlet="formLabel; context: componentData"></ng-container>
          <lib-dadata-widget
            [simpleMode]="true"
            [name]="componentData.id"
            [hideLevels]="componentData?.attrs?.hideLevels || []"
            [disabled]="state[componentData.id].disabled"
            [externalApiUrl]="config.externalApiUrl + '/'"
            [initValue]="state[componentData.id].value"
            [(ngModel)]="state[componentData.id].value"
            (change)="inputChange($event, componentData)"
          >
          </lib-dadata-widget>
      </ng-container>
    </ng-container>

    <div class="form__info">
      <ng-container *ngTemplateOutlet="formHintAndRequired; context: componentData"></ng-container>
    </div>
  </div>
</form>


<ng-template #formLabel let-label="label">
  <epgu-constructor-label>{{ label }}</epgu-constructor-label>
</ng-template>

<ng-template #formHintAndRequired let-attrs="attrs" let-required="required">
  <span *ngIf="attrs?.hint" class="form__item__hint">{{ attrs.hint}}</span>
  <epgu-constructor-helper-text *ngIf="!required">{{ optionalField }}</epgu-constructor-helper-text>
</ng-template>
