@import '../../../../styles/core/palettes';
@import '../../../../styles/core/typography';

// test
.form {
  &__item {
    margin-bottom: 24px;

    &__hint {
      margin-top: 4px;
      @include typ-plain-xs();
    }
  }
  &__title {
    font-size: 14px;
    font-family: $font-main;
    line-height: 20px;
    color: $color-summer-night;
    margin-bottom: 4px;
  }
  &__error {
    margin-top: 4px;
    color: $color-gosred;
  }
  &__radio {
    &_block {
      display: inline-block;

      lib-radio,
      lib-checkbox {
        display: block;
        margin-bottom: 16px;
      }

      lib-checkbox {
        &:first-child {
          margin-top: 4px;
        }
      }
    }
    &_inline {
      margin-top: 4px;
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
}

.label {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
