<form class="form">
  <div class="form__item" *ngFor="let componentData of form.controls; let idx = index;">
    <ng-container [ngSwitch]="componentData.value?.type" *ngIf="shownElements[componentData.value?.id]">
      <ng-container *ngSwitchCase="componentType.LabelSection">
        <ng-template
          [ngTemplateOutlet]="formOutputHtml"
          [ngTemplateOutletContext]="{$implicit: {class: 'label', value: componentData.value }}">
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.HtmlString">
        <ng-template
          [ngTemplateOutlet]="formOutputHtml"
          [ngTemplateOutletContext]="{$implicit: {class: 'info__text', value: componentData.value }}">
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.NewEmailInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.StringInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.DropDown">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <lib-dropdown
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [items]="dropDowns[componentData.value?.id]"
          [validationShowOn]="validationShowOn"
          [formControl]="componentData.get('value')"
          class="cs__select cs-select">
        </lib-dropdown>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.Dictionary">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <lib-dropdown
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [items]="dictionaries[componentData.value?.attrs?.dictionaryType + componentData.value?.id]?.list"
          [validationShowOn]="validationShowOn"
          [formControl]="componentData.get('value')"
          class="cs__select cs-select">
        </lib-dropdown>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.Lookup">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <lib-lookup
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [formControl]="componentData.get('value')"
          [queryMinSymbolsCount]="0"
          [searchCaseSensitive]="false"
          [fixedItems]="dictionaries[componentData.value?.attrs?.dictionaryType + componentData.value?.id]?.list">
        </lib-lookup>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.RadioInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <div [ngClass]="componentData.value?.attrs?.isHorizontal ? 'form__radio__inline' : 'form__radio__block'">
          <lib-radio
            *ngFor="let item of componentData.value?.attrs?.supportedValues"
            [name]="componentData.value.id"
            [labelText]="item.label"
            [formControl]="componentData.get('value')"
            [value]="item.value">
          </lib-radio>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.CheckBox">
        <div [ngClass]="componentData.value?.attrs?.isHorizontal ? 'form__radio_inline' : 'form__radio_block'">
          <lib-checkbox
            [checkboxId]="componentData.value?.id"
            [formControl]="componentData.get('value')"
            [disabled]="componentData.value?.disabled"
            [labelText]="componentData.value?.label">
          </lib-checkbox>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.DateInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <lib-date-picker
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn"
          [name]="componentData.value?.id"
          [formControl]="componentData.get('value')"
          minDate="-18y"
          align="left"
        ></lib-date-picker>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.AddressInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
          <lib-dadata-widget
            [simpleMode]="true"
            [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
            [validationShowOn]="validationShowOn"
            [hideHouseCheckbox]="true"
            [externalApiUrl]="configService.externalApiUrl + '/'"
            [formControl]="componentData.get('value')">
          </lib-dadata-widget>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.PhoneNumberChangeInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.OgrnInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.OgrnipInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.LegalInnInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="componentType.SnilsInput">
      <ng-template
        [ngTemplateOutlet]="formLabel"
        [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
      </ng-template>
      <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
    </ng-container>

      <ng-container *ngSwitchCase="componentType.PersonInnInput">
        <ng-template
          [ngTemplateOutlet]="formLabel"
          [ngTemplateOutletContext]="{ $implicit: componentData.value?.label }">
        </ng-template>
        <ng-template [ngTemplateOutlet]="maskedInput"></ng-template>
      </ng-container>

      <ng-template
        [ngTemplateOutlet]="formErrors"
        [ngTemplateOutletContext]="{ $implicit: componentData.get('value') }">
      </ng-template>

      <ng-template
        [ngTemplateOutlet]="formHintAndRequired">
      </ng-template>

      <ng-template #formHintAndRequired>
        <div class="form__info">
          <span *ngIf="componentData.value?.attrs?.hint as hint" class="form__item__hint">
            {{ hint }}
          </span>
          <epgu-constructor-helper-text *ngIf="!componentData.value?.required">
            {{ optionalField }}
          </epgu-constructor-helper-text>
        </div>
      </ng-template>


      <ng-template #plainInput>
        <lib-plain-input
          [epgu-constructor-currency-transform]="componentData.value?.attrs?.price"
          epgu-constructor-trim
          epgu-constructor-text-transform
          [textTransformType]="componentData.value?.attrs?.fstuc"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [name]="componentData.value?.id"
          [formControl]="componentData.get('value')"
          [validationShowOn]="validationShowOn"
        ></lib-plain-input>
      </ng-template>

      <ng-template #maskedInput>
        <lib-standard-masked-input
          *ngIf="componentData.value?.attrs?.mask; else plainInput"
          epgu-constructor-text-transform
          [textTransformType]="componentData.value?.attrs?.fstuc"
          [clearable]="true"
          [mask]="componentData.value?.attrs?.mask | maskHandle"
          [placeholder]="componentData.value?.attrs?.placeholder"
          [name]="componentData.value?.id"
          [showMaskAsPlaceholder]="false"
          [showConstantMaskSymbols]="true"
          [formControl]="componentData.get('value')"
          [invalid]="componentData.get('value').invalid && componentData.get('value').touched"
          [validationShowOn]="validationShowOn">
        </lib-standard-masked-input>
      </ng-template>

    </ng-container>
  </div>
</form>

<ng-template #formLabel let-label>
  <epgu-constructor-label>{{ label }}</epgu-constructor-label>
</ng-template>

<ng-template #formErrors let-control>
  <div class="form__error">
    <small *ngIf="control.invalid && control.touched">
      {{ control.getError('msg') }}
    </small>
  </div>
</ng-template>

<ng-template #formOutputHtml let-data>
  <epgu-constructor-output-html
    [class]="data.class"
    [html]="data.value?.label"
    [clarifications]="data.value?.attrs?.clarifications">
  </epgu-constructor-output-html>
</ng-template>

