@import '../../../../styles/core/palettes';
@import '../../../../styles/core/typography';
@import '../../../../styles/core/variables';

// test
.form {
  &__item {
    margin-bottom: $screen-pad-p;

    &__hint {
      margin-top: 4px;
      @include typ-plain-xs();
    }
  }
  &__title {
    font-size: 14px;
    font-family: $font-main;
    line-height: 20px;
    color: $color-summer-night;
    margin-bottom: 4px;
  }
  &__error {
    margin-top: 4px;
    color: $color-gosred;
  }
  &__radio {

    &__block {
      margin-top: $screen-pad-p;
      display: inline-block;
      lib-radio {
        display: block;
        margin-bottom: 16px;
      }
    }
    &__inline {
      margin-top: $screen-pad-p;
      display: inline-flex;
      lib-radio:not(:first-child) {
        margin-left: $screen-pad-p;
      }
    }
  }
}

.label {
  margin-bottom: $screen-pad-p;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
